# {{ ansible_managed }}
# 2024110701

ca:
   root:
      dn: 'CN={{ graylog_datanode__generate_certs_ca_cn }},{{ graylog_datanode__generate_certs_base_dn }}'
      keysize: 2048
      validityDays: 3650
      pkPassword: 'none'
      file: 'root-ca.pem'

### Default values and global settings
defaults:
      validityDays: 3650
      pkPassword: 'none'
      # Set this to true in order to generate config and certificates for
      # the HTTP interface of nodes
      httpsEnabled: true
      reuseTransportCertificatesForHttp: false
      verifyHostnames: false
      resolveHostnames: false


###
### Nodes
###
#
# Specify the nodes of your ES cluster here
nodes:
{% for item in graylog_datanode__generate_certs_nodes %}
  - name: '{{ item["cn"] }}'
    dn: 'CN={{ item["cn"] }},{{ graylog_datanode__generate_certs_base_dn }}'
    dns: '{{ item["cn"] }}'
    ip: '{{ item["ip"] }}'
{% endfor %}


###
### Clients
###
#
# Specify the clients that shall access your ES cluster with certificate authentication here
#
# At least one client must be an admin user (i.e., a super-user). Admin users can
# be specified with the attribute admin: true
clients:
  - name: 'admin' # filename
    dn: 'CN={{ graylog_datanode__generate_certs_admin_cn }},{{ graylog_datanode__generate_certs_base_dn }}'
    admin: true
