powered by
.____    .__                       _____      ___.         .__ __
|    |   |__| ____  __ _____  ____/ ____\\____ \\_ |_________|__|  | __
|    |   |  |/    \\|  |  \\  \\/  /\\   __\\\\__  \\ | __ \\_  __ \\  |  |/ /
|    |___|  |   |  \\  |  />    <  |  |   / __ \\| \\_\\ \\  | \\/  |    <
|_______ \\__|___|  /____//__/\\_ \\ |__|  (____  /___  /__|  |__|__|_ \\
        \\/       \\/            \\/            \\/    \\/              \\/

************************************************************************
*                                                                      *
* This system is for the use of authorized users only. Individuals     *
* using this computer system without authority or in excess of their   *
* authority are subject to having all their activities on this system  *
* monitored and recorded by system personnel. Anyone using this        *
* system expressly consents to such monitoring and is advised that     *
* if such monitoring reveals possible evidence of criminal activity    *
* system personal may provide the evidence of such monitoring to law   *
* enforcement officials.                                               *
*                                                                      *
************************************************************************
