- block:

  - name: 'Install redis'
    ansible.builtin.package:
      name: 'redis'
      state: 'present'

  - name: 'Get the list of installed packages'
    ansible.builtin.package_facts:  # yamllint disable-line rule:empty-values
    check_mode: false # run task even if `--check` is specified

  - name: 'Get Redis version'
    ansible.builtin.set_fact:
      redis__installed_version: '{{ ansible_facts.packages["redis"][0]["version"][:1] }}'

  - name: 'Deploy /etc/redis.conf (v{{ redis__installed_version }})'
    ansible.builtin.template:
      src: 'etc/{{ redis__installed_version }}-redis.conf.j2'
      dest: '/etc/redis.conf'
      owner: 'root'
      group: 'root'
      mode: 0o644
    notify: 'redis: restart redis'
    when:
      - 'redis__installed_version in ["5", "6"]'

  - name: 'Deploy /etc/redis/redis.conf (v{{ redis__installed_version }})'
    ansible.builtin.template:
      src: 'etc/redis/{{ redis__installed_version }}-redis.conf.j2'
      dest: '/etc/redis/redis.conf'
      owner: 'root'
      group: 'root'
      mode: 0o644
    notify: 'redis: restart redis'
    when:
      - 'redis__installed_version in ["7"]'

  - name: 'Remove rpmnew / rpmsave (and Debian equivalents)'
    ansible.builtin.include_role:
      name: 'shared'
      tasks_from: 'remove-rpmnew-rpmsave.yml'
    vars:
      shared__remove_rpmnew_rpmsave_config_file: '/etc/redis.conf'

  - name: 'Deploy /etc/systemd/system/redis.service.d/z00-linuxfabrik.conf.j2'
    ansible.builtin.template:
      src: 'etc/systemd/system/redis.service.d/z00-linuxfabrik.conf.j2'
      dest: '/etc/systemd/system/redis.service.d/z00-linuxfabrik.conf'
      owner: 'root'
      group: 'root'
      mode: 0o644

  tags:
    - 'redis'


- block:

  - name: 'systemctl {{ redis__service_enabled | bool | ternary("enable", "disable") }} --now redis.service'
    ansible.builtin.systemd:
      name: 'redis.service'
      enabled: '{{ redis__service_enabled }}'
      state: '{{ redis__service_enabled | bool | ternary("started", "stopped") }}'
      daemon_reload: true

  tags:
    - 'redis'
    - 'redis:state'
