# {{ ansible_managed }}
# 2022120901

[collaboraoffice.com_repos_CollaboraOnline_{{ repo_collabora__version }}_customer-centos7-{{ repo_collabora__customer_token }}]
name=created by dnf config-manager from https://www.collaboraoffice.com/repos/CollaboraOnline/{{ repo_collabora__version }}/customer-centos7-{{ repo_collabora__customer_token }}
baseurl=https://www.collaboraoffice.com/repos/CollaboraOnline/{{ repo_collabora__version }}/customer-centos7-{{ repo_collabora__customer_token }}
enabled=1
