icinga2_agent__additional_icinga2_master_endpoints: []
icinga2_agent__cn: '{{ ansible_facts["nodename"] }}'
icinga2_agent__director_host_object_address: '{{
    ansible_facts["ip_addresses"] | ansible.utils.ipv4 | first if ansible_facts["os_family"] == "Windows" else
    ansible_facts["default_ipv4"]["address"]
  }}'
icinga2_agent__director_host_object_display_name: '{{ ansible_facts["hostname"] }}'
icinga2_agent__director_host_object_import: '{{
    ["tpl-host-windows"] if ansible_facts["os_family"] == "Windows" else
    ["tpl-host-linux"]
  }}'
icinga2_agent__icinga2_master_port: 5665
icinga2_agent__service_enabled: true
icinga2_agent__icingaweb2_url: 'https://{{ icinga2_agent__icinga2_master_host }}/icingaweb2'
