- block:
  - name: 'curl https://packages.graylog2.org/repo/debian/pubkey.gpg --output /tmp/ansible.RPM-GPG-KEY-graylog'
    ansible.builtin.get_url:
      url: 'https://packages.graylog2.org/repo/debian/pubkey.gpg'
      dest: '/tmp/ansible.RPM-GPG-KEY-graylog'
      mode: 0o644
    delegate_to: 'localhost'
    changed_when: false # not an actual config change on the server
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.RPM-GPG-KEY-graylog to remote host'
    ansible.builtin.copy:
      src: '/tmp/ansible.RPM-GPG-KEY-graylog'
      dest: '/etc/pki/rpm-gpg/RPM-GPG-KEY-graylog'
      mode: 0o644

  # https://www.elastic.co/guide/en/graylog/reference/current/rpm.html#rpm-repo
  - name: 'Deploy the graylog repo (mirror: {{ repo_graylog__mirror_url }})'
    ansible.builtin.template:
      src: 'etc/yum.repos.d/graylog.repo.j2'
      dest: '/etc/yum.repos.d/graylog.repo'
      owner: 'root'
      group: 'root'
      mode: 0o644

  - name: 'Remove rpmnew / rpmsave (and Debian equivalents)'
    ansible.builtin.include_role:
      name: 'shared'
      tasks_from: 'remove-rpmnew-rpmsave.yml'
    vars:
      shared__remove_rpmnew_rpmsave_config_file: '/etc/yum.repos.d/graylog.repo'

  tags:
    - 'repo_graylog'
