# {{ ansible_managed }}
# 2023122901

[mongodb-org-{{ repo_mongodb__version }}]
name=MongoDB Repository for Version {{ repo_mongodb__version }}
{% if repo_mongodb__mirror_url is defined and repo_mongodb__mirror_url | length %}
baseurl={{ repo_mongodb__mirror_url }}/mongodb/yum/redhat/$releasever/mongodb-org/{{ repo_mongodb__version }}/x86_64/
{% else %}
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ repo_mongodb__version }}/x86_64/
{% endif %}
enabled=1
gpgcheck=1
gpgkey=https://www.mongodb.org/static/pgp/server-{{ repo_mongodb__version }}.asc
{% if repo_mongodb__basic_auth_login is defined and repo_mongodb__basic_auth_login | length %}
username={{ repo_mongodb__basic_auth_login["username"] }}
password={{ repo_mongodb__basic_auth_login["password"] }}
{% endif %}
