; {{ ansible_managed }}
; 2024110501

{% for item in icingaweb2__navigation_icingadb_host_actions_entries__combined_var if item['state'] | d('present') != 'absent' %}
[{{ item['name'] }}]
{% for key, value in item.items() if not key == 'name' %}
{{ key }} = "{{ value }}"
{% endfor %}

{% endfor %}
