{% for item in icingaweb2__combined_navigation_menu_entries %}
[{{ item.name }}]
{% for key, value in item.items() %}
{% if key != 'name' %}
{{ key }} = "{{ value }}"
{% endif %}
{% endfor %}

{% endfor %}
