# {{ ansible_managed }}
# 2023122901

[runner_gitlab-runner]
name=runner_gitlab-runner
{% if repo_gitlab_runner__mirror_url is defined and repo_gitlab_runner__mirror_url | length %}
baseurl={{ repo_gitlab_runner__mirror_url }}/gitlab-runner/el/$releasever/$basearch
{% else %}
baseurl=https://packages.gitlab.com/runner/gitlab-runner/el/$releasever/$basearch
{% endif %}
repo_gpgcheck=1
gpgcheck=1
enabled=1
gpgkey=https://packages.gitlab.com/runner/gitlab-runner/gpgkey
       https://packages.gitlab.com/runner/gitlab-runner/gpgkey/runner-gitlab-runner-4C80FB51394521E9.pub.gpg
       https://packages.gitlab.com/runner/gitlab-runner/gpgkey/runner-gitlab-runner-49F16C5CC3A0F81F.pub.gpg
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
{% if repo_gitlab_runner__basic_auth_login is defined and repo_gitlab_runner__basic_auth_login | length %}
username={{ repo_gitlab_runner__basic_auth_login["username"] }}
password={{ repo_gitlab_runner__basic_auth_login["password"] }}
{% endif %}

[runner_gitlab-runner-source]
name=runner_gitlab-runner-source
{% if repo_gitlab_runner__mirror_url is defined and repo_gitlab_runner__mirror_url | length %}
baseurl={{ repo_gitlab_runner__mirror_url }}/gitlab-runner/el/$releasever/SRPMS
{% else %}
baseurl=https://packages.gitlab.com/runner/gitlab-runner/el/$releasever/SRPMS
{% endif %}
repo_gpgcheck=1
gpgcheck=1
enabled=1
gpgkey=https://packages.gitlab.com/runner/gitlab-runner/gpgkey
       https://packages.gitlab.com/runner/gitlab-runner/gpgkey/runner-gitlab-runner-4C80FB51394521E9.pub.gpg
       https://packages.gitlab.com/runner/gitlab-runner/gpgkey/runner-gitlab-runner-49F16C5CC3A0F81F.pub.gpg
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
{% if repo_gitlab_runner__basic_auth_login is defined and repo_gitlab_runner__basic_auth_login | length %}
username={{ repo_gitlab_runner__basic_auth_login["username"] }}
password={{ repo_gitlab_runner__basic_auth_login["password"] }}
{% endif %}
