auth-nocache
tls-version-min 1.2
remote-cert-tls server

pkcs12 /etc/openvpn/{{ inventory_hostname }}.p12
verify-x509-name {{ inventory_hostname }} name

dev tun
client
nobind
proto udp
persist-tun
keepalive 10 60

remote {{ inventory_hostname }} {{ openvpn_server__port }}

# 0 is silent, except for fatal errors
# 4 is reasonable for general usage
# 5 and 6 can help to debug connection problems
# 9 is extremely verbose
verb 3
