- block:

  - name: 'mkdir -p /usr/share/icingaweb2/modules/incubator'
    ansible.builtin.file:
      path: '/usr/share/icingaweb2/modules/incubator'
      state: 'directory'
      owner: 'apache'
      group: 'icingaweb2'
      mode: 0o755

  - name: 'curl https://github.com/Icinga/icingaweb2-module-incubator/archive/{{ icingaweb2_module_incubator__version }}.tar.gz --output /tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
    ansible.builtin.get_url:
      url: 'https://github.com/Icinga/icingaweb2-module-incubator/archive/{{ icingaweb2_module_incubator__version }}.tar.gz'
      dest: '/tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
    delegate_to: 'localhost'
    run_once: true
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz to the server'
    ansible.builtin.copy:
      src: '/tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
      dest: '/tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'

  - name: 'tar xfz --strip-components 1 -C /usr/share/icingaweb2/modules/incubator /tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
    ansible.builtin.unarchive:
      src: '/tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
      dest: '/usr/share/icingaweb2/modules/incubator'
      remote_src: false
      extra_opts:
        - '--strip-components=1'

  - name: 'rm -f /tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
    ansible.builtin.file:
      path: '/tmp/ansible.icingaweb2-module-incubator-{{ icingaweb2_module_incubator__version }}.tar.gz'
      state: 'absent'

  - name: 'icingacli module enable incubator'
    ansible.builtin.command: 'icingacli module enable incubator'
    args:
      creates: '/etc/icingaweb2/enabledModules/incubator'

  tags:
    - 'icingaweb2_module_incubator'
