# yamllint disable rule:braces
# yamllint disable rule:commas

nextcloud__apps: []

# can't use a "real" dict, because there are multiple keys with the same name, and also key names including dots
nextcloud__apps_config:
  - { key: 'core',              value: 'shareapi_default_expire_date --value=yes' }
  - { key: 'core',              value: 'shareapi_enforce_expire_date --value=no' }
  - { key: 'core',              value: 'shareapi_expire_after_n_days --value=90' }
  - { key: 'dav',               value: 'buildCalendarSearchIndex --value=yes' }
  - { key: 'password_policy',   value: 'enforceHaveIBeenPwned --value=1' }
  - { key: 'password_policy',   value: 'minLength --value=12' }
  - { key: 'privacy',           value: 'readableLocation --value="ch"' }
  - { key: 'text',              value: 'workspace_available --value=0' }
  - { key: 'theming',           value: 'imprintUrl --value=https://www.linuxfabrik.ch/ueber-uns/agb/' }
  - { key: 'theming',           value: 'name --value="Nextcloud für Teams / Nextcloud for Business"' }
  - { key: 'theming',           value: 'privacyUrl --value=https://www.linuxfabrik.ch/ueber-uns/agb/datenschutzerklaerung/' }
  - { key: 'theming',           value: 'slogan --value="powered by Linuxfabrik GmbH, Zürich"' }
  - { key: 'theming',           value: 'url --value=https:\/\/ws.linuxfabrik.io' }

nextcloud__datadir: '/data'

nextcloud__database_host: 'localhost'
nextcloud__database_name: 'nextcloud'

nextcloud__mariadb_login: '{{ mariadb_server__admin_user }}'

nextcloud__on_calendar_app_update: '06,18,23:{{ 59 | random(seed=inventory_hostname) }}'
nextcloud__on_calendar_jobs: '*:0/5'          # every 5 minutes
nextcloud__on_calendar_scan_files: '*:50:15'  # every hour at hh:50:15

nextcloud__proxyconfig: []

# order matters here, so do not sort alphabetically
nextcloud__sysconfig:
  - { key: 'check_for_working_wellknown_setup',  value: '--value=true --type=boolean' }
  - { key: 'datadirectory',                      value: '--value={{ nextcloud__datadir }}' }
  - { key: 'default_language',                   value: '--value=en' }
  - { key: 'default_phone_region',               value: '--value=CH' }
  - { key: 'log_rotate_size',                    value: '--value=10485760 --type=integer' }
  - { key: 'loglevel',                           value: '--value=2 --type=integer' }
  - { key: 'logtimezone',                        value: '--value=Europe/Zurich' }
  - { key: 'trusted_domains',                    value: "1 --value={{ ansible_facts['default_ipv4']['address'] }}" }
  - { key: 'trusted_domains',                    value: "2 --value={{ nextcloud__fqdn }}" }
  - { key: 'updatechecker',                      value: '--value=false --type=boolean' }
  - { key: 'redis',                              value: 'dbindex --value=0 --type=integer' }
  - { key: 'redis',                              value: 'host --value=127.0.0.1' }
  - { key: 'redis',                              value: 'port --value=6379 --type=integer' }
  - { key: 'redis',                              value: 'timeout --value=0.5 --type=integer' }
  - { key: 'memcache.local',                     value: '--value=\\OC\\Memcache\\Redis' }
  - { key: 'memcache.distributed',               value: '--value=\\OC\\Memcache\\Redis' }
  - { key: 'memcache.locking',                   value: '--value=\\OC\\Memcache\\Redis' }
  - { key: 'filelocking.enabled',                value: '--value=true --type=boolean' }
  # https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html#forbidden-chars
  - { key: 'forbidden_chars',                    value: '--value=["?", "<", ">", ":", "*", "|", "\"", "\u0000", "\n", "\r"]' }

nextcloud__timer_app_update_enabled: false
nextcloud__timer_jobs_enabled: true
nextcloud__timer_ldap_show_remnants_enabled: true
nextcloud__timer_scan_files_enabled: true

# 'latest', 'latest-XX' or 'nextcloud-XX.X.XX'
nextcloud__version: 'latest'

# -----------------------------------------------------------------------------
# no need to document the variables in the README below this line, as they
# are internally for this role

nextcloud__apache_httpd__mods__dependent_var:
  - filename: 'proxy_fcgi'
    enabled: true
    state: 'present'

nextcloud__apache_httpd__vhosts__dependent_var:
  - by_role: 'nextcloud'
    enabled: true
    filename: 'nextcloud'
    state: 'present'
    template: 'app'
    allowed_file_extensions:
      - '.*'
    allowed_http_methods:
      - '.*'
    authz_file_extensions: |-
        Require all granted
    authz_document_root: |-
        Require all granted
    virtualhost_ip: '{{ nextcloud__vhost_virtualhost_ip | d("*") }}'
    virtualhost_port: '{{ nextcloud__vhost_virtualhost_port | d(80) }}'
    conf_custom_log_format: 'combined'
    conf_directory_index: 'index.php index.html index.htm'
    conf_document_root: '/var/www/html/nextcloud'
    conf_error_log: 'logs/nextcloud-error.log'
    conf_server_admin: 'webmaster@linuxfabrik.ch'
    conf_server_name: '{{ nextcloud__fqdn }}'
    conf_timeout: 600
    raw: !unsafe |-
      <IfModule mod_dav.c>
          Dav off
      </IfModule>

      <IfModule mod_headers.c>
        <IfModule mod_setenvif.c>
          <IfModule mod_fcgid.c>
             SetEnvIfNoCase ^Authorization$ "(.+)" XAUTHORIZATION=$1
             RequestHeader set XAuthorization %{XAUTHORIZATION}e env=XAUTHORIZATION
          </IfModule>
          <IfModule mod_proxy_fcgi.c>
             SetEnvIfNoCase Authorization "(.+)" HTTP_AUTHORIZATION=$1
          </IfModule>
          <IfModule mod_lsapi.c>
            SetEnvIfNoCase ^Authorization$ "(.+)" XAUTHORIZATION=$1
            RequestHeader set XAuthorization %{XAUTHORIZATION}e env=XAUTHORIZATION
          </IfModule>
        </IfModule>

        <IfModule mod_env.c>
          # Add security and privacy related headers

          # Avoid doubled headers by unsetting headers in "onsuccess" table,
          # then add headers to "always" table: https://github.com/nextcloud/server/pull/19002
          Header onsuccess unset Referrer-Policy
          Header always set Referrer-Policy "no-referrer"

          Header onsuccess unset X-Content-Type-Options
          Header always set X-Content-Type-Options "nosniff"

          Header onsuccess unset X-Frame-Options
          Header always set X-Frame-Options "SAMEORIGIN"

          Header onsuccess unset X-Permitted-Cross-Domain-Policies
          Header always set X-Permitted-Cross-Domain-Policies "none"

          Header onsuccess unset X-Robots-Tag
          Header always set X-Robots-Tag "none"

          Header onsuccess unset X-XSS-Protection
          Header always set X-XSS-Protection "1; mode=block"

          SetEnv modHeadersAvailable true
        </IfModule>

        # Add cache control for static resources
        <FilesMatch "\.(css|gif|ico|jpg|js|png|svg|tflite|wasm)$">
          Header set Cache-Control "max-age=15778463"
        </FilesMatch>

        <FilesMatch "\.(css|gif|ico|jpg|js|png|svg|tflite|wasm)(\?v=.*)?$">
          Header set Cache-Control "max-age=15778463, immutable"
        </FilesMatch>

        # Let browsers cache WOFF files for a week
        <FilesMatch "\.woff2?$">
          Header set Cache-Control "max-age=604800"
        </FilesMatch>
      </IfModule>

      # PHP 7.x
      <IfModule mod_php7.c>
        php_value mbstring.func_overload 0
        php_value default_charset 'UTF-8'
        php_value output_buffering 0
        <IfModule mod_env.c>
          SetEnv htaccessWorking true
        </IfModule>
      </IfModule>

      # PHP 8+
      <IfModule mod_php.c>
        php_value mbstring.func_overload 0
        php_value default_charset 'UTF-8'
        php_value output_buffering 0
        <IfModule mod_env.c>
          SetEnv htaccessWorking true
        </IfModule>
      </IfModule>

      <IfModule mod_mime.c>
        AddType image/svg+xml svg svgz
        AddType application/wasm wasm
        AddEncoding gzip svgz
      </IfModule>

      <IfModule mod_dir.c>
        DirectoryIndex index.php index.html
      </IfModule>

      <IfModule pagespeed_module>
        ModPagespeed Off
      </IfModule>

      <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{HTTP_USER_AGENT} DavClnt
        RewriteRule ^$ /remote.php/webdav/ [L,R=302]
        RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
        RewriteRule ^\.well-known/carddav /remote.php/dav/ [R=301,L]
        RewriteRule ^\.well-known/caldav /remote.php/dav/ [R=301,L]
        RewriteRule ^remote/(.*) remote.php [QSA,L]
        RewriteRule ^(?:build|tests|config|lib|3rdparty|templates)/.* - [R=404,L]
        RewriteRule ^\.well-known/(?!acme-challenge|pki-validation) /index.php [QSA,L]
        RewriteRule ^(?:\.(?!well-known)|autotest|occ|issue|indie|db_|console).* - [R=404,L]
      </IfModule>

      AddDefaultCharset utf-8
      Options -Indexes
      #### DO NOT CHANGE ANYTHING ABOVE THIS LINE ####

      ErrorDocument 403 /
      ErrorDocument 404 /

nextcloud__collabora__coolwsd_storage_wopi__dependent_var:
  - name: '{{ nextcloud__fqdn | regex_replace("\.", "\.") }}'
    state: 'present'

nextcloud__php__ini_max_execution_time__dependent_var: 3600
nextcloud__php__ini_max_file_uploads__dependent_var: 100
nextcloud__php__ini_memory_limit__dependent_var: '1024M'
nextcloud__php__ini_opcache_interned_strings_buffer__dependent_var: '20'
nextcloud__php__ini_post_max_size__dependent_var: '16M'
nextcloud__php__ini_upload_max_filesize__dependent_var: '10000M'

nextcloud__php__modules__dependent_var:
  - name: 'php-bcmath'
    state: 'present'
  - name: 'php-gd'
    state: 'present'
  - name: 'php-gmp'
    state: 'present'
  - name: 'php-imap'
    state: 'present'
  - name: 'php-imagick'
    state: 'present'
  - name: 'php-intl'
    state: 'present'
  - name: 'php-json'
    state: 'present'
  - name: 'php-ldap'
    state: 'present'
  - name: 'php-mbstring'
    state: 'present'
  - name: 'php-memcached'
    state: 'present'
  - name: 'php-mysqlnd'
    state: 'present'
  - name: 'php-opcache'
    state: 'present'
  - name: 'php-pecl-apcu'
    state: 'present'
  - name: 'php-process' # posix module for oc
    state: 'present'
  - name: 'php-redis'
    state: 'present'
  - name: 'php-smbclient'
    state: 'present'
  - name: 'php-zip'
    state: 'present'

nextcloud__repo_remi__enabled_redis_version__dependent_var: '7.0'

nextcloud__selinux__booleans__dependent_var:
  - key: 'httpd_can_network_connect'
    value: 'on'
nextcloud__selinux__fcontexts__dependent_var:
  - setype: 'httpd_sys_rw_content_t'
    target: '/data(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/.htaccess'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/.user.ini'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/3rdparty/aws/aws-sdk-php/src/data/logs(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/apps(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/config(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/data(/.*)?'
    state: 'present'
