nextcloud__app_configs__dependent_var: []
nextcloud__app_configs__group_var: []
nextcloud__app_configs__host_var: []
nextcloud__app_configs__role_var:
  - key: 'core shareapi_default_expire_date'
    value: 'yes'
    state: 'present'
  - key: 'core shareapi_enforce_expire_date'
    value: 'no'
    state: 'present'
  - key: 'core shareapi_expire_after_n_days'
    value: '90'
    state: 'present'
  - key: 'dav buildCalendarSearchIndex'
    value: 'yes'
    state: 'present'
  - key: 'password_policy enforceHaveIBeenPwned'
    value: '1'
    state: 'present'
  - key: 'password_policy minLength'
    value: '12'
    state: 'present'
  - key: 'privacy readableLocation'
    value: 'ch'
    state: 'present'
  - key: 'text workspace_available'
    value: '0'
    state: 'present'
  - key: 'theming imprintUrl'
    value: 'https://www.linuxfabrik.ch/ueber-uns/agb/'
    state: 'present'
  - key: 'theming name'
    value: 'Nextcloud für Teams / Nextcloud for Business'
    state: 'present'
  - key: 'theming privacyUrl'
    value: 'https://www.linuxfabrik.ch/ueber-uns/agb/datenschutzerklaerung/'
    state: 'present'
  - key: 'theming slogan'
    value: 'powered by Linuxfabrik GmbH, Zürich'
    state: 'present'
  - key: 'theming url'
    value: 'https:\/\/ws.linuxfabrik.io'
    state: 'present'
nextcloud__app_configs__combined_var: '{{ (
      nextcloud__app_configs__role_var +
      nextcloud__app_configs__dependent_var +
      nextcloud__app_configs__group_var +
      nextcloud__app_configs__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="key")
  }}'

nextcloud__apps__dependent_var: []
nextcloud__apps__group_var: []
nextcloud__apps__host_var: []
nextcloud__apps__role_var:
  # we disable most apps by default in order to install a minimalistic instance.
  # however, the nextcloud default modules can't be disabled / removed ("can't be disabled" / "could not be removed as it is a shipped app"),
  # and are therefore commented out below.
  - name: 'accessibility'
    state: 'disabled'
  - name: 'activity'
    state: 'disabled'
  - name: 'bruteforcesettings'
    state: 'enabled'
  - name: 'circles'
    state: 'disabled'
  # - name: 'cloud_federation_api'
  #   state: 'disabled'
  - name: 'comments'
    state: 'disabled'
  - name: 'contactsinteraction'
    state: 'disabled'
  - name: 'dashboard'
    state: 'disabled'
  # - name: 'dav'
  #   state: 'disabled'
  # - name: 'federatedfilesharing'
  #   state: 'disabled'
  - name: 'federation'
    state: 'disabled'
  # - name: 'files'
  #   state: 'disabled'
  - name: 'files_pdfviewer'
    state: 'enabled'
  - name: 'files_reminders'
    state: 'disabled'
  - name: 'files_rightclick'
    state: 'enabled'
  - name: 'files_sharing'
    state: 'enabled'
  - name: 'files_trashbin'
    state: 'enabled'
  - name: 'files_versions'
    state: 'enabled'
  - name: 'firstrunwizard'
    state: 'disabled'
  - name: 'logreader'
    state: 'disabled'
  # - name: 'lookup_server_connector'
  #   state: 'disabled'
  - name: 'nextcloud_announcements'
    state: 'disabled'
  - name: 'notifications'
    state: 'disabled'
  - name: 'notify_push'
    state: 'enabled'
  # - name: 'oauth2'
  #   state: 'disabled'
  - name: 'password_policy'
    state: 'enabled'
  - name: 'photos'
    state: 'disabled'
  - name: 'privacy'
    state: 'disabled'
  # - name: 'provisioning_api'
  #   state: 'disabled'
  - name: 'recommendations'
    state: 'disabled'
  - name: 'serverinfo'
    state: 'enabled'
  # - name: 'settings'
  #   state: 'disabled'
  - name: 'sharebymail'
    state: 'enabled'
  - name: 'support'
    state: 'disabled'
  - name: 'survey_client'
    state: 'disabled'
  - name: 'systemtags'
    state: 'disabled'
  - name: 'text'
    state: 'enabled'
  - name: 'theming'
    state: 'enabled'
  # - name: 'twofactor_backupcodes'
  #   state: 'disabled'
  - name: 'updatenotification'
    state: 'disabled'
  - name: 'user_status'
    state: 'disabled'
  - name: 'viewer'
    state: 'enabled'
  - name: 'weather_status'
    state: 'disabled'
  # - name: 'workflowengine'
  #   state: 'disabled'
nextcloud__apps__combined_var: '{{ (
      nextcloud__apps__role_var +
      nextcloud__apps__dependent_var +
      nextcloud__apps__group_var +
      nextcloud__apps__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'

nextcloud__datadir: '/data'

nextcloud__database_host: 'localhost'
nextcloud__database_name: 'nextcloud'

nextcloud__mariadb_login: '{{ mariadb_server__admin_user }}'

nextcloud__on_calendar_app_update: '06,18,23:{{ 59 | random(seed=inventory_hostname) }}'
nextcloud__on_calendar_jobs: '*:0/5'          # every 5 minutes
nextcloud__on_calendar_scan_files: '*:50:15'  # every hour at hh:50:15
nextcloud__skip_apps: false
nextcloud__skip_notify_push: false

nextcloud__sysconfig__dependent_var: []
nextcloud__sysconfig__group_var: []
nextcloud__sysconfig__host_var: []
# order matters here, so do not sort alphabetically
nextcloud__sysconfig__role_var:
  - key: 'check_for_working_wellknown_setup'
    value: 'true'
    type: 'boolean'
    state: 'present'
  - key: 'datadirectory'
    value: '{{ nextcloud__datadir }}'
    state: 'present'
  - key: 'default_language'
    value: 'en'
    state: 'present'
  - key: 'default_phone_region'
    value: 'CH'
    state: 'present'
  - key: 'filelocking.enabled'
    value: 'true'
    type: 'boolean'
    state: 'present'
  # https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html#forbidden-chars
  - key: 'forbidden_chars 0'
    value: '*'
    state: 'present'
  - key: 'forbidden_chars 1'
    value: ':'
    state: 'present'
  - key: 'forbidden_chars 2'
    value: '<'
    state: 'present'
  - key: 'forbidden_chars 3'
    value: '>'
    state: 'present'
  - key: 'forbidden_chars 4'
    value: '?'
    state: 'present'
  - key: 'forbidden_chars 5'
    value: "'"
    state: 'present'
  - key: 'forbidden_chars 6'
    value: '\n'
    state: 'present'
  - key: 'forbidden_chars 7'
    value: '\r'
    state: 'present'
  - key: 'forbidden_chars 8'
    value: '\u0000'
    state: 'present'
  - key: 'forbidden_chars 9'
    value: '|'
    state: 'present'
  - key: 'log_rotate_size'
    value: '10485760'
    type: 'integer'
    state: 'present'
  - key: 'loglevel'
    value: '2'
    type: 'integer'
    state: 'present'
  - key: 'logtimezone'
    value: 'Europe/Zurich'
    state: 'present'
  - key: 'maintenance_window_start'
    value: '1'
    state: 'present'
  - key: 'trusted_domains 1'
    value: '{{ ansible_facts["default_ipv4"]["address"] }}'
    state: 'present'
  - key: 'trusted_domains 2'
    value: '{{ nextcloud__fqdn }}'
    state: 'present'
  - key: 'updatechecker'
    value: 'false'
    type: 'boolean'
    state: 'present'
  - key: 'redis dbindex'
    value: '0'
    type: 'integer'
    state: 'present'
  - key: 'redis host'
    value: '127.0.0.1'
    state: 'present'
  - key: 'redis port'
    value: '6379'
    type: 'integer'
    state: 'present'
  - key: 'redis timeout'
    value: '0.5'
    type: 'double'
    state: 'present'
  - key: 'mail_smtpstreamoptions ssl allow_self_signed'
    value: 'true'
    state: 'present'
    type: 'boolean'
  - key: 'mail_smtpstreamoptions ssl verify_peer'
    value: 'false'
    state: 'present'
    type: 'boolean'
  - key: 'mail_smtpstreamoptions ssl verify_peer_name'
    value: 'false'
    state: 'present'
    type: 'boolean'
  - key: 'memcache.locking'
    value: '\OC\Memcache\Redis'
    state: 'present'
  - key: 'memcache.distributed'
    value: '\OC\Memcache\Redis'
    state: 'present'
  - key: 'memcache.local'
    value: '\OC\Memcache\Redis'
    state: 'present'
nextcloud__sysconfig__combined_var: '{{ (
      nextcloud__sysconfig__role_var +
      nextcloud__sysconfig__dependent_var +
      nextcloud__sysconfig__group_var +
      nextcloud__sysconfig__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="key")
  }}'

nextcloud__timer_app_update_enabled: false
nextcloud__timer_jobs_enabled: true
nextcloud__timer_ldap_show_remnants_enabled: true
nextcloud__timer_scan_files_enabled: true

# 'latest', 'latest-XX' or 'nextcloud-XX.X.XX'
nextcloud__version: 'latest'

# -----------------------------------------------------------------------------

nextcloud__apache_httpd__mods__dependent_var:
  - filename: 'proxy_fcgi'
    enabled: true
    state: 'present'

nextcloud__apache_httpd__vhosts__dependent_var:
  - by_role: 'nextcloud'
    enabled: true
    filename: 'nextcloud'
    state: 'present'
    template: 'app'
    virtualhost_ip: '{{ nextcloud__vhost_virtualhost_ip | d("*") }}'
    virtualhost_port: '{{ nextcloud__vhost_virtualhost_port | d(80) }}'
    allow_accessing_dotfiles: true # Nextcloud uses `/.file` in some URLs
    conf_custom_log: 'logs/nextcloud-access.log linuxfabrikio'
    conf_directory_index: 'index.php index.html index.htm'
    conf_document_root: '/var/www/html/nextcloud'
    conf_error_log: 'logs/nextcloud-error.log'
    conf_server_admin: 'webmaster@linuxfabrik.ch'
    conf_server_name: '{{ nextcloud__fqdn }}'
    conf_timeout: 600
    skip_allowed_file_extensions: true
    skip_allowed_http_methods: true
    raw: !unsafe |-
      <IfModule mod_dav.c>
          Dav off
      </IfModule>

      <IfModule mod_headers.c>
        <IfModule mod_setenvif.c>
          <IfModule mod_fcgid.c>
             SetEnvIfNoCase ^Authorization$ "(.+)" XAUTHORIZATION=$1
             RequestHeader set XAuthorization %{XAUTHORIZATION}e env=XAUTHORIZATION
          </IfModule>
          <IfModule mod_proxy_fcgi.c>
             SetEnvIfNoCase Authorization "(.+)" HTTP_AUTHORIZATION=$1
          </IfModule>
          <IfModule mod_lsapi.c>
            SetEnvIfNoCase ^Authorization$ "(.+)" XAUTHORIZATION=$1
            RequestHeader set XAuthorization %{XAUTHORIZATION}e env=XAUTHORIZATION
          </IfModule>
        </IfModule>

        <IfModule mod_env.c>
          # Add security and privacy related headers

          # Avoid doubled headers by unsetting headers in "onsuccess" table,
          # then add headers to "always" table: https://github.com/nextcloud/server/pull/19002
          Header onsuccess unset Referrer-Policy
          Header always set Referrer-Policy "no-referrer"

          Header onsuccess unset X-Content-Type-Options
          Header always set X-Content-Type-Options "nosniff"

          Header onsuccess unset X-Frame-Options
          Header always set X-Frame-Options "SAMEORIGIN"

          Header onsuccess unset X-Permitted-Cross-Domain-Policies
          Header always set X-Permitted-Cross-Domain-Policies "none"

          Header onsuccess unset X-Robots-Tag
          Header always set X-Robots-Tag "none"

          Header onsuccess unset X-XSS-Protection
          Header always set X-XSS-Protection "1; mode=block"

          SetEnv modHeadersAvailable true
        </IfModule>

        # Add cache control for static resources
        <FilesMatch "\.(css|gif|ico|jpg|js|png|svg|tflite|wasm)$">
          Header set Cache-Control "max-age=15778463"
        </FilesMatch>

        <FilesMatch "\.(css|gif|ico|jpg|js|png|svg|tflite|wasm)(\?v=.*)?$">
          Header set Cache-Control "max-age=15778463, immutable"
        </FilesMatch>

        # Let browsers cache WOFF files for a week
        <FilesMatch "\.woff2?$">
          Header set Cache-Control "max-age=604800"
        </FilesMatch>
      </IfModule>

      # PHP 7.x
      <IfModule mod_php7.c>
        php_value mbstring.func_overload 0
        php_value default_charset 'UTF-8'
        php_value output_buffering 0
        <IfModule mod_env.c>
          SetEnv htaccessWorking true
        </IfModule>
      </IfModule>

      # PHP 8+
      <IfModule mod_php.c>
        php_value mbstring.func_overload 0
        php_value default_charset 'UTF-8'
        php_value output_buffering 0
        <IfModule mod_env.c>
          SetEnv htaccessWorking true
        </IfModule>
      </IfModule>

      <IfModule mod_mime.c>
        AddType image/svg+xml svg svgz
        AddType application/wasm wasm
        # Nextcloud uses .mjs for JavaScript since version 27
        AddType text/javascript js mjs
        AddEncoding gzip svgz
      </IfModule>

      <IfModule mod_dir.c>
        DirectoryIndex index.php index.html
      </IfModule>

      <IfModule pagespeed_module>
        ModPagespeed Off
      </IfModule>

      <IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteCond %{HTTP_USER_AGENT} DavClnt
        RewriteRule ^$ /remote.php/webdav/ [L,R=302]
        RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
        RewriteRule ^\.well-known/carddav /remote.php/dav/ [R=301,L]
        RewriteRule ^\.well-known/caldav /remote.php/dav/ [R=301,L]
        RewriteRule ^remote/(.*) remote.php [QSA,L]
        RewriteRule ^(?:build|tests|config|lib|3rdparty|templates)/.* - [R=404,L]
        RewriteRule ^\.well-known/(?!acme-challenge|pki-validation) /index.php [QSA,L]
        RewriteRule ^(?:\.(?!well-known)|autotest|occ|issue|indie|db_|console).* - [R=404,L]
      </IfModule>

      AddDefaultCharset utf-8
      Options -Indexes
      #### DO NOT CHANGE ANYTHING ABOVE THIS LINE ####

      ErrorDocument 403 /
      ErrorDocument 404 /

nextcloud__collabora__coolwsd_storage_wopi__dependent_var:
  - name: '{{ nextcloud__fqdn | regex_replace("\.", "\.") }}'
    state: 'present'

nextcloud__php__ini_max_execution_time__dependent_var: 3600
nextcloud__php__ini_max_file_uploads__dependent_var: 100
nextcloud__php__ini_memory_limit__dependent_var: '1024M'
nextcloud__php__ini_opcache_interned_strings_buffer__dependent_var: '20'
nextcloud__php__ini_post_max_size__dependent_var: '16M'
nextcloud__php__ini_upload_max_filesize__dependent_var: '10000M'
nextcloud__php__modules__dependent_var:
  - name: 'php-bcmath'
    state: 'present'
  - name: 'php-gd'
    state: 'present'
  - name: 'php-gmp'
    state: 'present'
  - name: 'php-imap'
    state: 'present'
  - name: 'php-imagick'
    state: 'present'
  - name: 'php-intl'
    state: 'present'
  - name: 'php-json'
    state: 'present'
  - name: 'php-ldap'
    state: 'present'
  - name: 'php-mbstring'
    state: 'present'
  - name: 'php-memcached'
    state: 'present'
  - name: 'php-mysqlnd'
    state: 'present'
  - name: 'php-opcache'
    state: 'present'
  - name: 'php-pecl-apcu'
    state: 'present'
  - name: 'php-process' # posix module for oc
    state: 'present'
  - name: 'php-redis'
    state: 'present'
  - name: 'php-smbclient'
    state: 'present'
  - name: 'php-zip'
    state: 'present'

nextcloud__repo_remi__enabled_redis_version__dependent_var: '7.0'

nextcloud__selinux__booleans__dependent_var:
  - key: 'httpd_can_network_connect'
    value: 'on'
nextcloud__selinux__fcontexts__dependent_var:
  - setype: 'bin_t'
    target: '/var/www/html/nextcloud/apps/notify_push/bin/x86_64/notify_push'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/data(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/.htaccess'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/.user.ini'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/3rdparty/aws/aws-sdk-php/src/data/logs(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/apps(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/config(/.*)?'
    state: 'present'
  - setype: 'httpd_sys_rw_content_t'
    target: '/var/www/html/nextcloud/data(/.*)?'
    state: 'present'

nextcloud__systemd_unit__services__dependent_var:
  - name: 'notify_push'
    description: 'Push daemon for Nextcloud clients'
    raw_unit: |-
      Documentation=https://github.com/nextcloud/notify_push
    raw_service: |-
      Environment=NEXTCLOUD_URL=https://{{ nextcloud__fqdn }}
      Environment=PORT=7867
      ExecStart=/var/www/html/nextcloud/apps/notify_push/bin/x86_64/notify_push /var/www/html/nextcloud/config/config.php
      User=apache
    enabled: true
    state: 'present'
