# {{ ansible_managed }}
# 2022053101

{% for item in icinga2_master__api_users__combined_var if item['state'] | d('present') != 'absent' %}
object ApiUser "{{ item['username'] }}" {
  password = "{{ item['password'] }}"
  permissions = {{ item.permissions | regex_replace("'", '"') }} {# this works since it has the same format as a yaml list #}

}

{% endfor %}
