- block:

  - name: 'Deploy the repo files (mirror: {{ repo_rpmfusion__mirror_url }})'
    ansible.builtin.template:
      src: '{{ item }}.j2'
      dest: '/{{ item }}'
      owner: 'root'
      group: 'root'
      mode: 0o644
    loop:
      - 'etc/yum.repos.d/rpmfusion-free-updates-testing.repo'
      - 'etc/yum.repos.d/rpmfusion-free-updates.repo'
      - 'etc/yum.repos.d/rpmfusion-nonfree-updates-testing.repo'
      - 'etc/yum.repos.d/rpmfusion-nonfree-updates.repo'

  - ansible.builtin.include_tasks: 'download-gpg-key.yml'
    loop: '{{ repo_rpmfusion__gpg_keys }}'
    loop_control:
      loop_var: 'gpg_key'

  tags:
    - 'repo_rpmfusion'
