- block:

  - name: 'Remove service units'
    ansible.builtin.include_tasks: 'remove-unit.yml'
    vars:
      __systemd_unit__unit_type: 'service'
    loop: '{{ systemd_unit__services__combined_var
        | selectattr("state", "defined")
        | selectattr("state", "eq", "absent")
        | list }}'
    loop_control:
      label: '{{ item["name"] }}.service'

  - name: 'Deploy the service units to /etc/systemd/system'
    ansible.builtin.template:
      src: 'etc/systemd/system/service.j2'
      dest: '/etc/systemd/system/{{ item["name"] }}.service'
      owner: 'root'
      group: 'root'
      mode: 0o644
    when:
      - 'item["state"] | d("present") != "absent"'
    loop: '{{ systemd_unit__services__combined_var }}'
    notify: 'systemd_unit: systemctl daemon-reload'

  tags:
    - 'systemd_unit'
    - 'systemd_unit:services'


- block:

  - name: 'Remove timer units'
    ansible.builtin.include_tasks: 'remove-unit.yml'
    vars:
      __systemd_unit__unit_type: 'timer'
    loop: '{{ systemd_unit__timers__combined_var
        | selectattr("state", "defined")
        | selectattr("state", "eq", "absent")
        | list }}'
    loop_control:
      label: '{{ item["name"] }}.timer'

  - name: 'Deploy the timer units to /etc/systemd/system'
    ansible.builtin.template:
      src: 'etc/systemd/system/timer.j2'
      dest: '/etc/systemd/system/{{ item["name"] }}.timer'
      owner: 'root'
      group: 'root'
      mode: 0o644
    when:
      - 'item["state"] | d("present") != "absent"'
    loop: '{{ systemd_unit__timers__combined_var }}'
    notify: 'systemd_unit: systemctl daemon-reload'

  tags:
    - 'systemd_unit'
    - 'systemd_unit:timers'


- block:

  - name: 'Remove mount units'
    ansible.builtin.include_tasks: 'remove-unit.yml'
    vars:
      __systemd_unit__unit_type: 'mount'
    loop: '{{ systemd_unit__mounts__combined_var
        | selectattr("state", "defined")
        | selectattr("state", "eq", "absent")
        | list }}'
    loop_control:
      label: '{{ item["name"] }}.mount'

  - name: 'Deploy the mount units to /etc/systemd/system'
    ansible.builtin.template:
      src: 'etc/systemd/system/mount.j2'
      dest: '/etc/systemd/system/{{ item["name"] }}.mount'
      owner: 'root'
      group: 'root'
      mode: 0o644
    when:
      - 'item["state"] | d("present") != "absent"'
    loop: '{{ systemd_unit__mounts__combined_var }}'
    notify: 'systemd_unit: systemctl daemon-reload'

  tags:
    - 'systemd_unit'
    - 'systemd_unit:mounts'


- block:

  - meta: 'flush_handlers' # we want a `systemctl daemon-reload` before managing unit states

  - name: 'systemctl {{ item["enabled"] | d(true) | bool | ternary("enable", "disable") }} {{ item["name"] }}.service'
    ansible.builtin.systemd:
      name: '{{ item["name"] }}.service'
      enabled: '{{ item["enabled"] | d(true) }}'
    when:
      - 'item["state"] | d("present") != "absent"'
    loop: '{{ systemd_unit__services__combined_var }}'
    loop_control:
      label: '{{ item["name"] }}.service - enabled: {{ item["enabled"] | d(true) }}'

  - name: 'systemctl {{ (item["state"] | d("started"))[:-2] }} {{ item["name"] }}.service'
    ansible.builtin.systemd:
      name: '{{ item["name"] }}.service'
      state: '{{ item["state"] | d("started") }}'
    when:
      - 'item["state"] | d("started") not in ["present", "absent"]'
    loop: '{{ systemd_unit__services__combined_var }}'
    loop_control:
      label: '{{ item["name"] }}.service - state: {{ item["state"] | d("started") }}'

  - name: 'systemctl {{ item["enabled"] | d(true) | bool | ternary("enable", "disable") }} {{ item["name"] }}.timer'
    ansible.builtin.systemd:
      name: '{{ item["name"] }}.timer'
      enabled: '{{ item["enabled"] | d(true) }}'
    when:
      - 'item["state"] | d("present") != "absent"'
    loop: '{{ systemd_unit__timers__combined_var }}'
    loop_control:
      label: '{{ item["name"] }}.timer - enabled: {{ item["enabled"] | d(true) }}'

  - name: 'systemctl {{ (item["state"] | d("started"))[:-2] }} {{ item["name"] }}.timer'
    ansible.builtin.systemd:
      name: '{{ item["name"] }}.timer'
      state: '{{ item["state"] | d("started") }}'
    when:
      - 'item["state"] | d("started") not in ["present", "absent"]'
    loop: '{{ systemd_unit__timers__combined_var }}'
    loop_control:
      label: '{{ item["name"] }}.timer - state: {{ item["state"] | d("started") }}'

  - name: 'systemctl {{ item["enabled"] | d(true) | bool | ternary("enable", "disable") }} {{ item["name"] }}.mount'
    ansible.builtin.systemd:
      name: '{{ item["name"] }}.mount'
      enabled: '{{ item["enabled"] | d(true) }}'
    when:
      - 'item["state"] | d("present") != "absent"'
    loop: '{{ systemd_unit__mounts__combined_var }}'
    loop_control:
      label: '{{ item["name"] }}.mount - enabled: {{ item["enabled"] | d(true) }}'

  - name: 'systemctl {{ (item["state"] | d("started"))[:-2] }} {{ item["name"] }}.mount'
    ansible.builtin.systemd:
      name: '{{ item["name"] }}.mount'
      state: '{{ item["state"] | d("started") }}'
    when:
      - 'item["state"] | d("started") not in ["present", "absent"]'
    loop: '{{ systemd_unit__mounts__combined_var }}'
    loop_control:
      label: '{{ item["name"] }}.mount - state: {{ item["state"] | d("started") }}'

  tags:
    - 'systemd_unit'
    - 'systemd_unit:state'
