; {{ ansible_managed }}
; 2023121301

[config]
endpoint = "{{ icingaweb2_module_director__api_endpoint }}"
host = "{{ icingaweb2_module_director__api_host }}"
port = "{{ icingaweb2_module_director__api_port }}"
username = "{{ icingaweb2_module_director__api_user_login.username }}"
password = "{{ icingaweb2_module_director__api_user_login.password }}"
