# {{ ansible_managed }}
# 2025043001
# 10.6

[client]
socket                         = {{ mariadb_server__cnf_socket__combined_var }}
{% if mariadb_server__cnf_client_ssl_ca__combined_var is defined and mariadb_server__cnf_client_ssl_ca__combined_var | length %}
ssl_ca                         = {{ mariadb_server__cnf_client_ssl_ca__combined_var }}
{% endif %}
{% if mariadb_server__cnf_client_ssl_cert__combined_var is defined and mariadb_server__cnf_client_ssl_cert__combined_var | length %}
ssl_cert                       = {{ mariadb_server__cnf_client_ssl_cert__combined_var }}
{% endif %}
{% if mariadb_server__cnf_client_ssl_key__combined_var is defined and mariadb_server__cnf_client_ssl_key__combined_var | length %}
ssl_key                        = {{ mariadb_server__cnf_client_ssl_key__combined_var }}
{% endif %}
{% if mariadb_server__cnf_client_ssl_verify_server_cert__combined_var %}
ssl_verify_server_cert
{% else %}
disable_ssl_verify_server_cert
{% endif %}

# https://mariadb.com/kb/en/library/server-system-variables/

[server]
{% if mariadb_server__cnf_bind_address__combined_var | length %}
bind_address                   = {{ mariadb_server__cnf_bind_address__combined_var }}
{% endif %}
{% if mariadb_server__cnf_log_bin__combined_var | length and mariadb_server__cnf_log_bin__combined_var | lower != 'off' %}
binlog_format                  = {{ mariadb_server__cnf_binlog_format__combined_var }}
{% endif %}
bulk_insert_buffer_size        = {{ mariadb_server__cnf_bulk_insert_buffer_size__combined_var }}
character_set_server           = {{ mariadb_server__cnf_character_set_server__combined_var }}
collation_server               = {{ mariadb_server__cnf_collation_server__combined_var }}
datadir                        = /var/lib/mysql
default_storage_engine         = {{ mariadb_server__cnf_default_storage_engine__combined_var }}
expire_logs_days               = {{ mariadb_server__cnf_expire_logs_days__combined_var }}
extra_max_connections          = {{ mariadb_server__cnf_extra_max_connections__combined_var }}
extra_port                     = {{ mariadb_server__cnf_extra_port__combined_var }}
general_log                    = {{ mariadb_server__cnf_general_log__combined_var }}
general_log_file               = {{ mariadb_server__cnf_general_log_file__combined_var }}
innodb_autoinc_lock_mode       = {{ mariadb_server__cnf_innodb_autoinc_lock_mode__combined_var }}
innodb_buffer_pool_size        = {{ mariadb_server__cnf_innodb_buffer_pool_size__combined_var }}
innodb_doublewrite             = {{ mariadb_server__cnf_innodb_doublewrite__combined_var }}
innodb_file_per_table          = {{ mariadb_server__cnf_innodb_file_per_table__combined_var }}
innodb_flush_log_at_trx_commit = {{ mariadb_server__cnf_innodb_flush_log_at_trx_commit__combined_var }}
innodb_io_capacity             = {{ mariadb_server__cnf_innodb_io_capacity__combined_var }}
innodb_log_file_size           = {{ mariadb_server__cnf_innodb_log_file_size__combined_var }}
interactive_timeout            = {{ mariadb_server__cnf_interactive_timeout__combined_var }}
join_buffer_size               = {{ mariadb_server__cnf_join_buffer_size__combined_var }}
{% if mariadb_server__cnf_log_bin__combined_var | length and mariadb_server__cnf_log_bin__combined_var | lower != 'off' %}
{# note: the behaviour of log_bin differs from other booleans. to enable, log_bin needs to exist and be set to the name of the binary log, to disable the variable *cannot* exist at all #}
log_bin                        = {{ mariadb_server__cnf_log_bin__combined_var }}
{% endif %}
log_error                      = {{ mariadb_server__cnf_log_error__combined_var }}
lower_case_table_names         = {{ mariadb_server__cnf_lower_case_table_names__combined_var }}
max_allowed_packet             = {{ mariadb_server__cnf_max_allowed_packet__combined_var }}
max_connections                = {{ mariadb_server__cnf_max_connections__combined_var }}
max_heap_table_size            = {{ mariadb_server__cnf_max_heap_table_size__combined_var }}
performance_schema             = {{ mariadb_server__cnf_performance_schema__combined_var }}
query_cache_limit              = {{ mariadb_server__cnf_query_cache_limit__combined_var }}
query_cache_size               = {{ mariadb_server__cnf_query_cache_size__combined_var }}
query_cache_type               = {{ mariadb_server__cnf_query_cache_type__combined_var }}
require_secure_transport       = {{ mariadb_server__cnf_require_secure_transport__combined_var }}
skip_name_resolve              = {{ mariadb_server__cnf_skip_name_resolve__combined_var }}
slow_query_log                 = {{ mariadb_server__cnf_slow_query_log__combined_var }}
slow_query_log_file            = {{ mariadb_server__cnf_slow_query_log_file__combined_var }}
socket                         = {{ mariadb_server__cnf_socket__combined_var }}
sql_mode                       = {{ mariadb_server__cnf_sql_mode__combined_var }}
{% if mariadb_server__cnf_ssl_ca__combined_var is defined and mariadb_server__cnf_ssl_ca__combined_var | length %}
ssl_ca                         = {{ mariadb_server__cnf_ssl_ca__combined_var }}
{% endif %}
{% if mariadb_server__cnf_ssl_cert__combined_var is defined and mariadb_server__cnf_ssl_cert__combined_var | length %}
ssl_cert                       = {{ mariadb_server__cnf_ssl_cert__combined_var }}
{% endif %}
{% if mariadb_server__cnf_ssl_key__combined_var is defined and mariadb_server__cnf_ssl_key__combined_var | length %}
ssl_key                        = {{ mariadb_server__cnf_ssl_key__combined_var }}
{% endif %}
table_definition_cache         = {{ mariadb_server__cnf_table_definition_cache__combined_var }}
tls_version                    = {{ mariadb_server__cnf_tls_version__combined_var }}
tmp_table_size                 = {{ mariadb_server__cnf_tmp_table_size__combined_var }}
wait_timeout                   = {{ mariadb_server__cnf_wait_timeout__combined_var }}

# MariaDB Audit Plugin Options and System Variables
# https://mariadb.com/kb/en/mariadb-audit-plugin-options-and-system-variables/#server_audit_file_path
plugin_load_add                                = server_audit
server_audit                                   = FORCE_PLUS_PERMANENT  # Prohibiting Uninstallation
server_audit_events                            = "{{ mariadb_server__cnf_server_audit_events }}"
server_audit_excl_users                        = "{{ mariadb_server__cnf_server_audit_excl_users }}"
server_audit_file_path                         = "{{ mariadb_server__cnf_server_audit_file_path }}"
server_audit_file_rotate_now                   = {{ mariadb_server__cnf_server_audit_file_rotate_now }}
server_audit_file_rotate_size                  = {{ mariadb_server__cnf_server_audit_file_rotate_size }}
server_audit_file_rotations                    = {{ mariadb_server__cnf_server_audit_file_rotations }}
server_audit_incl_users                        = "{{ mariadb_server__cnf_server_audit_incl_users }}"
server_audit_logging                           = {{ mariadb_server__cnf_server_audit_logging }}
server_audit_mode                              = 0
server_audit_output_type                       = {{ mariadb_server__cnf_server_audit_output_type }}
server_audit_query_log_limit                   = {{ mariadb_server__cnf_server_audit_query_log_limit }}
server_audit_syslog_facility                   = {{ mariadb_server__cnf_server_audit_syslog_facility }}
server_audit_syslog_ident                      = {{ mariadb_server__cnf_server_audit_syslog_ident }}
server_audit_syslog_info                       = {{ mariadb_server__cnf_server_audit_syslog_info }}
server_audit_syslog_priority                   = {{ mariadb_server__cnf_server_audit_syslog_priority }}


[mysqld]

[galera]
{% if mariadb_server__cnf_wsrep_cluster_addresses is defined and mariadb_server__cnf_wsrep_cluster_addresses | length %}
wsrep_cluster_address  = "gcomm://{{ mariadb_server__cnf_wsrep_cluster_addresses | join(',') }}"
{% endif %}
wsrep_cluster_name     = "{{ mariadb_server__cnf_wsrep_cluster_name }}"
wsrep_node_address     = {{ mariadb_server__cnf_wsrep_node_address }}
wsrep_node_name        = "{{ mariadb_server__cnf_wsrep_node_name }}"
wsrep_on               = {{ mariadb_server__cnf_wsrep_on | ternary('ON', 'OFF') }}
wsrep_provider         = /usr/lib64/galera-4/libgalera_smm.so
wsrep_provider_options = {{ mariadb_server__cnf_wsrep_provider_options }}
wsrep_slave_threads    = {{ mariadb_server__cnf_wsrep_slave_threads }}
wsrep_sst_auth         = {{ mariadb_server__cnf_wsrep_sst_auth }}
wsrep_sst_method       = {{ mariadb_server__cnf_wsrep_sst_method }}

[embedded]

[mariadb]

[mariadb-10.0]

[mariadb-10.1]

[mariadb-10.2]

[mariadb-10.3]

[mariadb-10.4]

[mariadb-10.5]

[mariadb-10.6]
