{
    "version": "10",
    "aliases": {
{% for item in minio_client__aliases__combined_var %}

        "{{ item['name'] }}": {
            "url": "{{ item['url'] }}",
                "accessKey": "{{ item['access_key'] }}",
                "secretKey": "{{ item['secret_key'] }}",
                "api": "{{ item['api'] | d('S3v4') }}",
                "path": "{{ item['path'] | d('auto') }}"
        }{% if not loop.last %},{% endif %}

{% endfor %}
    }
}
