- block:

  - name: 'setenforce {{ selinux__state }}'
    ansible.posix.selinux:
      policy: '{{ selinux__policy }}'
      state: '{{ selinux__state }}'

  tags:
    - 'selinux'
    - 'selinux:setenforce'


- block:

  - name: 'Combined SELinux booleans:'
    ansible.builtin.debug:
      var: 'selinux__booleans__combined_var'

  - name: 'setsebool -P ...'
    ansible.posix.seboolean:
      name: '{{ item.key }}'
      state: '{{ item.value }}'
      persistent: true
      ignore_selinux_state: true
    loop: '{{ selinux__booleans__combined_var }}'
    when: 'selinux__state != "disabled"'

  tags:
    - 'selinux'
    - 'selinux:setsebool'


- block:

  - name: 'Combined SELinux file contexts:'
    ansible.builtin.debug:
      var: 'selinux__fcontexts__combined_var'

  - name: 'semanage fcontext --add --type ...'
    community.general.sefcontext:
      setype: '{{ item["setype"] }}'
      target: '{{ item["target"] }}'
      state: '{{ item["state"] | d("present") }}'
      ignore_selinux_state: true
    loop: '{{ selinux__fcontexts__combined_var }}'
    when: 'selinux__state != "disabled"'

  tags:
    - 'selinux'
    - 'selinux:fcontext'

- block:

  - name: 'Combined SELinux ports:'
    ansible.builtin.debug:
      var: 'selinux__ports__combined_var'

  - name: 'semanage port --add --type ... --proto ...'
    community.general.seport:
      setype: '{{ item["setype"] }}'
      ports:
        - '{{ item["port"] }}'
      proto: '{{ item["proto"] | d("tcp") }}'
      state: '{{ item["state"] | d("present") }}'
      ignore_selinux_state: true
    loop: '{{ selinux__ports__combined_var }}'
    when: 'selinux__state != "disabled"'

  tags:
    - 'selinux'
    - 'selinux:port'


- block:

  - name: 'Combined SELinux restorecons:'
    ansible.builtin.debug:
      var: 'selinux__restorecons__combined_var'

  - name: 'restorecon -v ...'
    ansible.builtin.command:
      cmd: 'restorecon -v{{ "F" if item["force"] | d(true) else "" }}{{ "r" if item["recursive"] | d(true) else "" }} {{ item["path"] }}'
    loop: '{{ selinux__restorecons__combined_var }}'
    when:
      - 'selinux__state != "disabled"'
      - 'item["state"] | d("present") == "present"'
    register: '__selinux__restorecons__result'
    changed_when: '__selinux__restorecons__result["stdout"] | length'

  tags:
    - 'selinux'
    - 'selinux:restorecon'
