# {{ ansible_managed }}
# 2022062701

# If you need to change max open file limit
# for example, when you change maxclient in configuration
# you can change the LimitNOFILE value below.
# See "man systemd.exec" for more information.

# Slave nodes on large system may take lot of time to start.
# You may need to uncomment TimeoutStartSec and TimeoutStopSec
# directives below and raise their value.
# See "man systemd.service" for more information.

[Service]
LimitNOFILE={{ redis__service_limit_nofile | d(10240) }}
TimeoutStartSec={{ redis__service_timeout_start_sec | d('90s') }}
TimeoutStopSec={{ redis__service_timeout_stop_sec | d('90s') }}
