# {{ ansible_managed }}
# 2026060601

[Service]
# empty ExecStart is required to prevent an "Service has more than one ExecStart= setting" error
ExecStart=
# --fdpass allows scanning files that are not accessible by the "clamscan" user, for example root-owned files
ExecStart=/usr/sbin/clamonacc -F --fdpass --config-file={{ __clamav__clamd_config }}
