# {{ ansible_managed }}
# 2022111501

# This is a workaround for https://jira.mariadb.org/browse/MDEV-24941. This only occurs when using the official MariaDB Repository.
# After restarting the mariadb service, the socket /var/lib/mysql/mysql.sock has the mysqld_db_t SELinux file type, instead of mysqld_var_run_t
# This can be reproduced by restarting the service, either taking a look at the file type using `ll -Z /var/lib/mysql/mysql.sock`, or by running `restorecon -Fv /var/lib/mysql/mysql.sock`.

# Example output if the bug is present

# systemctl restart mariadb
# ll -Z /var/lib/mysql/mysql.sock
# srwxrwxrwx. 1 mysql mysql system_u:object_r:mysqld_db_t:s0 0 Jun  1 16:46 /var/lib/mysql/mysql.sock
# restorecon -Fv /var/lib/mysql/mysql.sock
# Relabeled /var/lib/mysql/mysql.sock from system_u:object_r:mysqld_db_t:s0 to system_u:object_r:mysqld_var_run_t:s0

# We use the `-` special executable prefix to ignore the exit status of chcon, as it fails if SELinux is disabled.

[Service]
ExecStartPost=-/bin/chcon -t mysqld_var_run_t /var/lib/mysql/mysql.sock
