# {{ ansible_managed }}
# 2024103101

[Service]
{# changing the context of mariadbd does not seem to work with galera.
`WSREP: Failed to start mysqld for wsrep recovery: '... [Warning] Can't create test file '/var/lib/mysql/example.com.lower-test' (Errcode: 13 "Permission denied")`
and `/usr/sbin/mariadbd: Cannot change uid/gid (errno: 1)`
during systemctl start, causes the mariadb.service to fail #}
{% if mariadb_server__cnf_wsrep_on is false %}
ExecStartPre=-/bin/chcon -t mysqld_exec_t /usr/sbin/mariadbd
# SELinux incorrectly labeled mariadbd (see https://jira.mariadb.org/browse/MDEV-30520)
# The bug is present in the MariaDB Repo (here, SELinux rules are missing in the SELinux database), not at Red Hat.

# ls -Z /usr/sbin/mariadbd
# Wrong: system_u:object_r:bin_t:s0 /usr/sbin/mariadbd
# Correct: system_u:object_r:mysqld_exec_t:s0 /usr/sbin/mariadbd
{% endif %}

ExecStartPost=-/bin/chcon -t mysqld_var_run_t {{ mariadb_server__cnf_socket__combined_var }}
# This is a workaround for https://jira.mariadb.org/browse/MDEV-24941. This only occurs when using the official MariaDB Repository.
# After restarting the mariadb service, the socket /var/lib/mysql/mysql.sock has the mysqld_db_t SELinux file type, instead of mysqld_var_run_t
# This can be reproduced by restarting the service, either taking a look at the file type using `ll -Z /var/lib/mysql/mysql.sock`, or by running `restorecon -Fv /var/lib/mysql/mysql.sock`.

# Example output if the bug is present

# systemctl restart mariadb

# ll -Z /var/lib/mysql/mysql.sock
# srwxrwxrwx. 1 mysql mysql system_u:object_r:mysqld_db_t:s0 0 Jun  1 16:46 /var/lib/mysql/mysql.sock

# restorecon -Fv /var/lib/mysql/mysql.sock
# Relabeled /var/lib/mysql/mysql.sock from system_u:object_r:mysqld_db_t:s0 to system_u:object_r:mysqld_var_run_t:s0

# We use the `-` special executable prefix to ignore the exit status of chcon, as it fails if SELinux is disabled.
