<?php

// {{ ansible_managed }}
// 2022092701

// Nextcloud supports loading configuration parameters from multiple files. You can add arbitrary
// files ending with .config.php in the config/ directory, for example you could place your email
// server configuration in email.config.php. This allows you to easily create and manage custom
// configurations, or to divide a large complex configuration file into a set of smaller files.
// These custom files are not overwritten by Nextcloud, and the values in these files take
// precedence over config.php.

// https://docs.nextcloud.com/server/stable/admin_manual/configuration_server/config_sample_php_parameters.html#multiple-config-php-file

{% if nextcloud__objectstore_s3 is defined and nextcloud__objectstore_s3 | length %}
/**
 * S3
 */
$CONFIG = array (
    'objectstore' => [
        'class' => 'OC\\Files\\ObjectStore\\S3',
        'arguments' => [
            'autocreate' => {{ nextcloud__objectstore_s3['autocreate'] | lower }},
            'bucket' => '{{ nextcloud__objectstore_s3['bucket'] }}',
            'hostname' => '{{ nextcloud__objectstore_s3['hostname'] }}',
            'key' => '{{ nextcloud__objectstore_s3['key'] }}',
            'region' => '{{ nextcloud__objectstore_s3['region'] }}',
            'secret' => '{{ nextcloud__objectstore_s3['secret'] }}',
            'use_ssl' => '{{ nextcloud__objectstore_s3['use_ssl'] | lower }}',
            'use_path_style' => '{{ nextcloud__objectstore_s3['use_path_style'] | lower }}'
        ],
    ],
);
{% elif nextcloud__objectstore_swift is defined and nextcloud__objectstore_swift | length %}
/**
 * Swift V3
 */
$CONFIG = array (
    'objectstore' => [
        'class' => 'OC\\Files\\ObjectStore\\Swift',
        'arguments' => [
            'autocreate' => {{ nextcloud__objectstore_swift['autocreate'] | lower }},
            'bucket' => '{{ nextcloud__objectstore_swift['bucket'] }}',
            'scope' => [
                'project' => [
                    'name' => '{{ nextcloud__objectstore_swift['scope_project_name'] }}',
                    'domain' => [
                        'name' => '{{ nextcloud__objectstore_swift['scope_project_domain_name'] }}',
                    ],
                ],
            ],
            'serviceName' => '{{ nextcloud__objectstore_swift['service_name'] }}',
            'tenantName' => '{{ nextcloud__objectstore_swift['tenant_name'] }}',
            'region' => '{{ nextcloud__objectstore_swift['region_name'] }}',
            'url' => '{{ nextcloud__objectstore_swift['url'] }}',
            'user' => [
                'name' => '{{ nextcloud__objectstore_swift['user_name'] }}',
                'password' => '{{ nextcloud__objectstore_swift['user_password'] }}',
                'domain' => [
                    'name' => '{{ nextcloud__objectstore_swift['user_domain_name'] }}',
                ],
            ],
        ],
    ],
);
{% endif %}
