<?php

// {{ ansible_managed }}
// 2022092701

// Nextcloud supports loading configuration parameters from multiple files. You can add arbitrary
// files ending with .config.php in the config/ directory, for example you could place your email
// server configuration in email.config.php. This allows you to easily create and manage custom
// configurations, or to divide a large complex configuration file into a set of smaller files.
// These custom files are not overwritten by Nextcloud, and the values in these files take
// precedence over config.php.

// https://docs.nextcloud.com/server/stable/admin_manual/configuration_server/config_sample_php_parameters.html#multiple-config-php-file

{% if nextcloud__config_php_objectstore_s3_hostname is defined and nextcloud__config_php_objectstore_s3_hostname | length %}
/**
 * S3
 */
$CONFIG = array (
    'objectstore' => [
        'class' => 'OC\\Files\\ObjectStore\\S3',
        'arguments' => [
            'autocreate' => {{ nextcloud__config_php_objectstore_s3_autocreate | lower }},
            'bucket' => '{{ nextcloud__config_php_objectstore_s3_bucket }}',
            'hostname' => '{{ nextcloud__config_php_objectstore_s3_hostname }}',
            'key' => '{{ nextcloud__config_php_objectstore_s3_key }}',
            'region' => '{{ nextcloud__config_php_objectstore_s3_region }}',
            'secret' => '{{ nextcloud__config_php_objectstore_s3_secret }}',
            'use_ssl' => '{{ nextcloud__config_php_objectstore_s3_use_ssl | lower }}',
            'use_path_style' => '{{ nextcloud__config_php_objectstore_s3_use_path_style | lower }}'
        ],
    ],
);
{% elif nextcloud__config_php_objectstore_swift_url is defined and nextcloud__config_php_objectstore_swift_url | length %}
/**
 * Swift V3
 */
$CONFIG = array (
    'objectstore' => [
        'class' => 'OC\\Files\\ObjectStore\\Swift',
        'arguments' => [
            'autocreate' => {{ nextcloud__config_php_objectstore_swift_autocreate | lower }},
            'bucket' => '{{ nextcloud__config_php_objectstore_swift_bucket }}',
            'scope' => [
                'project' => [
                    'name' => '{{ nextcloud__config_php_objectstore_swift_scope_project_name }}',
                    'domain' => [
                        'name' => '{{ nextcloud__config_php_objectstore_swift_scope_project_domain_name }}',
                    ],
                ],
            ],
            'serviceName' => '{{ nextcloud__config_php_objectstore_swift_service_name }}',
            'tenantName' => '{{ nextcloud__config_php_objectstore_swift_tenant_name }}',
            'region' => '{{ nextcloud__config_php_objectstore_swift_region_name }}',
            'url' => '{{ nextcloud__config_php_objectstore_swift_url }}',
            'user' => [
                'name' => '{{ nextcloud__config_php_objectstore_swift_user_name }}',
                'password' => '{{ nextcloud__config_php_objectstore_swift_user_password }}',
                'domain' => [
                    'name' => '{{ nextcloud__config_php_objectstore_swift_user_domain_name }}',
                ],
            ],
        ],
    ],
);
{% endif %}
