<?php

// {{ ansible_managed }}
// 2022092801

// Nextcloud supports loading configuration parameters from multiple files. You can add arbitrary
// files ending with .config.php in the config/ directory, for example you could place your email
// server configuration in email.config.php. This allows you to easily create and manage custom
// configurations, or to divide a large complex configuration file into a set of smaller files.
// These custom files are not overwritten by Nextcloud, and the values in these files take
// precedence over config.php.

// https://docs.nextcloud.com/server/stable/admin_manual/configuration_server/config_sample_php_parameters.html#multiple-config-php-file

$CONFIG = array (
    'memcache.local' => '\\OC\\Memcache\\Redis',
    'memcache.distributed' => '\\OC\\Memcache\\Redis',
    'memcache.locking' => '\\OC\\Memcache\\Redis',
    'redis' =>
        array (
            'dbindex' => {{ nextcloud__config_php_redis_dbindex | d(0) }},
            'host' => '{{ nextcloud__config_php_redis_host | d('127.0.0.1') }}',
            'port' => {{ nextcloud__config_php_redis_port | d(6379) }},
            'timeout' => {{ nextcloud__config_php_redis_timeout | d(0.0) }},
        ),
);
