# {{ ansible_managed }}
# 2023021001

apiVersion: 1

{% if (grafana__provisioning_dashboards__combined_var | selectattr("state", "defined") | selectattr("state", "ne", "absent")
            + (grafana__provisioning_dashboards__combined_var | selectattr("state", "undefined"))) | length %}
providers:
{% for item in grafana__provisioning_dashboards__combined_var if item['state'] | d('present') != 'absent' %}
{{ item | to_nice_yaml | indent(4, first=True) }}
{% endfor %}
{% else %}
providers: []
{% endif %}
