# {{ ansible_managed }}
# 2022050901

[Unit]
Description=notify-and-schedule Timer

[Timer]
OnCalendar={{ system_update__notify_and_schedule_on_calendar }}
Unit=notify-and-schedule.service

[Install]
WantedBy=timers.target
