# {{ ansible_managed }}
# 2026060901

[Unit]
Description=notify-and-schedule Service

[Service]
ExecStart=/usr/local/libexec/notify-and-schedule
Type=oneshot
User=root
KillMode=process

[Install]
WantedBy=basic.target
