- name: 'Ensure group keycloak exists'
  ansible.builtin.group:
    name: 'keycloak'
    state: 'present'
  tags:
    - 'keycloak'


- name: 'Add the user keycloak with primary group of keycloak'
  ansible.builtin.user:
    name: 'keycloak'
    comment: 'User for Keycloak service'
    group: 'keycloak'
  tags:
    - 'keycloak'


- name: 'Create log directory "/var/log/keycloak"'
  ansible.builtin.file:
    path: '/var/log/keycloak'
    state: 'directory'
    owner: 'keycloak'
    group: 'keycloak'
  tags:
    - 'keycloak'


- name: 'chown -R keycloak:keycloak /opt/keycloak'
  ansible.builtin.file:
    path: '/opt/keycloak'
    state: 'directory'
    recurse: true
    owner: 'keycloak'
    group: 'keycloak'
  tags:
    - 'keycloak'

- name: 'Download and unpack archive'
  ansible.builtin.unarchive:
    src: 'https://github.com/keycloak/keycloak/releases/download/{{ keycloak__version }}/keycloak-{{ keycloak__version }}.tar.gz'
    dest: '/opt/keycloak'
    remote_src: true
    extra_opts:
      - '--strip-components=1'
  tags:
    - 'keycloak'

- block:

  - name: "Create keycloak config file"
    ansible.builtin.template:
      src: 'opt/keycloak/conf/keycloak.conf.j2'
      dest: '/opt/keycloak/conf/keycloak.conf'
      owner: 'keycloak'
      group: 'keycloak'
      mode: 0o640

  - name: 'Create private key (RSA, 4096 bits)'
    community.crypto.openssl_privatekey:
      path: '/opt/keycloak/conf/keycloak.key.pem'
      owner: 'keycloak'
      group: 'keycloak'
    when: 'keycloak__proxy_mode is not defined or keycloak__proxy_mode | length == 0 or keycloak__proxy_mode == "reencrypt" or keycloak__proxy_mode == "passthrough"'

  - name: 'Create certificate signing request (CSR) for self-signed certificate'
    community.crypto.openssl_csr_pipe:
      privatekey_path: '/opt/keycloak/conf/keycloak.key.pem'
      common_name: 'linuxfabrik.ch'
      organization_name: 'Linuxfabrik GmbH'
      subject_alt_name:
        - "DNS:keycloak.local"
    register: 'csr'
    when: 'keycloak__proxy_mode is not defined or keycloak__proxy_mode | length == 0 or keycloak__proxy_mode == "reencrypt" or keycloak__proxy_mode == "passthrough"'

  - name: 'Create simple self-signed certificate'
    community.crypto.x509_certificate:
      path: '/opt/keycloak/conf/keycloak.crt.pem'
      owner: 'keycloak'
      group: 'keycloak'
      privatekey_path: '/opt/keycloak/conf/keycloak.key.pem'
      csr_content: "{{ csr.csr }}"
      provider: 'selfsigned'
    when: 'keycloak__proxy_mode is not defined or keycloak__proxy_mode | length == 0 or keycloak__proxy_mode == "reencrypt" or keycloak__proxy_mode == "passthrough"'

  - name: 'Change the working directory to /opt/keycloak and bin/kc.sh build --db {{ keycloak__db_vendor }}'
    ansible.builtin.shell: 'bin/kc.sh build --db {{ keycloak__db_vendor }}'
    args:
      chdir: '/opt/keycloak'

  - name: 'chown -R keycloak:keycloak /opt/keycloak'
    ansible.builtin.file:
      path: '/opt/keycloak'
      state: 'directory'
      recurse: true
      owner: 'keycloak'
      group: 'keycloak'

  when: 'keycloak__mode == "production"'
  tags:
    - 'keycloak'


- name: "Configure sysconfig file for keycloak service"
  ansible.builtin.template:
    src: 'etc/sysconfig/keycloak-sysconfig.j2'
    dest: '/etc/sysconfig/keycloak'
    owner: 'root'
    group: 'root'
    mode: 0o640
  tags:
    - 'keycloak'


- name: 'Create keycloak.service'
  ansible.builtin.template:
    src: 'etc/systemd/system/keycloak.service.j2'
    dest: '/etc/systemd/system/keycloak.service'
    owner: 'root'
    group: 'root'
    mode: 0o644
  tags:
    - 'keycloak'


- name: 'systemctl enable --now keycloak.service'
  ansible.builtin.systemd:
    name: 'keycloak.service'
    state: 'started'
    enabled: true
    daemon_reload: true
  tags:
    - 'keycloak'
