icinga2_master__additional_master_endpoints: []
icinga2_master__api_ticket_login: '{{ icinga2_master__enrolment_api_user }}'

icinga2_master__api_users__dependent_var: []
icinga2_master__api_users__group_var: []
icinga2_master__api_users__host_var: []
icinga2_master__api_users__role_var:
  - username: '{{ icinga2_master__enrolment_api_user["username"] }}'
    password: '{{ icinga2_master__enrolment_api_user["password"] }}'
    permissions:
      - 'actions/generate-ticket'
icinga2_master__api_users__combined_var: '{{ icinga2_master__api_users__role_var +
  icinga2_master__api_users__group_var +
  icinga2_master__api_users__host_var +
  icinga2_master__api_users__dependent_var
  | flatten
 }}'

icinga2_master__cn: '{{ ansible_facts["nodename"] }}'
icinga2_master__database_enable_ha: false
icinga2_master__database_host: 'localhost'
icinga2_master__database_name: 'icinga2_ido'
icinga2_master__influxdb_database_name: 'icinga2'
icinga2_master__influxdb_enable_ha: false
icinga2_master__influxdb_host: 'localhost'
icinga2_master__influxdb_retention: '216d'
icinga2_master__node_role: 'primary'
icinga2_master__primary_port: 5665
icinga2_master__service_enabled: true

# -----------------------------------------------------------------------------

icinga2_master__mariadb_server__databases__dependent_var:
  - name: '{{ icinga2_master__database_name }}'
    collation: 'utf8_general_ci'
    encoding: 'utf8'
    state: 'present'

icinga2_master__mariadb_server__users__dependent_var:
  - username: '{{ icinga2_master__database_login.username }}'
    password: '{{ icinga2_master__database_login.password }}'
    host: '{{ icinga2_master__database_host }}'
    priv:
      - '{{ icinga2_master__database_name }}.*:CREATE,ALTER,SELECT,INSERT,UPDATE,DELETE,DROP,CREATE VIEW,INDEX,EXECUTE'
    state: 'present'

icinga2_master__influxdb__databases__dependent_var:
  - name: '{{ icinga2_master__influxdb_database_name }}'
    state: 'present'
    retention: '{{ icinga2_master__influxdb_retention }}'

icinga2_master__influxdb__users__dependent_var:
  - name: '{{ icinga2_master__influxdb_login.username }}'
    password: '{{ icinga2_master__influxdb_login.password }}'
    state: 'present'
    admin: false
    grants:
      - database: '{{ icinga2_master__influxdb_database_name }}'
        privilege: 'ALL'

icinga2_master__monitoring_plugins__deploy_notification_plugins__dependent_var: true

icinga2_master__selinux__booleans__dependent_var:
  - key: 'icinga2_can_connect_all'
    value: 'on'
  - key: 'icinga2_run_sudo'
    value: 'on'
  - key: 'nagios_run_sudo'
    value: 'on'
