- block:

  - name: 'install {{ __monitoring_plugins__versionlock_package }}'
    ansible.builtin.package:
      name:
        - '{{ __monitoring_plugins__versionlock_package }}'
      state: 'present'
    when: '__monitoring_plugins__versionlock_package is defined'

  - name: '{{ __monitoring_plugins__versionlock_unlock_command }} linuxfabrik-monitoring-plugins*'
    ansible.builtin.command: '{{ __monitoring_plugins__versionlock_unlock_command }} linuxfabrik-monitoring-plugins*'
    ignore_errors: true

  # block
  when:
    - 'not monitoring_plugins__skip_package_versionlock'

  tags:
    - 'monitoring_plugins'


- block:

  - name: 'install linuxfabrik-monitoring-plugins{{ __monitoring_plugins__package_version_separator }}{{ monitoring_plugins__version }}*' # noqa package-latest
    ansible.builtin.package:
      name:
        - 'linuxfabrik-monitoring-plugins{{ __monitoring_plugins__package_version_separator }}{{ monitoring_plugins__version }}*'
      state: 'latest' # use latest for the versionlock after

  - name: 'install linuxfabrik-monitoring-plugins-selinux{{ __monitoring_plugins__package_version_separator }}{{ monitoring_plugins__version }}*' # noqa package-latest
    ansible.builtin.package:
      name:
        - 'linuxfabrik-monitoring-plugins-selinux{{ __monitoring_plugins__package_version_separator }}{{ monitoring_plugins__version }}*'
      state: 'latest' # use latest for the versionlock after
    when:
      - 'ansible_facts["os_family"] == "RedHat"'

  tags:
    - 'monitoring_plugins'


- block:

  - name: '{{ __monitoring_plugins__versionlock_lock_command }} linuxfabrik-monitoring-plugins*'
    ansible.builtin.command: '{{ __monitoring_plugins__versionlock_lock_command }} linuxfabrik-monitoring-plugins*'

  # block
  when:
    - 'not monitoring_plugins__skip_package_versionlock'

  tags:
    - 'monitoring_plugins'
