- name: 'Clone the lib repo'
  ansible.builtin.import_role:
    name: 'shared'
    tasks_from: 'clone-lib-repo.yml'
  vars:
    shared__lib_repo_version: '{{ monitoring_plugins__repo_version }}'
  tags:
    - 'monitoring_plugins'


- block:

  - name: 'Ensure the lib folder exists (Linux)'
    ansible.builtin.file:
      path: '/usr/lib64/nagios/plugins/lib'
      state: 'directory'
      mode: 0o755

  - name: 'Copy lib for the Linuxfabrik monitoring plugins (Linux)'
    ansible.builtin.copy:
      src: '{{ item }}'
      dest: '/usr/lib64/nagios/plugins/lib'
      owner: 'root'
      mode: 0o755
    with_fileglob:
      - '/tmp/ansible.lib-repo/*.py'
      - '/tmp/ansible.lib-repo/__init__.py'

  - name: 'Copy the Linuxfabrik monitoring plugins (Linux)'
    ansible.builtin.copy:
      src: '/tmp/ansible.monitoring-plugins-repo/check-plugins/{{ item }}/{{ item }}'
      dest: '/usr/lib64/nagios/plugins/{{ item }}'
      owner: 'root'
      mode: 0o755
    loop: '{{ monitoring_plugins__plugin_list }}'

  - block:

    - block:

      - name: 'Create the list of available notification plugins'
        ansible.builtin.find:
          paths: '/tmp/ansible.monitoring-plugins-repo/notification-plugins/'
          recurse: true
          depth: 2
          hidden: true
        register: 'monitoring_plugins__notification_find_result'
        run_once: true

      - name: 'Apply filters'
        ansible.builtin.set_fact:
          monitoring_plugins__notification_plugin_list: "{{
              monitoring_plugins__notification_find_result.files
              | map(attribute='path')
              | map('regex_search', '/tmp/ansible\\.monitoring-plugins-repo/notification-plugins/(?P<check>.*)/' ~ monitoring_plugins__check_plugin_search_name)
              | map('regex_replace', '/tmp/ansible\\.monitoring-plugins-repo/notification-plugins/(?P<check>.*)/' ~ monitoring_plugins__check_plugin_search_name, '\\g<check>')
              | reject('search', 'example')
              | reject('search', 'None')
              | select('string') | list | unique
            }}"

      # block
      delegate_to: 'localhost'
      check_mode: false # run task even if `--check` is specified

    - name: 'Copy the Linuxfabrik notification plugins (Linux)'
      ansible.builtin.copy:
        src: '/tmp/ansible.monitoring-plugins-repo/notification-plugins/{{ item }}/{{ item }}'
        dest: '/usr/lib64/nagios/plugins/{{ item }}'
        owner: 'root'
        mode: 0o755
      loop: '{{ monitoring_plugins__notification_plugin_list }}'

    # block
    when: 'not monitoring_plugins__skip_notification_plugins__combined_var | bool'

  tags:
    - 'monitoring_plugins'
