# {{ ansible_managed }}
# 2024080803

FILES_INCLUDE=(
{% for item in borg_local__include_files__combined_var if item['state'] | d('present') != 'absent' %}
    '{{ item['file'] }}'
{% endfor %}
)

FILES_EXCLUDE=(
{% for item in borg_local__exclude_files__combined_var if item['state'] | d('present') != 'absent' %}
    --exclude "{{ item['file'] }}"
{% endfor %}
)

RETENTION_DAILY="{{ borg_local__retention_daily }}"
RETENTION_HOURLY="{{ borg_local__retention_hourly }}"
RETENTION_ONDEMAND=30d

BACKUP_DIR="{{ borg_local__backup_dir }}"
BACKUP_OPTS=(
{% for item in borg_local__backup_opts__combined_var if item['state'] | d('present') != 'absent' %}
    {{ item['option'] }}
{% endfor %}
)

export BORG_RELOCATED_REPO_ACCESS_IS_OK=yes
export BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=no
export BORG_PASSPHRASE="$(cat /etc/borg/borg-passphrase)"
