# the public [lfops_ee containers](https://github.com/Linuxfabrik/lfops/pkgs/container/lfops_ee) are built
# via [github actions](https://github.com/Linuxfabrik/lfops/actions/workflows/lf-build.yml).
# for testing / troubleshooting, the container can be build with `ansible-builder build --tag lfops_ee:local -vvv` locally.
# this takes around 3 mins.

# https://ansible.readthedocs.io/projects/builder/en/stable/definition/#builder-ee-definition
version: 3

images:
  base_image:
    name: 'quay.io/rockylinux/rockylinux:9'

dependencies:
  ansible_runner:
    package_pip: 'ansible-runner'

  ansible_core:
    package_pip: 'ansible-core>=2.16.0,<2.17.0' # make sure the ansible version works with rhel8

  galaxy: 'execution-environment-requirements.yml'

  python:
    - 'ansible-lint'
    - 'cs' # required for ngine_io.cloudstack
    - 'hcloud' # required for hetzner.hcloud
    - 'jmespath' # required for community.general.json_query
    - 'netaddr' # required for ansible.utils.ipaddr
    - 'openstacksdk' # required for openstack.cloud
    - 'passlib' # required for ansible.builtin.password_hash filter
    - 'pywinrm'

  python_interpreter:
    package_system: 'python3.11'
    python_path: '/usr/bin/python3.11'

  system:
    - 'git-core' # required for ansible.builtin.git module
    - 'rsync' # required for ansible.posix.synchronize module

additional_build_files:
  - src: 'linuxfabrik-lfops.tar.gz'
    dest: '.'
