# {{ ansible_managed }}
# 2026052001

[Unit]
Description=Headless Google Chrome
BindsTo=google-chrome-headless-proxy.service

[Service]
Type=simple
User=chrome
Group=chrome
ExecStart={{ __google_chrome__binary_path }} \
    --headless=new \
    --disable-gpu \
    --no-first-run \
    --no-default-browser-check \
    --hide-scrollbars \
    --disable-dev-shm-usage \
    --remote-debugging-address={{ google_chrome__listen_address }} \
    --remote-debugging-port={{ google_chrome__backend_port }} \
    --remote-allow-origins=http://{{ google_chrome__listen_address }}:{{ google_chrome__listen_port }} \
{% for arg in google_chrome__extra_args__combined_var if arg['state'] | d('present') != 'absent' %}
    {{ arg['name'] }} \
{% endfor %}
    --user-data-dir={{ google_chrome__user_data_dir }}
Restart=on-failure
RestartSec=5

PrivateDevices=true
ProtectClock=true
NoNewPrivileges=true
RemoveIPC=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ google_chrome__user_data_dir }}
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=~cgroup uts ipc
LockPersonality=true
MemoryDenyWriteExecute=false
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
ProtectKernelLogs=true
ProtectHostname=true
ProtectClockSetting=true
ProtectProc=invisible
ProcSubset=pid
RestrictSUIDSGID=true
RestrictRealtime=true
UMask=0077
