# {{ ansible_managed }}
# 2026052001

[Unit]
Description=Socket for on-demand Headless Google Chrome

[Socket]
ListenStream={{ google_chrome__listen_address }}:{{ google_chrome__listen_port }}

[Install]
WantedBy=sockets.target
