login__users__dependent_var: []
login__users__group_var: []
login__users__host_var: []
login__users__role_var: []

login__users__combined_var: '{{ login__users__role_var +
  login__users__group_var +
  login__users__host_var +
  login__users__dependent_var
 }}'

login__passwordless_sudo_group: ''
