# {{ ansible_managed }}
# 2023022001

{% if repo_debian_base__mirror_url is defined and repo_debian_base__mirror_url | length %}
deb {{ repo_debian_base__mirror_url }}/debian/ {{ ansible_facts["distribution_release"] }} main
deb-src {{ repo_debian_base__mirror_url }}/debian/ {{ ansible_facts["distribution_release"] }} main

deb {{ repo_debian_base__mirror_url }}/debian-security {{ repo_debian_base__dist_security }} main
deb-src {{ repo_debian_base__mirror_url }}/debian-security {{ repo_debian_base__dist_security }} main

deb {{ repo_debian_base__mirror_url }}/debian/ {{ repo_debian_base__dist_updates }} main
deb-src {{ repo_debian_base__mirror_url }}/debian/ {{ repo_debian_base__dist_updates }} main
{% else %}
deb http://deb.debian.org/debian/ {{ ansible_facts["distribution_release"] }} main
deb-src http://deb.debian.org/debian/ {{ ansible_facts["distribution_release"] }} main

deb http://security.debian.org/debian-security {{ repo_debian_base__dist_security }} main
deb-src http://security.debian.org/debian-security {{ repo_debian_base__dist_security }} main

deb http://deb.debian.org/debian/ {{ repo_debian_base__dist_updates }} main
deb-src http://deb.debian.org/debian/ {{ repo_debian_base__dist_updates }} main
{% endif %}
