- name: 'Install at'
  ansible.builtin.package:
    name: 'at'
    state: 'present'
  tags:
    - 'at'


- block:

  - name: 'systemctl: atd enabled = {{ at__service_enabled }}'
    ansible.builtin.service:
      name: 'atd'
      enabled: '{{ at__service_enabled }}'

  - name: "systemctl: atd state = {{ at__service_state }}"
    ansible.builtin.service:
      name: 'atd'
      state: "{{ at__service_state }}"

  tags:
    - 'at'
    - 'at:state'
