# {{ ansible_managed }}
# 2026092201

alias whatismyip="curl ipecho.net/plain"
alias dmesg='dmesg --level=emerg,alert,crit,err --reltime'

function lf-confirm() {
    echo -n "Are you sure? [y/N] "
    read reply

    if [ "$reply" = y ] || [ "$reply" = Y ]
    then
        return 0
    else
        echo "Command cancelled."
        return 1
    fi
}

{% if tools__icinga2_api_user_login is defined and tools__icinga2_api_user_login | length %}
# /usr/local/sbin/schedule-icinga-downtime is readable and executable by root only.
alias reboot="lf-confirm && schedule-icinga-downtime 300 'Manual reboot' && /usr/sbin/reboot"
{% else %}
alias reboot="lf-confirm && /usr/sbin/reboot"
{% endif %}
alias poweroff="lf-confirm && /usr/sbin/poweroff"
