# {{ ansible_managed }}
# 2026091301

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses = '{{ postgresql_server__conf_listen_addresses | d(['localhost']) | join(',') }}'
port = {{ postgresql_server__conf_port | d(5432) }}
max_connections = {{ postgresql_server__conf_max_connections | d(100) }}

# - Authentication -

password_encryption = {{ postgresql_server__conf_password_encryption | d('scram-sha-256') }}
