collabora__coolwsd_allowed_languages__dependent_var: []
collabora__coolwsd_allowed_languages__group_var: []
collabora__coolwsd_allowed_languages__host_var: []
collabora__coolwsd_allowed_languages__role_var:
  - name: 'de_AT'
    state: 'present'
  - name: 'de_CH'
    state: 'present'
  - name: 'de_DE'
    state: 'present'
  - name: 'en_AU'
    state: 'present'
  - name: 'en_CA'
    state: 'present'
  - name: 'en_GB'
    state: 'present'
  - name: 'en_US'
    state: 'present'
  - name: 'fr'
    state: 'present'
  - name: 'it_IT'
    state: 'present'
collabora__coolwsd_allowed_languages__combined_var: '{{ (
      collabora__coolwsd_allowed_languages__role_var +
      collabora__coolwsd_allowed_languages__dependent_var +
      collabora__coolwsd_allowed_languages__group_var +
      collabora__coolwsd_allowed_languages__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'

collabora__coolwsd_deepl_api_url: 'https://api-free.deepl.com/v2/translate'
collabora__coolwsd_deepl_auth_key: ''
collabora__coolwsd_deepl_enabled: false
collabora__coolwsd_experimental_features: false
collabora__coolwsd_logging_file_enable: true
collabora__coolwsd_lok_allow: []
collabora__coolwsd_out_of_focus_timeout_secs: 120
collabora__coolwsd_post_allow: []
collabora__coolwsd_ssl_enable: false
collabora__coolwsd_ssl_settings_ca_file_path: '/etc/coolwsd/ca-chain.cert.pem'
collabora__coolwsd_ssl_settings_cert_file_path: '/etc/coolwsd/cert.pem'
collabora__coolwsd_ssl_settings_key_file_path: '/etc/coolwsd/key.pem'
collabora__coolwsd_ssl_settings_ssl_verification: false
collabora__coolwsd_ssl_termination: true
collabora__coolwsd_storage_wopi__dependent_var: []
collabora__coolwsd_storage_wopi__group_var: []
collabora__coolwsd_storage_wopi__host_var: []
collabora__coolwsd_storage_wopi__role_var: []
collabora__coolwsd_storage_wopi__combined_var: '{{ (
      collabora__coolwsd_storage_wopi__role_var +
      collabora__coolwsd_storage_wopi__dependent_var +
      collabora__coolwsd_storage_wopi__group_var +
      collabora__coolwsd_storage_wopi__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'

collabora__coolwsd_welcome_enable: false
collabora__language_packages__dependent_var: []
collabora__language_packages__group_var: []
collabora__language_packages__host_var: []
collabora__language_packages__role_var:
  # de
  - name: 'collaboraoffice-dict-de'
    state: 'present'
  - name: 'collaboraofficebasis-de'
    state: 'present'
  - name: 'mythes-de'
    state: 'present'
  - name: 'hunspell-de'
    state: 'present'
  # en
  - name: 'collaboraoffice-dict-en'
    state: 'present'
  - name: 'collaboraofficebasis-en-GB'
    state: 'present'
  - name: 'collaboraofficebasis-en-US'
    state: 'present'
  - name: 'mythes-en'
    state: 'present'
  - name: 'hunspell-en'
    state: 'present'
  - name: 'hunspell-en-GB'
    state: 'present'
  - name: 'hunspell-en-US'
    state: 'present'
  # fr
  - name: 'collaboraoffice-dict-fr'
    state: 'present'
  - name: 'collaboraofficebasis-fr'
    state: 'present'
  - name: 'mythes-fr'
    state: 'present'
  - name: 'hunspell-fr'
    state: 'present'
  # it
  - name: 'collaboraoffice-dict-it'
    state: 'present'
  - name: 'collaboraofficebasis-it'
    state: 'present'
  - name: 'mythes-it'
    state: 'present'
  - name: 'hunspell-it'
    state: 'present'
collabora__language_packages__combined_var: '{{ (
      collabora__language_packages__role_var +
      collabora__language_packages__dependent_var +
      collabora__language_packages__group_var +
      collabora__language_packages__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'

collabora__service_enabled: true
collabora__use_code: true
