- name: 'Set platform/version specific variables'
  ansible.builtin.import_role:
    name: 'shared'
    tasks_from: 'platform-variables.yml'
  tags:
    - 'always'

- name: 'Perform platform/version specific tasks'
  ansible.builtin.include_tasks: '{{ __task_file }}'
  when: '__task_file | length'
  vars:
    __task_file: '{{ lookup("ansible.builtin.first_found", __first_found_options) }}'
    __first_found_options:
      files:
        - '{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_version"] }}.yml'
        - '{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      paths:
        - '{{ role_path }}/tasks'
      skip: true
  tags:
    - 'always'


- block:

  - name: 'Deploy /etc/postfix/main.cf'
    ansible.builtin.template:
      src: 'etc/postfix/{{ ansible_facts["os_family"] }}-main.cf.j2'
      dest: '/etc/postfix/main.cf'
      owner: 'root'
      group: 'root'
      mode: 0o644
    notify: 'postfix: reload postfix'

  - name: 'Deploy /etc/postfix/master.cf'
    ansible.builtin.template:
      src: 'etc/postfix/{{ ansible_facts["os_family"] }}-master.cf.j2'
      dest: '/etc/postfix/master.cf'
      owner: 'root'
      group: 'root'
      mode: 0o644
    notify: 'postfix: reload postfix'

  - name: 'Deploy /etc/aliases'
    ansible.builtin.template:
      src: 'etc/aliases.j2'
      dest: '/etc/aliases'
      owner: 'root'
      group: 'root'
      mode: 0o644
    notify: 'postfix: newaliases'

  - name: 'Deploy /etc/postfix/canonical'
    ansible.builtin.template:
      src: 'etc/postfix/canonical.j2'
      dest: '/etc/postfix/canonical'
      mode: 0o644
    notify: 'postfix: postmap /etc/postfix/canonical'

  - block:

    - name: 'Deploy /etc/postfix/sasl_passwd'
      ansible.builtin.template:
        src: 'etc/postfix/sasl_passwd.j2'
        dest: '/etc/postfix/sasl_passwd'
        owner: 'root'
        group: 'root'
        mode: 0o600
      register: 'postfix__deploy_sasl_password_result'

    - name: 'postmap {{ __postfix__map_type }}:/etc/postfix/sasl_passwd'
      ansible.builtin.command: 'postmap {{ __postfix__map_type }}:/etc/postfix/sasl_passwd'
      when: 'postfix__deploy_sasl_password_result is changed'
      notify: 'postfix: reload postfix'

    - name: 'chmod 0600 /etc/postfix/sasl_passwd.{{ (__postfix__map_type == "lmdb") | ternary("lmdb", "db") }}'
      ansible.builtin.file:
        path: '/etc/postfix/sasl_passwd.{{ (__postfix__map_type == "lmdb") | ternary("lmdb", "db") }}'
        owner: 'root'
        group: 'root'
        mode: 0o600
      ignore_errors: "{{ ansible_check_mode }}" # ignore errors if `--check` is specified, as the file could not exist yet

    when:
      - 'postfix__relayhost_username is defined and postfix__relayhost_username | length'

  - ansible.builtin.include_tasks: 'lookup-table.yml'
    loop: '{{ postfix__lookup_tables__combined_var }}'

  - name: 'flush handlers so that postfix can be used by the later roles'
    ansible.builtin.meta: 'flush_handlers'

  tags:
    - 'postfix'


- block:

  - name: 'systemctl {{ postfix__service_state[:-2] }} postfix.service'
    ansible.builtin.systemd:
      name: 'postfix.service'
      state: '{{ postfix__service_state }}'

  - name: 'systemctl {{ postfix__service_enabled | bool | ternary("enable", "disable") }} postfix.service'
    ansible.builtin.systemd:
      name: 'postfix.service'
      enabled: '{{ postfix__service_enabled }}'

  tags:
    - 'postfix'
    - 'postfix:state'
