- name: 'Perform platform/version specific tasks'
  ansible.builtin.include_tasks: '{{ lookup("first_found", __task_file) }}'
  vars:
    __task_file:
      files:
        - '{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_version"] }}.yml'
        - '{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      paths:
        - '{{ role_path }}/tasks'
  ignore_errors: true # TODO: this probably is a bug in the first_found lookup, according to the doc skip=true should work. else improve the ignore_errors statement
  tags:
    - 'always'


- block:

  - name: 'Create plain sasl_passwd file'
    ansible.builtin.template:
      src: 'etc/postfix/sasl_passwd.j2'
      dest: '/etc/postfix/sasl_passwd'
      owner: 'root'
      group: 'root'
      mode: 0o600

  - name: 'Create Postfix lookup table based on sasl_passwd file'
    ansible.builtin.shell: 'postmap /etc/postfix/sasl_passwd'

  - name: 'Chmod sasl_passwd.db'
    ansible.builtin.file:
      path: '/etc/postfix/sasl_passwd.db'
      owner: 'root'
      group: 'root'
      mode: 0o600

  - name: 'Remove all lines containing "relayhost"'
    ansible.builtin.lineinfile:
      dest: '/etc/postfix/main.cf'
      regexp: '(?i)^#?relayhost ='
      state: 'absent'

  - name: 'Ensure vars are present in /etc/postfix/main.cf'
    ansible.builtin.lineinfile:
      path: '/etc/postfix/main.cf'
      regexp: '{{ item.regexp }}'
      line: '{{ item.line }}'
    notify: 'postfix: restart postfix'
    with_items:

      - regexp: '(?i)^inet_protocols ='
        line: 'inet_protocols = {{ postfix__inet_protocols }}'

      - regexp: '(?i)^relayhost ='
        line: 'relayhost = {{ postfix__relayhost }}'

      - regexp: '(?i)^#?smtp_sasl_auth_enable ='
        line: 'smtp_sasl_auth_enable = {{ postfix__smtp_sasl_auth_enable | bool | ternary("yes", "no") }}'

      - regexp: '(?i)^#?smtp_sasl_security_options ='
        line: 'smtp_sasl_security_options = noanonymous'

      - regexp: '(?i)^#?smtp_sasl_password_maps ='
        line: 'smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd'

  - name: 'flush handlers so that postfix can be used by the later roles'
    ansible.builtin.meta: 'flush_handlers'

  tags:
    - 'postfix'


- block:

  - name: 'systemctl: postfix enabled = {{ postfix__service_enabled }}'
    ansible.builtin.systemd:
      name: 'postfix.service'
      enabled: '{{ postfix__service_enabled }}'

  - name: 'systemctl: postfix state = {{ postfix__service_state }}'
    ansible.builtin.systemd:
      name: 'postfix.service'
      state: '{{ postfix__service_state }}'
    register: 'postfix__systemctl_result'

  tags:
    - 'postfix'
    - 'postfix:state'
