; {{ ansible_managed }}
; 2020101601

[PHP]
date.timezone = Europe/Zurich
default_socket_timeout = 10
display_errors = {{ php__ini_display_errors | default('off') }}
display_startup_errors = {{ php__ini_display_startup_errors | default('off') }}
error_reporting = {{ php__ini_error_reporting | default('E_ALL & ~E_DEPRECATED & ~E_STRICT') }}
expose_php = Off
html_errors = Off
max_execution_time = {{ php__ini_max_execution_time | default('30') }}
max_file_uploads = {{ php__ini_max_file_uploads | default('50') }}
max_input_time = {{ php__ini_max_input_time | default('60') }}
memory_limit = {{ php__ini_memory_limit | default('128M') }}
post_max_size = {{ php__ini_post_max_size | default('8M') }}
upload_max_filesize = {{ php__ini_upload_max_filesize | default('2M') }}
realpath_cache_size = 128K
realpath_cache_ttl = 3600
serialize_precision = 17
track_errors = Off

[mail function]
SMTP = {{ php__ini_smtp | default('localhost') }}
smtp_port = 25
mail.add_x_header = On

[Session]
session.gc_maxlifetime = 86400
session.sid_length = {{ php__ini_session_sid_length | default(26) }}
session.trans_sid_tags = "{{ php__ini_session_trans_sid_tags | default("a=href,area=href,frame=src,form=") }}"
