graylog_server__cacerts_imports__dependent_var: []
graylog_server__cacerts_imports__group_var: []
graylog_server__cacerts_imports__host_var: []
graylog_server__cacerts_imports__role_var: []
graylog_server__cacerts_imports__combined_var: '{{ (
      graylog_server__cacerts_imports__role_var +
      graylog_server__cacerts_imports__dependent_var +
      graylog_server__cacerts_imports__group_var +
      graylog_server__cacerts_imports__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'

graylog_server__elasticsearch_hosts:
  - 'http://127.0.0.1:9200'
graylog_server__http_bind_address: '127.0.0.1'
graylog_server__http_bind_port: 9000
graylog_server__is_leader: true
graylog_server__mongodb_uri: 'mongodb://localhost/graylog'
graylog_server__plugins: []
graylog_server__service_enabled: true
graylog_server__timezone: 'Europe/Zurich'

graylog_server__system_inputs:
  - configuration:
      bind_address: '0.0.0.0'
      number_worker_threads: 4
      port: 5044
      recv_buffer_size: 1048576
    global: true
    title: 'Beats (5044/UDP - managed by Ansible - do not edit)'
    type: 'org.graylog2.inputs.gelf.udp.GELFUDPInput'
  - configuration:
      bind_address: '0.0.0.0'
      decompress_size_limit: 8388608
      max_message_size: 2097152
      number_worker_threads: 2
      override_source: ''
      port: 12201
      recv_buffer_size: 1048576
      tcp_keepalive: true
      tls_cert_file: ''
      tls_client_auth: 'disabled'
      tls_client_auth_cert_file: ''
      tls_enable: false
      tls_key_file: ''
      tls_key_password: ''
      use_null_delimiter: true
    global: true
    title: 'Gelf (12201/TCP - managed by Ansible - do not edit)'
    type: 'org.graylog2.inputs.gelf.tcp.GELFTCPInput'
  - configuration:
      bind_address: '0.0.0.0'
      decompress_size_limit: 8388608
      number_worker_threads: 2
      override_source: ''
      port: 12201
      recv_buffer_size: 1048576
    global: true
    title: 'Gelf (12201/UDP - managed by Ansible - do not edit)'
    type: 'org.graylog2.inputs.gelf.udp.GELFUDPInput'
  - configuration:
      allow_override_date: true
      bind_address: '0.0.0.0'
      decompress_size_limit: 8388608
      expand_structured_data: false
      force_rdns: false
      number_worker_threads: 2
      override_source: ''
      port: 1514
      recv_buffer_size: 1048576
      store_full_message: false
    global: true
    title: 'Syslog (1514/UDP - managed by Ansible - do not edit)'
    type: 'org.graylog2.inputs.syslog.udp.SyslogUDPInput'

graylog_server__system_default_index_set:
  can_be_default: true
  creation_date: '{{ ansible_date_time.iso8601 }}'
  description: 'One index per day; 365 indices max'
  field_type_refresh_interval: 5000
  index_analyzer: 'standard'
  index_optimization_disabled: false
  index_optimization_max_num_segments: 1
  index_prefix: 'lfops-default'
  replicas: 0
  retention_strategy_class: 'org.graylog2.indexer.retention.strategies.DeletionRetentionStrategy'
  retention_strategy:
    max_number_of_indices: 365
    type: 'org.graylog2.indexer.retention.strategies.DeletionRetentionStrategyConfig'
  rotation_strategy:
    rotation_period: 'P1D'
    rotate_empty_index_set: false
    type: 'org.graylog2.indexer.rotation.strategies.TimeBasedRotationStrategyConfig'
  rotation_strategy_class: 'org.graylog2.indexer.rotation.strategies.TimeBasedRotationStrategy'
  shards: 4
  title: 'Linuxfabrik Index Set (managed by Ansible - do not edit)'
  writable: true

# ---------------------------------------------------

graylog_server__apps__apps__dependent_var:
  - name: 'tar'

graylog_server__kernel_settings__transparent_hugepages__dependent_var: 'never'

graylog_server__elasticsearch_oss__action_auto_create_index__dependent_var: false
graylog_server__elasticsearch_oss__cluster_name__dependent_var: 'graylog'

graylog_server__opensearch__action_auto_create_index__dependent_var: false
graylog_server__opensearch__cluster_name__dependent_var: 'graylog'

graylog_server__selinux__booleans__dependent_var:
  - key: 'httpd_can_network_connect'
    value: 'on'
