graylog_server__http_bind_address: '127.0.0.1'
graylog_server__http_bind_port: 9000
graylog_server__is_leader: true
graylog_server__mongodb_uri: 'mongodb://127.0.0.1/graylog'
graylog_server__opts: '-Xms1g -Xmx1g -server -XX:+UseG1GC -XX:-OmitStackTraceInFastThrow'
graylog_server__plugins: []
graylog_server__service_enabled: true
graylog_server__stale_leader_timeout_ms: 2000
graylog_server__timezone: 'Europe/Zurich'

graylog_server__system_index_sets__dependent_var: []
graylog_server__system_index_sets__group_var: []
graylog_server__system_index_sets__host_var: []
graylog_server__system_index_sets__role_var: []
graylog_server__system_index_sets__combined_var: '{{ (
  graylog_server__system_index_sets__role_var +
  graylog_server__system_index_sets__dependent_var +
  graylog_server__system_index_sets__group_var +
  graylog_server__system_index_sets__host_var
  ) | linuxfabrik.lfops.combine_lod(unique_key="index_prefix")
  }}'

graylog_server__system_inputs__dependent_var: []
graylog_server__system_inputs__group_var: []
graylog_server__system_inputs__host_var: []
graylog_server__system_inputs__role_var: []
graylog_server__system_inputs__combined_var: '{{ (
  graylog_server__system_inputs__role_var +
  graylog_server__system_inputs__dependent_var +
  graylog_server__system_inputs__group_var +
  graylog_server__system_inputs__host_var
  ) | linuxfabrik.lfops.combine_lod(unique_key=["title", "type"])
  }}'

# ---------------------------------------------------

graylog_server__kernel_settings__sysctl__dependent_var:
  # prevent
  # `WARN  [UdpTransport] receiveBufferSize (SO_RCVBUF) for input ... should be >= 1048576 but is 425984`
  # this warning is related to how the operating system is configured (udp receive buffer size)
  - name: 'net.core.rmem_max'
    value: 1048576 # default: 212992
graylog_server__kernel_settings__transparent_hugepages__dependent_var: 'never'

graylog_server__selinux__booleans__dependent_var:
  - key: 'httpd_can_network_connect'
    value: 'on'
