<!-- {{ ansible_managed }} -->
<exist-config>
   <username>{{ numishare__exist_username }}</username>
   <password>{{ numishare__exist_password }}</password>
   <url>{{ numishare__exist_url }}</url>
</exist-config>
