# {{ ansible_managed }}
# 2026082801

DEPLOY_METHOD=docker
MONGO_URL=mongodb://{% if rocketchat__mongodb_login is defined and rocketchat__mongodb_login | length %}{{ rocketchat__mongodb_login['username'] }}:{{ rocketchat__mongodb_login['password'] }}@{% endif %}{{ rocketchat__mongodb_host }}:{{ rocketchat__mongodb_port }}/rocketchat{{ '?replicaSet=' ~ rocketchat__mongodb_repl_set_name if (rocketchat__mongodb_repl_set_name is defined and rocketchat__mongodb_repl_set_name | length) else '' }}
PORT={{ rocketchat__port }}
ROOT_URL={{ rocketchat__root_url }}
