# {{ ansible_managed }}
# 2023021501

[Unit]
Description=Minio ObjectStore Backup Service

[Service]
ExecStart=/usr/local/bin/mc --config-dir /etc/mc mirror --remove --overwrite "{{ objectstore_backup__source_name }}"/{{ minio_client__source_bucket }}/ "{{ objectstore_backup__destination_name }}"/{{ minio_client__destination_bucket }}
Type=oneshot
User=root

[Install]
WantedBy=basic.target
