apache_tomcat__roles__dependent_var: []
apache_tomcat__roles__group_var: []
apache_tomcat__roles__host_var: []
apache_tomcat__roles__role_var:
  - name: 'admin-gui'
  - name: 'manager-gui'
apache_tomcat__roles__combined_var: '{{ (
      apache_tomcat__roles__role_var +
      apache_tomcat__roles__dependent_var +
      apache_tomcat__roles__group_var +
      apache_tomcat__roles__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'

apache_tomcat__context_xml_cache_max_size: 10240

apache_tomcat__server_xml_connector_compressable_mime_types: 'text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml'
apache_tomcat__server_xml_connector_compression: 'on'
apache_tomcat__server_xml_connector_max_threads: 200
apache_tomcat__server_xml_connector_min_spare_threads: 10
apache_tomcat__server_xml_connector_port: 8080
apache_tomcat__server_xml_shutdown_port: 8005

apache_tomcat__service_enabled: true
apache_tomcat__service_state: 'started'

apache_tomcat__skip_admin_webapps: false
apache_tomcat__skip_root_webapp: false

apache_tomcat__users__dependent_var: []
apache_tomcat__users__group_var: []
apache_tomcat__users__host_var: []
apache_tomcat__users__role_var: []
apache_tomcat__users__combined_var: '{{ (
      apache_tomcat__users__role_var +
      apache_tomcat__users__dependent_var +
      apache_tomcat__users__group_var +
      apache_tomcat__users__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="username")
  }}'
