# {{ ansible_managed }}
# 2023122901

{% if repo_icinga__mirror_url is defined and repo_icinga__mirror_url | length %}
  {% set repo_icinga__baseurl = repo_icinga__mirror_url ~ '/icinga' %}
{% else %}
  {% set repo_icinga__baseurl = 'https://packages.icinga.com' %}
{% endif %}

{% if ansible_facts["distribution"] == "Fedora" %}
  {% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/fedora' %}

{% elif ansible_facts["os_family"] == "RedHat" %}
  {% if repo_icinga__use_subscription_url %}
    {% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/subscription/rhel' %}
  {% else %}
    {% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/epel' %}
  {% endif %}
{% endif %}

{% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/$releasever/snapshot/' %}

[icinga-snapshot-builds]
name=ICINGA (snapshot builds)
baseurl={{ repo_icinga__baseurl }}
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ICINGA
metadata_expire=1d
{% if repo_icinga__basic_auth_login is defined and repo_icinga__basic_auth_login | length %}
username={{ repo_icinga__basic_auth_login["username"] }}
password={{ repo_icinga__basic_auth_login["password"] }}
{% endif %}
