{#
  Renders the htpasswd list that is injected into the apache_httpd role, one file per tenant.
#}
{% for vhost in shiny_server__vhosts__combined_var | sort(attribute='conf_server_name') %}
{% set __auth_user_file = vhost['auth_user_file'] | d(shiny_server__htpasswd_dir ~ '/.htpasswd-' ~ vhost['conf_server_name']) %}
{% for user in vhost['htpasswd'] | d([]) %}
- username: '{{ user['username'] }}'
  password: '{{ user['password'] | d('') }}'
  path: '{{ __auth_user_file }}'
  state: '{{ user['state'] | d(vhost['state'] | d('present')) }}'
{% endfor %}
{% endfor %}
