# {{ ansible_managed }}
# 2026092201

[nextcloud]
bantime  = {{ fail2ban__jail_nextcloud_bantime }}
enabled  = true
findtime = {{ fail2ban__jail_nextcloud_findtime }}
logpath  = {{ fail2ban__jail_nextcloud_logpath }}
maxretry = {{ fail2ban__jail_nextcloud_maxretry }}
port     = http,https
