# {{ ansible_managed }}
# 2026052001

[Unit]
Description=Nextcloud Background Jobs Service

[Service]
ExecStart=/usr/bin/php --file /var/www/html/nextcloud/cron.php
Type=oneshot
User={{ nextcloud__webserver_user }}
KillMode=process
TimeoutStartSec=10m
