# {{ ansible_managed }}
# 2022062902

[Unit]
Description=nextcloud app update timer

[Timer]
OnCalendar={{ nextcloud__on_calendar_app_update }}
Unit=nextcloud-app-update.service

[Install]
WantedBy=timers.target
