# {{ ansible_managed }}
# 2022100401

[Unit]
Description=Nextcloud App Update Service

[Service]
ExecStart=/usr/bin/php occ app:update --all --no-interaction --quiet
WorkingDirectory=/var/www/html/nextcloud
Type=oneshot
User=apache
