# {{ ansible_managed }}
# 2023041802

[Unit]
Description=Nextcloud Background Jobs Service

[Service]
ExecStart=/usr/bin/php --file /var/www/html/nextcloud/cron.php
Type=oneshot
User=apache
KillMode=process
TimeoutStartSec=10m
