# {{ ansible_managed }}
# 2026060701

[Unit]
Description=Nextcloud App Update Service

[Service]
ExecStart=/usr/local/bin/nextcloud-app-update
WorkingDirectory=/var/www/html/nextcloud
Type=oneshot
User={{ __shared__apache_httpd_user }}
