# {{ ansible_managed }}
# 2022110701

[Unit]
Description=Nextcloud Scan Files Service

[Service]
ExecStart=/usr/bin/nice --adjustment 19 /usr/bin/php occ files:scan --all --unscanned
WorkingDirectory=/var/www/html/nextcloud
Type=oneshot
User=apache
