# {{ ansible_managed }}
# 2022100401

[Unit]
Description=Nextcloud Background Jobs Timer

[Timer]
OnCalendar={{ nextcloud__on_calendar_jobs }}
Unit=nextcloud-jobs.service

[Install]
WantedBy=timers.target
