# {{ ansible_managed }}
# 2022091601

/var/log/tomcat/*.log {
    copytruncate
    create 0644 tomcat tomcat
    daily
    dateext
    missingok
    rotate {{ apache_tomcat__logrotate | d(logrotate__rotate) | d(14) }}
    su tomcat tomcat
}
