# {{ ansible_managed }}
# 2024062701

{% if repo_grafana__mirror_url is defined and repo_grafana__mirror_url | length %}
deb [signed-by=/etc/apt/keyrings/grafana.asc] {{ repo_grafana__mirror_url }}/grafana stable main
{% else %}
deb [signed-by=/etc/apt/keyrings/grafana.asc] https://apt.grafana.com stable main
{% endif %}
