- block:

  - name: 'Install python{{ python__version }}'
    ansible.builtin.package:
      name:
        - 'python{{ python__version }}'
      state: 'present'

  - name: 'Combined Modules:'
    ansible.builtin.debug:
      var: 'python__modules__combined_var'

  - name: 'Install additional python modules'
    ansible.builtin.package:
      name: '{{ (python__modules__combined_var | selectattr("state", "defined") | selectattr("state", "ne", "absent") | map(attribute="name"))
          + (python__modules__combined_var | selectattr("state", "undefined") | map(attribute="name")) }}'
      state: 'present'

  - name: 'Remove additional python modules'
    ansible.builtin.package:
      name: '{{ python__modules__combined_var | selectattr("state", "defined") | selectattr("state", "eq", "absent") | map(attribute="name") }}'
      state: 'absent'

  # block
  when: 'ansible_facts["os_family"] != "Windows"'
  tags:
    - 'python'
