# Author:  Linuxfabrik GmbH, Zurich, Switzerland
# Contact: info (at) linuxfabrik (dot) ch
#          https://www.linuxfabrik.ch/
# License: The Unlicense, see LICENSE file.

# {{ ansible_managed }}
# 2022111801

BACKUP_DIR='{{ postgresql_server__dump_directory }}'
USERNAME='postgres'
