- block:

  - name: '/usr/local/bin/mc stat {{ objectstore_backup__destination_name }}/{{ objectstore_backup__destination_bucket }}'
    ansible.builtin.command: '/usr/local/bin/mc stat {{ objectstore_backup__destination_name }}/{{ objectstore_backup__destination_bucket }}'
    register: 'objectstore_backup__destiniation_bucket_stat_result'
    failed_when: 'objectstore_backup__destiniation_bucket_stat_result["rc"] >= 2'
    changed_when: false # just gathering information

  - name: '/usr/local/bin/mc mb "{{ objectstore_backup__destination_name }}"/{{ objectstore_backup__destination_bucket }} # create destination bucket'
    ansible.builtin.command: '/usr/local/bin/mc mb "{{ objectstore_backup__destination_name }}"/{{ objectstore_backup__destination_bucket }}'
    when:
      - 'objectstore_backup__destiniation_bucket_stat_result["rc"] != 0'

  - name: 'Deploy systemd service and timer'
    ansible.builtin.template:
      src: '{{ item }}.j2'
      dest: '/{{ item }}'
      owner: 'root'
      group: 'root'
      mode: 0o644
    notify: 'objectstore_backup: systemctl daemon-reload'
    loop:
      - 'etc/systemd/system/objectstore-backup.service'
      - 'etc/systemd/system/objectstore-backup.timer'

  - name: 'systemctl enable objectstore-backup.timer --now'
    ansible.builtin.systemd:
      name: 'objectstore-backup.timer'
      state: 'started'
      enabled: true

  tags:
    - 'objectstore_backup'
