; {{ ansible_managed }}
; 2023050802

[grafana]
accessmode = "iframe"
datasource = "influxdb"
debug = "0"
defaultdashboard = "Default"
defaultdashboardpanelid = "1"
defaultdashboarduid = "default"
defaultorgid = "1"
host = "{{ (icingaweb2_module_grafana__url | split('://'))[1] }}"
protocol = "{{ (icingaweb2_module_grafana__url | split('://'))[0] }}"
shadows = "0"
theme = "{{ icingaweb2_module_grafana__theme }}"
timerange = "2d"
timerangeAll = "1w/w"
