- block:

  - name: 'curl https://rpms.remirepo.net/RPM-GPG-KEY-remi --remote-name /tmp/ansible.RPM-GPG-KEY-remi'
    ansible.builtin.get_url:
      url: 'https://rpms.remirepo.net/RPM-GPG-KEY-remi'
      dest: '/tmp/ansible.RPM-GPG-KEY-remi'
      mode: 0o644
    delegate_to: 'localhost'
    changed_when: false # not an actual config change to the server
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.RPM-GPG-KEY-remi to /etc/pki/rpm-gpg/RPM-GPG-KEY-remi'
    ansible.builtin.copy:
      src: '/tmp/ansible.RPM-GPG-KEY-remi'
      dest: '/etc/pki/rpm-gpg/RPM-GPG-KEY-remi'
      mode: 0o644

  - name: 'yum-config-manager --enable remi-php{{ repo_remi__enabled_php_version | regex_replace("\.", "") }}'
    command: 'yum-config-manager --enable remi-php{{ repo_remi__enabled_php_version | regex_replace("\.", "") }}'
    changed_when: false
    when: 'repo_remi__enabled_php_version is defined'

  tags:
    - 'repo_remi'
