# {{ ansible_managed }}
# 2025022701

# WARN: Environment variable 'KEYCLOAK_ADMIN' is deprecated, use 'KC_BOOTSTRAP_ADMIN_USERNAME' instead
# WARN: Environment variable 'KEYCLOAK_ADMIN_PASSWORD' is deprecated, use 'KC_BOOTSTRAP_ADMIN_PASSWORD' instead
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak__admin_login.username }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak__admin_login.password }}
