# {{ ansible_managed }}
# 2025021401

# Basic settings for running in production. Change accordingly before deploying the server.


# Database

# The database vendor.
db={{ keycloak__db_vendor }}

# Sets the hostname of the default JDBC URL of the chosen vendor.
db-url-host={{ keycloak__db_url_host }}

# The username of the database user.
db-username={{ keycloak__db_login.username }}

# The password of the database user.
db-password={{ keycloak__db_login.password }}

# The full database JDBC URL. If not provided, a default URL is set based on the selected database vendor.
#db-url=jdbc:postgresql://localhost/keycloak

db-url-database={{ keycloak__db_url_database }}

{% if keycloak__db_url is defined and keycloak__db_url | length %}
# The full database JDBC URL. If not provided, a default URL is set based on the selected database vendor.
db-url={{ keycloak__db_url }}
{% endif %}

# Observability

# If the server should expose healthcheck endpoints.
health-enabled={{ keycloak__expose_healthcheck_endpoints | string | lower }}

# If the server should expose metrics endpoints.
metrics-enabled={{ keycloak__expose_metrics_endpoints | string | lower }}


# HTTP

{% if keycloak__proxy_mode is not defined or keycloak__proxy_mode | length == 0 or keycloak__proxy_mode == "reencrypt" or keycloak__proxy_mode == "passthrough" %}
# The file path to a server certificate or certificate chain in PEM format.
https-certificate-file=${kc.home.dir}/conf/keycloak.crt.pem

# The file path to a private key in PEM format.
https-certificate-key-file=${kc.home.dir}/conf/keycloak.key.pem
{%endif%}

# The proxy address forwarding mode if the server is behind a reverse proxy.
{% if keycloak__proxy_mode is defined and keycloak__proxy_mode | length %}
proxy={{ keycloak__proxy_mode }}
{% else %}
#proxy=reencrypt
{% endif %}

# Do not attach route to cookies and rely on the session affinity capabilities from reverse proxy
spi-sticky-session-encoder-infinispan-should-attach-route={{ keycloak__spi_sticky_session_encoder_infinispan_should_attach_route | string | lower }}

# The list of protocols to explicitly enable.
https-protocols={{ keycloak__https_protocols }}

{% if keycloak__https_cipher_suites is defined and keycloak__https_cipher_suites | length %}
# The cipher suites to use.
https-cipher-suites={{ keycloak__https_cipher_suites }}
{% endif %}


# Hostname

# Hostname for the Keycloak server.
hostname={{ keycloak__hostname }}

# By default backchannel URLs are dynamically resolved from request headers to allow internal and external applications. (default false)
hostname-strict-backchannel={{ keycloak__hostname_strict_backchannel | string | lower }}


# Logging

# Enable one or more log handlers in a comma-separated list.
log={{ keycloak__log }}

# Set the log file path and filename.
log-file={{ keycloak__log_file }}
