# {{ ansible_managed }}
# 2023122901

[CollaboraOnline_CODE]
name = Collabora Office YUM repo
{% if repo_collabora_code__mirror_url is defined and repo_collabora_code__mirror_url|length %}
baseurl={{ repo_collabora_code__mirror_url }}/CollaboraOnline/CODE-centos7
{% else %}
baseurl = https://www.collaboraoffice.com/repos/CollaboraOnline/CODE-centos7
{% endif %}
enabled = 1
gpgcheck = 0
{% if repo_collabora_code__basic_auth_login is defined and repo_collabora_code__basic_auth_login | length %}
username={{ repo_collabora_code__basic_auth_login["username"] }}
password={{ repo_collabora_code__basic_auth_login["password"] }}
{% endif %}
