# {{ ansible_managed }}
# 2024050901

# Repository: https://rpms.remirepo.net/
# Blog:       https://blog.remirepo.net/
# Forum:      https://forum.remirepo.net/

[remi]
name=Remi's RPM repository for Enterprise Linux 9 - $basearch
{% if repo_remi__mirror_url is defined and repo_remi__mirror_url | length %}
baseurl={{ repo_remi__mirror_url }}/remi/enterprise/9/remi/x86_64/
{% else %}
#baseurl=http://rpms.remirepo.net/enterprise/9/remi/$basearch/
#mirrorlist=https://rpms.remirepo.net/enterprise/9/remi/$basearch/httpsmirror
mirrorlist=http://cdn.remirepo.net/enterprise/9/remi/$basearch/mirror
{% endif %}
enabled=1
gpgcheck=1
# can be enabled if not being a proxy because of possible cache issue
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi.el9
{% if repo_remi__basic_auth_login is defined and repo_remi__basic_auth_login | length %}
username={{ repo_remi__basic_auth_login["username"] }}
password={{ repo_remi__basic_auth_login["password"] }}
{% endif %}

[remi-test]
name=Remi's test RPM repository for Enterprise Linux 9 - $basearch
{% if repo_remi__mirror_url is defined and repo_remi__mirror_url | length %}
baseurl={{ repo_remi__mirror_url }}/remi/enterprise/9/test/x86_64/
{% else %}
#baseurl=http://rpms.remirepo.net/enterprise/9/test/$basearch/
#mirrorlist=https://rpms.remirepo.net/enterprise/9/test/$basearch/mirror
mirrorlist=http://cdn.remirepo.net/enterprise/9/test/$basearch/mirror
{% endif %}
# WARNING: If you enable this repository, you must also enable "remi"
enabled=0
gpgcheck=1
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi.el9
{% if repo_remi__basic_auth_login is defined and repo_remi__basic_auth_login | length %}
username={{ repo_remi__basic_auth_login["username"] }}
password={{ repo_remi__basic_auth_login["password"] }}
{% endif %}

[remi-debuginfo]
name=Remi's RPM repository for Enterprise Linux 9 - $basearch - debuginfo
{% if repo_remi__mirror_url is defined and repo_remi__mirror_url | length %}
baseurl={{ repo_remi__mirror_url }}/remi/enterprise/9/debug-remi/x86_64/
{% else %}
baseurl=http://rpms.remirepo.net/enterprise/9/debug-remi/$basearch/
{% endif %}
enabled=0
gpgcheck=1
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi.el9
{% if repo_remi__basic_auth_login is defined and repo_remi__basic_auth_login | length %}
username={{ repo_remi__basic_auth_login["username"] }}
password={{ repo_remi__basic_auth_login["password"] }}
{% endif %}

[remi-test-debuginfo]
name=Remi's test RPM repository for Enterprise Linux 9 - $basearch - debuginfo
{% if repo_remi__mirror_url is defined and repo_remi__mirror_url | length %}
baseurl={{ repo_remi__mirror_url }}/remi/enterprise/9/debug-test/x86_64/
{% else %}
baseurl=http://rpms.remirepo.net/enterprise/9/debug-test/$basearch/
{% endif %}
enabled=0
gpgcheck=1
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi.el9
{% if repo_remi__basic_auth_login is defined and repo_remi__basic_auth_login | length %}
username={{ repo_remi__basic_auth_login["username"] }}
password={{ repo_remi__basic_auth_login["password"] }}
{% endif %}
