- block:

  - name: 'dnf -y install glances'
    ansible.builtin.package:
      name:
        - 'glances'
      state: 'present'

  - name: 'Deploy /etc/profile.d/glances.sh'
    ansible.builtin.template:
      src: 'etc/profile.d/glances.sh.j2'
      dest: '/etc/profile.d/glances.sh'
      owner: 'root'
      mode: 0o644

  tags:
    - 'glances'
