- block:

  # https://docs.influxdata.com/influxdb/v1.8/introduction/install/
  - name: 'curl https://repos.influxdata.com/influxdata-archive_compat.key --output /tmp/ansible.influxdata-archive_compat.key'
    ansible.builtin.get_url:
      url: 'https://repos.influxdata.com/influxdata-archive_compat.key'
      dest: '/tmp/ansible.influxdata-archive_compat.key'
      # checksum: sha256:393e8779c89ac8d958f81f942f9ad7fb82a25e133faddaf92e15b16e6ac9ce4c
    delegate_to: 'localhost'
    run_once: true
    changed_when: false # not an actual config change on the server
    check_mode: false # run task even if `--check` is specified

  - name: 'dearmour key to /tmp/ansible.influxdata-archive_compat.gpg'
    ansible.builtin.shell:
      cmd: 'cat /tmp/ansible.influxdata-archive_compat.key | gpg --dearmor > /tmp/ansible.influxdata-archive_compat.gpg'
    delegate_to: 'localhost'
    run_once: true
    changed_when: false # not an actual config change on the server
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.influxdata-archive_compat.gpg to /etc/apt/trusted.gpg.d/influxdata-archive_compat.gpg'
    ansible.builtin.copy:
      src: '/tmp/ansible.influxdata-archive_compat.gpg'
      dest: '/etc/apt/trusted.gpg.d/influxdata-archive_compat.gpg'
      owner: 'root'
      group: 'root'
      mode: 0o644

  - name: 'deploy the repo file (mirror: {{ repo_influxdb__mirror_url | default("") }})'
    ansible.builtin.template:
      src: 'etc/apt/sources.list.d/influxdb.list.j2'
      dest: '/etc/apt/sources.list.d/influxdb.list'
      owner: 'root'
      group: 'root'
      mode: 0o644

  - name: 'apt update # update the cache'
    ansible.builtin.apt:
      update_cache: true

  tags:
    - 'repo_influxdb'
