# {{ ansible_managed }}
# 2026060601

{{ __clamav__clamd_log }}
{
    rotate 14
    daily
    copytruncate
    dateext
    missingok
    postrotate
        /bin/kill --signal SIGHUP $(cat {{ __clamav__clamd_pid }}) {# using `/usr/bin/systemctl kill --signal=SIGHUP 'clamd@*.service'` is prevented by selinux, would need a custom policy #}
    endscript
}

{{ __clamav__freshclam_log }}
{
    rotate 14
    daily
    copytruncate
    dateext
    missingok
}
