# {{ ansible_managed }}
# 2025060601

# This is the configuration file for Icinga for Kubernetes.

# Connection configuration for the database to which Icinga for Kubernetes synchronizes data.
# This is also the database used in Icinga for Kubernetes Web to view and work with the data.
database:
  # Database type. Only 'mysql' is supported yet which is the default.
#  type: mysql

  # Database host or absolute Unix socket path.
  host: '{{ icinga_kubernetes__database_host }}'

  # Database port. By default, the MySQL port.
#  port:

  # Database name.
  database: '{{ icinga_kubernetes__database_name }}'

  # Database user.
  user: '{{ icinga_kubernetes__database_login["username"] }}'

  # Database password.
  password: '{{ icinga_kubernetes__database_login["password"] }}'

# Configuration for Prometheus metrics API.
prometheus:
  # Prometheus server URL.
#  url: http://localhost:9090

# Configuration for Icinga Notifications daemon.
notifications:
  # Icinga Notifications daemon URL.
#  url: http://localhost:5680

  # Username for authenticating the Icinga for Kubernetes source in Icinga Notifications.
#  username: source-\d+

  # Password for authenticating the Icinga for Kubernetes source in Icinga Notifications.
#  password: password

  # The base URL of Icinga for Kubernetes Web used in generated Icinga Notification events.
#  kubernetes_web_url: http://localhost/icingaweb2/kubernetes
