# {{ ansible_managed }}
# 2022062901

/var/log/coolwsd.log {
    rotate 7
    daily
    missingok
    notifempty
    delaycompress
    compress
    create 644 cool cool
    postrotate
        /usr/bin/systemctl restart coolwsd.service > /dev/null 2>/dev/null
    endscript
}
