# {{ ansible_managed }}
# 2022091701

/var/log/coolwsd.log {
    create 644 cool cool
    daily
    delaycompress
    missingok
    notifempty
    rotate {{ collabora_code__logrotate | d(logrotate__rotate) | d(14) }}
    postrotate
        /usr/bin/systemctl restart coolwsd.service > /dev/null 2>/dev/null
    endscript
}
