- name: 'Set platform/version specific variables'
  ansible.builtin.import_role:
    name: 'shared'
    tasks_from: 'platform-variables.yml'
  tags:
    - 'always'


- block:

  - name: 'yum -y install epel-release'
    ansible.builtin.package:
      name: 'epel-release'
      state: 'present'

  when: 'repo_epel__mirror_url is not defined or not repo_epel__mirror_url | length'
  tags:
    - 'repo_epel'


- block:

  - name: 'deploy the repo files (mirror: {{ repo_epel__mirror_url | default("") }})'
    ansible.builtin.template:
      src: '{{ item }}.j2'
      dest: '/etc/yum.repos.d/{{ item | basename }}'
      owner: 'root'
      group: 'root'
      mode: 0o644
    loop: '{{ repo_epel__repo_files }}'

  - name: 'curl {{ repo_epel__gpg_key_url }} --remote-name /tmp/ansible.{{ repo_epel__gpg_key_dest | basename }}'
    ansible.builtin.get_url:
      url: '{{ repo_epel__gpg_key_url }}'
      dest: '/tmp/ansible.{{ repo_epel__gpg_key_dest | basename }}'
      mode: 0o644
    delegate_to: 'localhost'
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.{{ repo_epel__gpg_key_dest | basename }} to {{ repo_epel__gpg_key_dest }}'
    ansible.builtin.copy:
      src: '/tmp/ansible.{{ repo_epel__gpg_key_dest | basename }}'
      dest: '{{ repo_epel__gpg_key_dest }}'
      mode: 0o644

  when: 'repo_epel__mirror_url is defined and repo_epel__mirror_url | length'
  tags:
    - 'repo_epel'
