- block:

  - name: 'Set platform/version specific variables'
    ansible.builtin.import_role:
      name: 'shared'
      tasks_from: 'platform-variables.yml'
  tags:
    - 'repo_epel'


- name: 'Perform platform/version specific tasks'
  ansible.builtin.include_tasks: '{{ lookup("first_found", __task_file) }}'
  vars:
    __task_file:
      files:
        - '{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_version"] }}.yml'
        - '{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_major_version"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      paths:
        - '{{ role_path }}/tasks'
  ignore_errors: true # TODO: this probably is a bug in the first_found lookup, according to the doc skip=true should work. else improve the ignore_errors statement
  tags:
    - 'repo_epel'


- block:

  - name: 'Deploy the repo files (mirror: {{ repo_epel__mirror_url }})'
    ansible.builtin.template:
      src: '{{ item }}.j2'
      dest: '/etc/yum.repos.d/{{ item | basename }}'
      owner: 'root'
      group: 'root'
      mode: 0o644
    loop: '{{ repo_epel__repo_files }}'

  - name: 'curl {{ repo_epel__gpg_key_url }} --remote-name /tmp/ansible.{{ repo_epel__gpg_key_dest | basename }}'
    ansible.builtin.get_url:
      url: '{{ repo_epel__gpg_key_url }}'
      dest: '/tmp/ansible.{{ repo_epel__gpg_key_dest | basename }}'
      mode: 0o644
    delegate_to: 'localhost'
    changed_when: false # not an actual config change on the server
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.{{ repo_epel__gpg_key_dest | basename }} to {{ repo_epel__gpg_key_dest }}'
    ansible.builtin.copy:
      src: '/tmp/ansible.{{ repo_epel__gpg_key_dest | basename }}'
      dest: '{{ repo_epel__gpg_key_dest }}'
      mode: 0o644

  tags:
    - 'repo_epel'
