[{{ icingaweb2_module_monitoring__api_user_login.username }}]
transport = "api"
host = "{{ icingaweb2_module_monitoring__api_host }}"
port = "{{ icingaweb2_module_monitoring__api_port }}"
username = "{{ icingaweb2_module_monitoring__api_user_login['username'] }}"
password = "{{ icingaweb2_module_monitoring__api_user_login['password'] }}"
