monitoring_plugins__skip_notification_plugins__dependent_var: ''
monitoring_plugins__skip_notification_plugins__group_var: ''
monitoring_plugins__skip_notification_plugins__host_var: ''
monitoring_plugins__skip_notification_plugins__role_var: true
monitoring_plugins__skip_notification_plugins__combined_var: '{{
    monitoring_plugins__skip_notification_plugins__host_var if (monitoring_plugins__skip_notification_plugins__host_var | string | length) else
    monitoring_plugins__skip_notification_plugins__group_var if (monitoring_plugins__skip_notification_plugins__group_var | string | length) else
    monitoring_plugins__skip_notification_plugins__dependent_var if (monitoring_plugins__skip_notification_plugins__dependent_var | string | length) else
    monitoring_plugins__skip_notification_plugins__role_var
  }}'
monitoring_plugins__icinga2_cn: '{{ ansible_facts["nodename"] }}'
monitoring_plugins__linux_variant: 'package'
monitoring_plugins__python__modules__dependent_var:
  - 'python3-psutil'
monitoring_plugins__python_version: 3
monitoring_plugins__repo_version: '{{ lfops__monitoring_plugins_version | default("latest") }}'
monitoring_plugins__windows_variant: 'nuitka'
