monitoring_plugins__python_version: 3
monitoring_plugins__repo_version: 'latest'

monitoring_plugins__windows_variant: 'nuitka'

# monitoring_plugins__plugin_list: []

monitoring_plugins__icinga2_cn: '{{ ansible_facts["nodename"] }}'

monitoring_plugins__python__modules__dependent_var:
  - 'python3-psutil'
