- block:

  - ansible.builtin.debug:
      msg:
        - 'Combined sysctl:'
        - '{{ kernel_settings__sysctl__combined_var }}'
        - 'Combined sysfs:'
        - '{{ kernel_settings__sysfs__combined_var }}'
        - 'Combined systemd_cpu_affinity: {{ kernel_settings__systemd_cpu_affinity__combined_var }}'
        - 'Combined transparent_hugepages: {{ kernel_settings__transparent_hugepages__combined_var }}'
        - 'Combined transparent_hugepages_defrag: {{ kernel_settings__transparent_hugepages_defrag__combined_var }}'

  - name: 'Install tuned'
    ansible.builtin.package:
      name:
        - 'tuned'
      state: 'present'

  - name: 'systemctl restart tuned # this prevents errors later on'
    ansible.builtin.systemd:
      name: 'tuned.service'
      state: 'restarted'

  - name: 'Use fedora.linux_system_roles.kernel_settings role to configure the kernel settings'
    include_role:
      name: 'fedora.linux_system_roles.kernel_settings'
    vars:
      kernel_settings_sysctl: '{{ kernel_settings__sysctl__combined_var }}'
      kernel_settings_sysfs: '{{ kernel_settings__sysfs__combined_var }}'
      kernel_settings_transparent_hugepages: '{{ kernel_settings__transparent_hugepages__combined_var }}'
      kernel_settings_transparent_hugepages_defrag: '{{ kernel_settings__transparent_hugepages_defrag__combined_var }}'

  - ansible.builtin.debug:
      msg: 'Please restart the server manually to apply new kernel settings.'
    when: 'kernel_settings_reboot_required is defined and kernel_settings_reboot_required | bool'

  tags:
    - 'kernel_settings'
