# {{ ansible_managed }}
# 2025011601

{% if repo_mongodb__mirror_url is defined and repo_mongodb__mirror_url | length %}
deb [signed-by=/etc/apt/keyrings/mongodb-server-{{ repo_mongodb__version }}.asc] {{ repo_mongodb__mirror_url }}/mongodb-org {{ ansible_facts["distribution_release"] }}/mongodb-org/{{ repo_mongodb__version }} main
{% else %}
deb [signed-by=/etc/apt/keyrings/mongodb-server-{{ repo_mongodb__version }}.asc] http://repo.mongodb.org/apt/debian {{ ansible_facts["distribution_release"] }}/mongodb-org/{{ repo_mongodb__version }} main
{% endif %}
