{{ ansible_managed }}
# 2022091601

/var/log/mongodb/mongod.log
{
    compress
    daily
    dateext
    missingok
    notifempty
    rotate {{ mongodb__logrotate | logrotate__rotate | d(14) }}
    sharedscripts
    postrotate
        /bin/kill -SIGUSR1 `cat /var/lib/mongodb/mongod.lock 2> /dev/null` 2> /dev/null || true
    endscript
}
