duplicity__backup_dest: 'swift://{{ duplicity__backup_dest_container | regex_replace("/$", "") }}'
duplicity__backup_dest_container: '{{ ansible_nodename }}'
duplicity__backup_full_if_older_than: '30D'
duplicity__backup_retention_time: '30D'

duplicity__backup_sources__dependent_var: []
duplicity__backup_sources__group_var: []
duplicity__backup_sources__host_var: []
duplicity__backup_sources__role_var:
  - path: '/backup'
    divide: false
    state: 'present'
  - path: '/etc'
    divide: false
    state: 'present'
  - path: '/home'
    divide: false
    state: 'present'
  - path: '/opt'
    divide: false
    state: 'present'
  - path: '/root'
    divide: false
    state: 'present'
  - path: '/var/spool/cron'
    divide: false
    state: 'present'
duplicity__backup_sources__combined_var: '{{ (
      duplicity__backup_sources__role_var +
      duplicity__backup_sources__dependent_var +
      duplicity__backup_sources__group_var +
      duplicity__backup_sources__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="path")
  }}'

duplicity__excludes:
  - '**/*.git*'
  - '**/*.svn*'
  - '**/*.temp'
  - '**/*.tmp'
  - '**/.cache'
  - '**/cache'
  - '**/log'

duplicity__timer_enabled: true
duplicity__on_calendar_hour: '23'
duplicity__on_calendar: '*-*-* {{ duplicity__on_calendar_hour }}:{{ 59 | random(seed=inventory_hostname) }}'
duplicity__python_venv__venvs__dependent_var: '{{ __duplicity__python_venv__venvs__dependent_var[ansible_facts["os_family"] ~ ansible_facts["distribution_major_version"]] }}'
__duplicity__python_venv__venvs__dependent_var:
  RedHat8:
    - name: 'duplicity'
      packages:
        - 'duplicity'
        # If we add these, we get "SetuptoolsDeprecationWarning: Invalid dash-separated options",
        # and current versions of duplicity (now) installs these as well:
        # - 'python-keystoneclient'
        # - 'python-swiftclient'
      package_requirements:
        - 'gcc'
        - 'librsync-devel'
        - 'python3.11-devel'
      python_executable: 'python3.11'
      exposed_binaries:
        - 'duplicity'
  RedHat9:
    - name: 'duplicity'
      packages:
        - 'duplicity'
        # If we add these, we get "SetuptoolsDeprecationWarning: Invalid dash-separated options",
        # and current versions of duplicity (now) installs these as well:
        # - 'python-keystoneclient'
        # - 'python-swiftclient'
      package_requirements:
        - 'gcc'
        - 'librsync-devel'
        - 'python3.11-devel'
      python_executable: 'python3.11'
      exposed_binaries:
        - 'duplicity'
  RedHat10:
    - name: 'duplicity'
      packages:
        - 'duplicity'
        # If we add these, we get "SetuptoolsDeprecationWarning: Invalid dash-separated options",
        # and current versions of duplicity (now) installs these as well:
        # - 'python-keystoneclient'
        # - 'python-swiftclient'
      package_requirements:
        - 'gcc'
        - 'librsync-devel'
        - 'python3.13-devel'
      python_executable: 'python3.13'
      exposed_binaries:
        - 'duplicity'

duplicity__loglevel: 'notice'

duplicity__swift_authurl: 'https://swiss-backup02.infomaniak.com/identity/v3'
duplicity__swift_authversion: '3'
duplicity__swift_tenantname: 'sb_project_{{ duplicity__swift_login["username"] }}'
