duplicity__backup_dest_container: '{{ ansible_nodename }}'
duplicity__backup_dest: 'swift://{{ duplicity__backup_dest_container | trim("/") }}'
duplicity__backup_retention_time: '30D' # days

duplicity__group_backup_sources: []
duplicity__host_backup_sources: []
duplicity__role_backup_sources:
  - path: '/backup'
    divide: False
  - path: '/etc'
    divide: False
  - path: '/home'
    divide: False
  - path: '/opt'
    divide: False
  - path: '/root'
    divide: False
  - path: '/var/spool/cron'
    divide: False
duplicity__combined_backup_sources: '{{
    duplicity__role_backup_sources +
    duplicity__group_backup_sources +
    duplicity__host_backup_sources
    | flatten
 }}'

duplicity__excludes:
  - '**/*.git*'
  - '**/*.svn*'
  - '**/*.temp'
  - '**/*.tmp'
  - '**/.cache'
  - '**/cache'
  - '**/log'

duplicity__timer_enabled: True
duplicity__on_calendar_hour: '23'
duplicity__on_calendar: '*-*-* {{ duplicity__on_calendar_hour }}:{{ 59 | random(seed=inventory_hostname) }}'

duplicity__loglevel: 'notice' # error, warning, notice, info, debug

duplicity__swift_authurl: 'https://swiss-backup02.infomaniak.com/identity/v3'
duplicity__swift_authversion: '3'

duplicity__python_venv__dependent_venvs:
  - name: 'duplicity'
    packages:
      - 'duplicity'
      - 'python-swiftclient'
      - 'python-keystoneclient'
    package_requirements:
      - 'gcc'
      - 'librsync-devel'
    exposed_binaries:
      - 'duplicity'
