# {{ ansible_managed }}
# 2023121401

[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
{% if repo_epel__mirror_url is defined and repo_epel__mirror_url | length %}
baseurl={{ repo_epel__mirror_url }}/epel/8/Everything/x86_64
{% else %}
#baseurl=https://download.example/pub/epel/8/Everything/$basearch
metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-8&arch=$basearch&infra=$infra&content=$contentdir
{% endif %}
enabled=1
gpgcheck=1
countme=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8

[epel-debuginfo]
name=Extra Packages for Enterprise Linux $releasever - $basearch - Debug
{% if repo_epel__mirror_url is defined and repo_epel__mirror_url | length %}
baseurl={{ repo_epel__mirror_url }}/epel/8/Everything/x86_64/debug
{% else %}
#baseurl=https://download.example/pub/epel/8/Everything/$basearch/debug
metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-debug-8&arch=$basearch&infra=$infra&content=$contentdir
{% endif %}
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
gpgcheck=1

[epel-source]
name=Extra Packages for Enterprise Linux $releasever - $basearch - Source
{% if repo_epel__mirror_url is defined and repo_epel__mirror_url | length %}
baseurl={{ repo_epel__mirror_url }}/epel/8/Everything/SRPMS
{% else %}
#baseurl=https://download.example/pub/epel/8/Everything/source/tree/
metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-source-8&arch=$basearch&infra=$infra&content=$contentdir
{% endif %}
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
gpgcheck=1
