# {{ ansible_managed }}
# 2022093001

[Unit]
Description=Grav CMS Self Upgrade Service

[Service]
ExecStart=/usr/bin/php --file bin/gpm selfupgrade --force --all-yes
WorkingDirectory={{ grav__install_dir }}
Type=oneshot
User=apache
