# Manage Apache configuration (files in `conf-available`)

- name: 'Combined Configs:'
  ansible.builtin.debug:
    var: 'apache_httpd__conf__combined_var'

- name: 'Create conf-available configs'
  ansible.builtin.template:
    src: 'etc/httpd/conf-available/{{ item["template"]}}.conf.j2'
    dest: '{{ apache_httpd__config_path + "/conf-available/" + item["filename"] + ".conf" }}'
    owner: 'root'
    group: 'root'
    mode: 0o644
  when:
    - 'item["state"] | d("present") != "absent"'
  loop: '{{ apache_httpd__conf__combined_var }}'
  notify:
    - 'apache_httpd: httpd -t; systemctl reload httpd'

- name: 'Remove conf-available configs'
  ansible.builtin.file:
    path: '{{ apache_httpd__config_path + "/conf-available/" + item["filename"] + ".conf" }}'
    state: 'absent'
  when:
    - 'item["state"] | d("present") == "absent"'
  loop: '{{ apache_httpd__conf__combined_var }}'

- name: 'Enable configs'
  ansible.builtin.file:
    src: '../conf-available/{{ item["filename"] }}.conf'
    path: '{{ apache_httpd__config_path + "/conf-enabled/" + item["filename"] + ".conf" }}'
    mode: 0o644
    state: 'link'
  loop: '{{ apache_httpd__conf__combined_var }}'
  when:
    - 'item["enabled"] | d(true)'
    - 'item["state"] | d("present") != "absent"'
  notify:
    - 'apache_httpd: httpd -t; systemctl reload httpd'

- name: 'Disable configs'
  ansible.builtin.file:
    path: '{{ apache_httpd__config_path + "/conf-enabled/" + item["filename"] + ".conf" }}'
    mode: 0o644
    state: 'absent'
  loop: '{{ apache_httpd__conf__combined_var }}'
  when: 'not item["enabled"] | d(true)
        or item["state"] | d("present") == "absent"'
  notify:
    - 'apache_httpd: httpd -t; systemctl reload httpd'
