- name: 'Combined htpasswd:'
  ansible.builtin.debug:
    var: 'apache_httpd__htpasswd__combined_var'

- name: 'Manage htpasswd'
  community.general.htpasswd:
    create: true # create file if not exists
    owner: 'root'
    group: '{{ apache_httpd__group }}'
    mode: 0o640
    name: '{{ item["username"] }}'
    password: '{{ item["password"] }}'
    path: '{{ item["path"] | d(apache_httpd__config_path ~ "/.htpasswd") }}'
    state: '{{ item["state"] | d("present") }}'
  loop: '{{ apache_httpd__htpasswd__combined_var }}'
