# {{ ansible_managed }}
# 2021120101

# We need to allow ssh using ssh-ed25519 keys.
#
# Verify this setting by trying to connect to the server using a ssh-ed25519 key.
# With this setting, the login should work.
# Without this setting, a password prompt and the following line in the sshd log on the server will appear:
# userauth_pubkey: key type ssh-ed25519 not in PubkeyAcceptedKeyTypes [preauth]
sign = +EDDSA-ED25519
