# {{ ansible_managed }}
# 2021120101

# We need to lower the RSA params size to >= 2048 for the epel-repository to work.
# The certificate of fedoraproject.org passes the FUTURE requirement of RSA params size >= 3072,
# however the intermediate certificate from digicert fails since it is only 2048 bit.
#
# Verify this setting using `dnf install glances` or `curl https://fedoraproject.org/`.
# With this setting, the installation via dnf should work and curl should return a 302 HTTP status code.
# Without this setting, they both fail with `SSL certificate problem: CA certificate key too weak`.
min_rsa_size = 2048
