# {{ ansible_managed }}
# 2025120301
# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{ elasticsearch__cluster_name__combined_var }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{ elasticsearch__node_name }}
#
{% if elasticsearch__node_roles is defined and elasticsearch__node_roles | length %}
node.roles: {{ elasticsearch__node_roles | ansible.builtin.to_yaml }}
{% endif %}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
{% for key, value in elasticsearch__node_attributes.items() %}
node.attr.{{ key }}: '{{ value }}'
{% endfor %}
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ elasticsearch__path_data }}
#
# Path to log files:
#
path.logs: /var/log/elasticsearch
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
#bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# By default Elasticsearch is only accessible on localhost. Set a different
# address here to expose this node on the network:
#
network.host: {{ elasticsearch__network_host }}
#
# By default Elasticsearch listens for HTTP traffic on the first free port it
# finds starting at 9200. Set a specific HTTP port here:
#
#http.port: 9200
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when this node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
#discovery.seed_hosts: ["host1", "host2"]
{% if elasticsearch__discovery_seed_hosts is defined and elasticsearch__discovery_seed_hosts | length %}
discovery.seed_hosts: {{ elasticsearch__discovery_seed_hosts | ansible.builtin.to_yaml }}
{% else %}
discovery.type: single-node
{% endif %}
#
# Bootstrap the cluster using an initial set of master-eligible nodes:
#
#cluster.initial_master_nodes: ["node-1", "node-2"]
{% if elasticsearch__cluster_initial_master_nodes is defined and elasticsearch__cluster_initial_master_nodes | length %}
cluster.initial_master_nodes: {{ elasticsearch__cluster_initial_master_nodes | ansible.builtin.to_yaml }}
{% endif %}
#
# For more information, consult the discovery and cluster formation module documentation.
#
# -------------------------------- Shard Allocation ----------------------------
#
# Shard allocation awareness distributes replicas across different attribute values
# to minimize the risk of data loss during failures.
#
{% if elasticsearch__cluster_routing_allocation_awareness_attributes is defined and elasticsearch__cluster_routing_allocation_awareness_attributes | length %}
cluster.routing.allocation.awareness.attributes: '{{ elasticsearch__cluster_routing_allocation_awareness_attributes | join(",") }}'
{% endif %}
{% if elasticsearch__cluster_routing_allocation_awareness_force is defined and elasticsearch__cluster_routing_allocation_awareness_force | length %}
{% for key, values in elasticsearch__cluster_routing_allocation_awareness_force.items() %}
cluster.routing.allocation.awareness.force.{{ key }}.values: '{{ values | join(",") }}'
{% endfor %}
{% endif %}
#
# ---------------------------------- Various -----------------------------------
#
# Allow wildcard deletion of indices:
#
#action.destructive_requires_name: false

action.auto_create_index: {{ elasticsearch__action_auto_create_index__combined_var | default(true) | string | lower }}

{% if elasticsearch__path_repos is defined and elasticsearch__path_repos | length %}
path.repo: {{ elasticsearch__path_repos | ansible.builtin.to_yaml }}
{% endif %}

#----------------------- BEGIN SECURITY CONFIGURATION -------------------------

# Enable security features
xpack.security.enabled: true

{% if elasticsearch__ca_cert is defined and elasticsearch__ca_cert | length > 0 %}
# Enrollment disabled when using manual certificate management
xpack.security.enrollment.enabled: false

# Enable encryption for HTTP API client connections, such as Kibana, Logstash, and Agents
xpack.security.http.ssl:
  enabled: true
  certificate: certs/http.crt
  key: certs/http.key
  certificate_authorities: certs/ca.crt

# Enable encryption and mutual authentication between cluster nodes
xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  client_authentication: required
  certificate: certs/transport.crt
  key: certs/transport.key
  certificate_authorities: certs/ca.crt
{% else %}
# Enrollment enabled when using auto-generated certificates
xpack.security.enrollment.enabled: true

# Enable encryption for HTTP API client connections, such as Kibana, Logstash, and Agents
xpack.security.http.ssl:
  enabled: true
  keystore.path: certs/http.p12

# Enable encryption and mutual authentication between cluster nodes
xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  keystore.path: certs/transport.p12
  truststore.path: certs/transport.p12
{% endif %}

#----------------------- END SECURITY CONFIGURATION -------------------------

{% if elasticsearch__raw is defined and elasticsearch__raw | length %}
# raw
{{ elasticsearch__raw }}
{% endif %}
