grav__install_dir: '/var/www/html/{{ grav__url }}'

grav__on_calendar_selfupgrade: '22:{{ 59 | random(seed=inventory_hostname) }}'
grav__on_calendar_update: '23:{{ 59 | random(seed=inventory_hostname) }}'

grav__skip_admin: false

grav__timer_selfupgrade_enabled: true
grav__timer_update_enabled: true

# -----------------------------------------------------------------------------

grav__apache_httpd__mods__dependent_var:
  - filename: 'proxy_fcgi'
    enabled: true
    state: 'present'
grav__apache_httpd__vhosts__dependent_var:
  - conf_server_name: '{{ grav__url }}'
    by_role: 'grav'
    comment: 'vHost for Grav (a simple file-based flat-file CMS platform)'
    enabled: true
    state: 'present'
    template: 'app'
    allowed_file_extensions:
      - 'css'
      - 'gif'
      - 'html?'
      - 'ico'
      - 'jpe?g'
      - 'js'
      - 'pdf'
      - 'php'
      - 'png'
      - 'svg'
      - 'ttf'
      - 'txt'
      - 'webp'
      - 'woff2?'
      - 'xml'
      - 'xsl'
    allowed_http_methods:
      - 'GET'
      - 'OPTIONS'
      - 'POST'  # todo: just necessary if using the Grav admin plugin
    virtualhost_port: 80
    conf_allow_override: 'All'
    conf_directory_index: 'index.php index.html index.htm'
    conf_document_root: '{{ grav__install_dir }}'
    conf_options: 'FollowSymLinks'


grav__apps__apps__dependent_var:
  - name: 'git'
    state: 'present'
  - name: 'unzip'
    state: 'present'


grav__php__modules__dependent_var:
  - name: 'php-gd'
    state: 'present'


grav__selinux__booleans__dependent_var:
  - key: 'httpd_can_network_connect'
    value: '{{ grav__skip_admin | ternary("off", "on") }}'
grav__selinux__fcontexts__dependent_var:
  - setype: 'httpd_sys_rw_content_t'
    target: '{{ grav__install_dir }}(/.*)?'
    state: 'present'
