# {{ ansible_managed }}
# 2022102601

[opensearch-{{ repo_opensearch__version__combined_var }}]
name=OpenSearch {{ repo_opensearch__version__combined_var }}
{% if repo_opensearch__mirror_url is defined and repo_opensearch__mirror_url | length %}
baseurl={{ repo_opensearch__mirror_url }}/opensearch/releases/bundle/opensearch/{{ repo_opensearch__version__combined_var }}/yum
{% else %}
baseurl=https://artifacts.opensearch.org/releases/bundle/opensearch/{{ repo_opensearch__version__combined_var }}/yum
{% endif %}
enabled=1
repo_gpgcheck=1
gpgcheck=1
gpgkey=https://artifacts.opensearch.org/publickeys/opensearch.pgp
autorefresh=1
type=rpm-md
{% if repo_opensearch__basic_auth_login is defined and repo_opensearch__basic_auth_login | length %}
username={{ repo_opensearch__basic_auth_login["username"] }}
password={{ repo_opensearch__basic_auth_login["password"] }}
{% endif %}
