# {{ ansible_managed }}
# 2023122901

[crb]
name=Rocky Linux $releasever - CRB
{% if repo_epel__mirror_url is defined and repo_epel__mirror_url | length %}
baseurl={{ repo_epel__mirror_url }}/rocky/$releasever/CRB/x86_64/os/
{% else %}
mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=CRB-$releasever$rltype
#baseurl=http://dl.rockylinux.org/$contentdir/$releasever/CRB/$basearch/os/
{% endif %}
gpgcheck=1
enabled=1
countme=1
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-Rocky-9
{% if repo_epel__basic_auth_login is defined and repo_epel__basic_auth_login | length %}
username={{ repo_epel__basic_auth_login["username"] }}
password={{ repo_epel__basic_auth_login["password"] }}
{% endif %}

[crb-debug]
name=Rocky Linux $releasever - CRB - Debug
{% if repo_epel__mirror_url is defined and repo_epel__mirror_url | length %}
baseurl={{ repo_epel__mirror_url }}/rocky/$releasever/CRB/x86_64/debug/tree/
{% else %}
mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=CRB-$releasever-debug$rltype
#baseurl=http://dl.rockylinux.org/$contentdir/$releasever/CRB/$basearch/debug/tree/
{% endif %}
gpgcheck=1
enabled=0
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-Rocky-9
{% if repo_epel__basic_auth_login is defined and repo_epel__basic_auth_login | length %}
username={{ repo_epel__basic_auth_login["username"] }}
password={{ repo_epel__basic_auth_login["password"] }}
{% endif %}

[crb-source]
name=Rocky Linux $releasever - CRB - Source
{% if repo_epel__mirror_url is defined and repo_epel__mirror_url | length %}
baseurl={{ repo_epel__mirror_url }}/rocky/$releasever/CRB/x86_64/source/tree/
{% else %}
mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=source&repo=CRB-$releasever-source$rltype
#baseurl=http://dl.rockylinux.org/$contentdir/$releasever/CRB/source/tree/
{% endif %}
gpgcheck=1
enabled=0
metadata_expire=6h
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-Rocky-9
{% if repo_epel__basic_auth_login is defined and repo_epel__basic_auth_login | length %}
username={{ repo_epel__basic_auth_login["username"] }}
password={{ repo_epel__basic_auth_login["password"] }}
{% endif %}
