# {{ ansible_managed }}
# 2022052701

[Unit]
Description=acme.sh Service

[Service]
ExecStart=/opt/acme.sh/acme.sh --cron --home /opt/acme.sh --config-home /etc/acme.sh
Type=oneshot
User=root

[Install]
WantedBy=basic.target
