# {{ ansible_managed }}
# 2022101301

HOST='127.0.0.1'
PORT='{{ mongodb__conf_net_port }}'

{% if mongodb__dump_user is defined and mongodb__dump_user | length %}
USERNAME='{{ mongodb__dump_user["username"] }}'
PASSWORD='{{ mongodb__dump_user["password"] }}'
AUTH_DATABASE='{{ mongodb__dump_user["auth_database"] | default("admin") }}'
{% endif %}

DUMP_BACKUP_DIR='{{ mongodb__dump_method_mongodump_backup_dir }}'
FILE_BACKUP_DIR='{{ mongodb__dump_method_file_based_backup_dir }}'
