# {{ ansible_managed }}
# 2025011601

{% if repo_opensearch__mirror_url is defined and repo_opensearch__mirror_url | length %}
deb [signed-by=/etc/apt/keyrings/opensearch.pgp] {{ repo_opensearch__mirror_url }}/opensearch/{{ repo_opensearch__version__combined_var }}/apt stable main
{% else %}
deb [signed-by=/etc/apt/keyrings/opensearch.pgp] https://artifacts.opensearch.org/releases/bundle/opensearch/{{ repo_opensearch__version__combined_var }}/apt stable main
{% endif %}
