# {{ ansible_managed }}
# 2024091801

[Unit]
After=syslog.target network.target
Description=blocky Service

[Service]
ExecStart=/usr/local/sbin/blocky --config=/etc/blocky/config.yml
Group=blocky
Type=simple
User=blocky

[Install]
WantedBy=multi-user.target
