# {{ ansible_managed }}
# 2022033101

[Unit]
Description=Firewall Builder
After=default.target openvpn-server@server.service fail2ban.service

[Service]
Type=oneshot
ExecStart=/etc/fwb.sh start
ExecStop=/etc/fwb.sh stop
ExecReload=/etc/fwb.sh start
RemainAfterExit=yes

[Install]
WantedBy=default.target
