apache_httpd__base_packages:
  - 'httpd'
  - 'bind-utils'  # for dig etc.
apache_httpd__config_file: '{{ apache_httpd__config_path }}/conf/httpd.conf'
apache_httpd__config_path: '/etc/httpd'
apache_httpd__config_prefix: ''
apache_httpd__config_test_command: 'httpd -t'
apache_httpd__group: 'apache'
apache_httpd__log_path: '/var/log/httpd'
apache_httpd__mods__role_var:
  - filename: 'alias'
    enabled: true
    state: 'present'
    template: 'alias'

  - filename: 'auth_basic'
    enabled: true
    state: 'present'
    template: 'auth_basic'

  - filename: 'authn_core'
    enabled: true
    state: 'present'
    template: 'authn_core'

  - filename: 'authn_file'
    enabled: true
    state: 'present'
    template: 'authn_file'

  - filename: 'auth_openidc'
    enabled: false
    state: 'present'
    template: 'auth_openidc'

  - filename: 'authz_core'
    enabled: true
    state: 'present'
    template: 'authz_core'

  - filename: 'authz_host'
    enabled: true
    state: 'present'
    template: 'authz_host'

  - filename: 'authz_user'
    enabled: true
    state: 'present'
    template: 'authz_user'

  - filename: 'autoindex'
    enabled: false
    state: 'present'
    template: 'autoindex'

  - filename: 'cgi'
    enabled: false
    state: 'present'
    template: 'cgi'

  - filename: 'cgid'
    enabled: false
    state: 'present'
    template: 'cgid'

  - filename: 'deflate'
    enabled: false
    state: 'present'
    template: 'deflate'

  - filename: 'dir'
    enabled: true
    state: 'present'
    template: 'dir'

  - filename: 'env'
    enabled: false
    state: 'present'
    template: 'env'

  - filename: 'expires'
    enabled: true
    state: 'present'
    template: 'expires'

  - filename: 'filter'
    enabled: false
    state: 'present'
    template: 'filter'

  - filename: 'headers'
    enabled: true
    state: 'present'
    template: 'headers'

  - filename: 'http2'
    enabled: false
    state: 'present'
    template: 'http2'

  - filename: 'include'
    enabled: true # required for `AddOutputFilter INCLUDES .shtml` of `conf-available/mime.conf`
    state: 'present'
    template: 'include'

  - filename: 'info'
    enabled: true
    state: 'present'
    template: 'info'

  - filename: 'lbmethod_bybusyness'
    enabled: false
    state: 'present'
    template: 'lbmethod_bybusyness'

  - filename: 'lbmethod_byrequests'
    enabled: false
    state: 'present'
    template: 'lbmethod_byrequests'

  - filename: 'lbmethod_bytraffic'
    enabled: false
    state: 'present'
    template: 'lbmethod_bytraffic'

  - filename: 'lbmethod_heartbeat'
    enabled: false
    state: 'present'
    template: 'lbmethod_heartbeat'

  - filename: 'log_config'
    enabled: true
    state: 'present'
    template: 'log_config'

  - filename: 'logio'
    enabled: true
    state: 'present'
    template: 'logio'

  - filename: 'maxminddb'
    enabled: false
    state: 'present'
    template: 'maxminddb'

  - filename: 'mime'
    enabled: true
    state: 'present'
    template: 'mime'

  - filename: 'mime_magic'
    enabled: true
    state: 'present'
    template: 'mime_magic'

  - filename: 'mpm_event'
    enabled: true
    state: 'present'
    template: 'mpm_event'

  - filename: 'mpm_prefork'
    enabled: false
    state: 'present'
    template: 'mpm_prefork'

  - filename: 'mpm_worker'
    enabled: false
    state: 'present'
    template: 'mpm_worker'

  - filename: 'php7'
    enabled: false
    state: 'present'
    template: 'php7'

  - filename: 'php8'
    enabled: false
    state: 'present'
    template: 'php8'

  - filename: 'proxy'
    enabled: true
    state: 'present'
    template: 'proxy'

  - filename: 'proxy_balancer'
    enabled: false
    state: 'present'
    template: 'proxy_balancer'

  - filename: 'proxy_fcgi'
    enabled: true
    state: 'present'
    template: 'proxy_fcgi'

  - filename: 'proxy_http'
    enabled: false
    state: 'present'
    template: 'proxy_http'

  - filename: 'proxy_wstunnel'
    enabled: false
    state: 'present'
    template: 'proxy_wstunnel'

  - filename: 'qos'
    enabled: true
    state: 'absent'
    template: 'qos'

  - filename: 'raw'
    enabled: false
    state: 'absent'
    template: 'raw'

  - filename: 'remoteip'
    enabled: false
    state: 'present'
    template: 'remoteip'

  - filename: 'reqtimeout'
    enabled: true
    state: 'present'
    template: 'reqtimeout'

  - filename: 'rewrite'
    enabled: true
    state: 'present'
    template: 'rewrite'

  - filename: 'security2'
    enabled: false
    state: 'present'
    template: 'security2'

  - filename: 'setenvif'
    enabled: true
    state: 'present'
    template: 'setenvif'

  - filename: 'slotmem_shm'
    enabled: true
    state: 'present'
    template: 'slotmem_shm'

  - filename: 'socache_shmcb'
    enabled: true
    state: 'present'
    template: 'socache_shmcb'

  - filename: 'ssl'
    enabled: true
    state: 'present'
    template: 'ssl'

  - filename: 'status'
    enabled: true
    state: 'present'
    template: 'status'

  - filename: 'systemd'
    enabled: true
    state: 'present'
    template: 'systemd'

  - filename: 'unique_id'
    enabled: true
    state: 'present'
    template: 'unique_id'

  - filename: 'unix'
    enabled: true
    state: 'present'
    template: 'unix'

  - filename: 'wsgi_python3'
    enabled: false
    state: 'present'
    template: 'wsgi_python3'
apache_httpd__modules_path: 'modules'
apache_httpd__openssl_certificate_path: '/etc/pki/tls/certs'
apache_httpd__openssl_chain_path: '/etc/pki/tls/certs'
apache_httpd__openssl_privatekey_path: '/etc/pki/tls/private'
apache_httpd__packages__role_var:
  - name: 'mod_auth_openidc'
    state: 'present'

  - name: 'mod_qos'
    state: 'absent'

  - name: 'mod_security'
    state: 'present'

  - name: 'mod_ssl'
    state: 'present'
apache_httpd__php_set_handler_default: 'SetHandler "proxy:unix:{{ apache_httpd__php_socket }}|fcgi://localhost"'
apache_httpd__php_socket: '/run/php-fpm/www.sock'
apache_httpd__root_path: '/var/www'
apache_httpd__roothtml_path: '/var/www/html'
apache_httpd__service_name: 'httpd'
apache_httpd__user: 'apache'
