# List of base packages to install
apache_httpd__base_packages:
  - 'httpd'

apache_httpd__service_name: 'httpd'
apache_httpd__user: 'apache'
apache_httpd__group: 'apache'

apache_httpd__config_path: '/etc/httpd'
apache_httpd__config_file: '{{ apache_httpd__config_path }}/conf/httpd.conf'
apache_httpd__config_test_command: 'httpd -t'

apache_httpd__root_path: '/var/www'
apache_httpd__roothtml_path: '/var/www/html'

apache_httpd__openssl_certificate_path: '/etc/pki/tls/certs'
apache_httpd__openssl_privatekey_path: '/etc/pki/tls/private'
apache_httpd__openssl_chain_path: '/etc/pki/tls/certs'
