# {{ ansible_managed }}
# 2023013101

# This package contains both free and subscription features
[elasticsearch-{{ repo_elasticsearch__version }}]
name=Elasticsearch repository for {{ repo_elasticsearch__version }} packages
{% if repo_elasticsearch__mirror_url is defined and repo_elasticsearch__mirror_url | length %}
baseurl={{ repo_elasticsearch__mirror_url }}/elasticsearch/packages/{{ repo_elasticsearch__version }}/yum
{% else %}
baseurl=https://artifacts.elastic.co/packages/{{ repo_elasticsearch__version }}/yum
{% endif %}
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
