# {{ ansible_managed }}
# 2022071202

module rrdcached_librenms 1.0;

require {
  type httpd_sys_rw_content_t;
  type var_run_t;
  type rrdcached_t;
  class sock_file create;
  class capability fsetid;
  class dir { getattr search };
}

#============= rrdcached_t ==============
allow rrdcached_t httpd_sys_rw_content_t:dir { getattr search };
allow rrdcached_t self:capability fsetid;
allow rrdcached_t var_run_t:sock_file create;
