# {{ ansible_managed }}
# 2026012201

################################
# Logstash
################################

# Logstash home directory
#LS_HOME=/usr/share/logstash

# Logstash Java path
#LS_JAVA_HOME=

# Logstash configuration directory
#LS_SETTINGS_DIR=/etc/logstash

# Additional Java OPTS
# Linuxfabrik: Logstash needs exec permissions on its temp-directory.
# `/tmp` on CIS-hardened systems is mounted with noexec; therefore, we need to use a different directory.
# The directory must exist otherwise Logstash may fail to start.
LS_JAVA_OPTS="-Djava.io.tmpdir={{ logstash__path_data }}/tmp"

{% if logstash__sysconfig_raw | length %}
# raw
{{ logstash__sysconfig_raw }}
{% endif %}
