grafana__allow_embedding: true
grafana__api_url: '{{ grafana__root_url }}'
grafana__auth_anonymous_enabled: false
grafana__auth_anonymous_org_name: 'Main Org.'
grafana__auth_anonymous_org_role: 'Viewer'
grafana__bitwarden_collection_id: '{{ lfops__bitwarden_collection_id | default() }}'
grafana__bitwarden_organization_id: '{{ lfops__bitwarden_organization_id | default() }}'
grafana__cookie_samesite: 'lax'
grafana__provisioning_dashboards__combined_var: '{{ grafana__provisioning_dashboards__role_var +
  grafana__provisioning_dashboards__group_var +
  grafana__provisioning_dashboards__host_var +
  grafana__provisioning_dashboards__dependent_var
 }}'
grafana__provisioning_dashboards__dependent_var: []
grafana__provisioning_dashboards__group_var: []
grafana__provisioning_dashboards__host_var: []
grafana__provisioning_dashboards__role_var: []
grafana__provisioning_datasources__combined_var: '{{ grafana__provisioning_datasources__role_var +
  grafana__provisioning_datasources__group_var +
  grafana__provisioning_datasources__host_var +
  grafana__provisioning_datasources__dependent_var
 }}'
grafana__provisioning_datasources__dependent_var: []
grafana__provisioning_datasources__group_var: []
grafana__provisioning_datasources__host_var: []
grafana__provisioning_datasources__role_var: []
grafana__provisioning_service_accounts__combined_var: '{{ grafana__provisioning_service_accounts__role_var +
  grafana__provisioning_service_accounts__group_var +
  grafana__provisioning_service_accounts__host_var +
  grafana__provisioning_service_accounts__dependent_var
 }}'
grafana__provisioning_service_accounts__dependent_var: []
grafana__provisioning_service_accounts__group_var: []
grafana__provisioning_service_accounts__host_var: []
grafana__provisioning_service_accounts__role_var: []
grafana__serve_from_sub_path: false
grafana__service_enabled: true
grafana__skip_token_to_bitwarden: false
