# {{ ansible_managed }}
# 2023122901

# Repository: https://rpms.remirepo.net/
# Blog:       https://blog.remirepo.net/
# Forum:      https://forum.remirepo.net/


[remi-modular-test]
name=Remi's Modular testing repository - Fedora $releasever - $basearch
{% if repo_remi__mirror_url is defined and repo_remi__mirror_url | length %}
baseurl={{ repo_remi__mirror_url }}/fedora/$releasever/modular-test/$basearch/
{% else %}
#baseurl=http://rpms.remirepo.net/fedora/$releasever/modular-test/$basearch/
mirrorlist=http://cdn.remirepo.net/fedora/$releasever/modular-test/$basearch/mirror
{% endif %}
enabled=0
gpgcheck=1
repo_gpgcheck=1
fastestmirror=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi-$releasever
{% if repo_remi__basic_auth_login is defined and repo_remi__basic_auth_login | length %}
username={{ repo_remi__basic_auth_login["username"] }}
password={{ repo_remi__basic_auth_login["password"] }}
{% endif %}

[remi-modular-test-debuginfo]
name=Remi's Modular testing repository - Fedora $releasever - $basearch - debuginfo
{% if repo_remi__mirror_url is defined and repo_remi__mirror_url | length %}
baseurl={{ repo_remi__mirror_url }}/fedora/$releasever/debug-modular-test/$basearch/
{% else %}
#baseurl=http://rpms.remirepo.net/fedora/$releasever/debug-modular-test/$basearch/
mirrorlist=http://cdn.remirepo.net/fedora/$releasever/debug-modular-test/$basearch/mirror
{% endif %}
enabled=0
gpgcheck=1
repo_gpgcheck=1
fastestmirror=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-remi-$releasever
{% if repo_remi__basic_auth_login is defined and repo_remi__basic_auth_login | length %}
username={{ repo_remi__basic_auth_login["username"] }}
password={{ repo_remi__basic_auth_login["password"] }}
{% endif %}
