# {{ ansible_managed }}
# 2022053001

object Endpoint "{{ icinga2_master__cn }}" {
}

{% for item in icinga2_master__additional_master_endpoints %}
object Endpoint "{{ item['cn'] }}" {
        host = "{{ item['host'] }}"
}
{% endfor %}

object Zone "master" {
        endpoints = [
        "{{ icinga2_master__cn }}",
{% for item in icinga2_master__additional_master_endpoints %}
        "{{ item['cn'] }}",
{% endfor %}
        ]
}

object Zone "global-templates" {
        global = true
}

object Zone "director-global" {
        global = true
}
