; {{ ansible_managed }}
; 2023040301

[{{ icingadb_web__api_user_login['username'] }}]
transport = "api"
host = "{{ icingadb_web__api_host }}"
port = "{{ icingadb_web__api_port }}"
username = "{{ icingadb_web__api_user_login['username'] }}"
password = "{{ icingadb_web__api_user_login['password'] }}"
