# {{ ansible_managed }}
# 2023122901

[grafana]
name=grafana
{% if repo_grafana__mirror_url is defined and repo_grafana__mirror_url | length %}
baseurl={{ repo_grafana__mirror_url }}/grafana
{% else %}
baseurl=https://rpm.grafana.com
{% endif %}
repo_gpgcheck=1
enabled=1
gpgcheck=1
gpgkey = file:///etc/pki/rpm-gpg/grafana.key
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
# To prevent beta versions from being installed, add the following exclude line to your .repo file.
exclude=*beta*
{% if repo_grafana__basic_auth_login is defined and repo_grafana__basic_auth_login | length %}
username={{ repo_grafana__basic_auth_login["username"] }}
password={{ repo_grafana__basic_auth_login["password"] }}
{% endif %}
