# {{ ansible_managed }}
# 2023122901

# Rocky-AppStream.repo
#
# The mirrorlist system uses the connecting IP address of the client and the
# update status of each mirror to pick current mirrors that are geographically
# close to the client.  You should use this for Rocky updates unless you are
# manually picking other mirrors.
#
# If the mirrorlist does not work for you, you can try the commented out
# baseurl line instead.

[appstream]
name=Rocky Linux $releasever - AppStream
{% if repo_baseos__mirror_url is defined and repo_baseos__mirror_url | length %}
baseurl={{ repo_baseos__mirror_url }}/rocky/8/AppStream/x86_64/os/
{% else %}
mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=AppStream-$releasever
#baseurl=http://dl.rockylinux.org/$contentdir/$releasever/AppStream/$basearch/os/
{% endif %}
gpgcheck=1
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial
{% if repo_baseos__basic_auth_login is defined and repo_baseos__basic_auth_login | length %}
username={{ repo_baseos__basic_auth_login["username"] }}
password={{ repo_baseos__basic_auth_login["password"] }}
{% endif %}
