# {{ ansible_managed }}
# 2023122901
{# taken from the RPM package at https://yum.postgresql.org/repopackages/ #}

#######################################################
# PGDG Red Hat Enterprise Linux / Rocky repositories  #
#######################################################

# PGDG Red Hat Enterprise Linux / Rocky stable common repository for all PostgreSQL versions

[pgdg-common]
name=PostgreSQL common RPMs for RHEL / Rocky $releasever - $basearch
{% if repo_postgresql__mirror_url is defined and repo_postgresql__mirror_url | length %}
baseurl={{ repo_postgresql__mirror_url }}/pgdg/repos/yum/common/redhat/rhel-$releasever-$basearch
{% else %}
baseurl=https://download.postgresql.org/pub/repos/yum/common/redhat/rhel-$releasever-$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# Red Hat recently breaks compatibility between 8.n and 8.n+1. PGDG repo is
# affected with the LLVM packages. This is a band aid repo for the llvmjit users
# whose installations cannot be updated.

[pgdg-centos8-sysupdates]
name=PostgreSQL Supplementary ucommon RPMs for RHEL / Rocky $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/common/pgdg-centos8-sysupdates/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# We provide extra package to support some RPMs in the PostgreSQL RPM repo, like
# consul, haproxy, etc.

[pgdg-rhel8-extras]
name=Extra packages to support some RPMs in the PostgreSQL RPM repo RHEL / Rocky $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/common/pgdg-rhel$releasever-extras/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# PGDG Red Hat Enterprise Linux / Rocky stable repositories:

[pgdg15]
name=PostgreSQL 15 for RHEL / Rocky $releasever - $basearch
{% if repo_postgresql__mirror_url is defined and repo_postgresql__mirror_url | length %}
baseurl={{ repo_postgresql__mirror_url }}/pgdg/repos/yum/15/redhat/rhel-$releasever-$basearch
{% else %}
baseurl=https://download.postgresql.org/pub/repos/yum/15/redhat/rhel-$releasever-$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg14]
name=PostgreSQL 14 for RHEL / Rocky $releasever - $basearch
{% if repo_postgresql__mirror_url is defined and repo_postgresql__mirror_url | length %}
baseurl={{ repo_postgresql__mirror_url }}/pgdg/repos/yum/14/redhat/rhel-$releasever-$basearch
{% else %}
baseurl=https://download.postgresql.org/pub/repos/yum/14/redhat/rhel-$releasever-$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg13]
name=PostgreSQL 13 for RHEL / Rocky $releasever - $basearch
{% if repo_postgresql__mirror_url is defined and repo_postgresql__mirror_url | length %}
baseurl={{ repo_postgresql__mirror_url }}/pgdg/repos/yum/13/redhat/rhel-$releasever-$basearch
{% else %}
baseurl=https://download.postgresql.org/pub/repos/yum/13/redhat/rhel-$releasever-$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg12]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch
{% if repo_postgresql__mirror_url is defined and repo_postgresql__mirror_url | length %}
baseurl={{ repo_postgresql__mirror_url }}/pgdg/repos/yum/12/redhat/rhel-$releasever-$basearch
{% else %}
baseurl=https://download.postgresql.org/pub/repos/yum/12/redhat/rhel-$releasever-$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg11]
name=PostgreSQL 11 for RHEL / Rocky $releasever - $basearch
{% if repo_postgresql__mirror_url is defined and repo_postgresql__mirror_url | length %}
baseurl={{ repo_postgresql__mirror_url }}/pgdg/repos/yum/11/redhat/rhel-$releasever-$basearch
{% else %}
baseurl=https://download.postgresql.org/pub/repos/yum/11/redhat/rhel-$releasever-$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# PGDG RHEL / Rocky Updates Testing common repository.

[pgdg-common-testing]
name=PostgreSQL common testing RPMs for RHEL / Rocky $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/testing/common/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# PGDG RHEL / Rocky Updates Testing repositories. (These packages should not be used in production)
# Available for 11 and above.

[pgdg16-updates-testing]
name=PostgreSQL 16 for RHEL / Rocky $releasever - $basearch - Updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/testing/16/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg15-updates-testing]
name=PostgreSQL 15 for RHEL / Rocky $releasever - $basearch - Updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/testing/15/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg14-updates-testing]
name=PostgreSQL 14 for RHEL / Rocky $releasever - $basearch - Updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/testing/14/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg13-updates-testing]
name=PostgreSQL 13 for RHEL / Rocky $releasever - $basearch - Updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/testing/13/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg12-updates-testing]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch - Updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/testing/12/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg11-updates-testing]
name=PostgreSQL 11 for RHEL / Rocky $releasever - $basearch - Updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/testing/11/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# PGDG Red Hat Enterprise Linux / Rocky SRPM testing common repository

[pgdg-source-common]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch - Source
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/common/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# PGDG RHEL / Rocky testing common SRPM repository for all PostgreSQL versions

[pgdg-common-srpm-testing]
name=PostgreSQL common testing SRPMs for RHEL / Rocky $releasever - $basearch
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/testing/common/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# PGDG Source RPMs (SRPM), and their testing repositories:

[pgdg15-source]
name=PostgreSQL 15 for RHEL / Rocky $releasever - $basearch - Source
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/15/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg15-source-updates-testing]
name=PostgreSQL 15 for RHEL / Rocky $releasever - $basearch - Source updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/testing/15/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg14-source]
name=PostgreSQL 14 for RHEL / Rocky $releasever - $basearch - Source
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/14/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg14-source-updates-testing]
name=PostgreSQL 14 for RHEL / Rocky $releasever - $basearch - Source updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/testing/14/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg13-source]
name=PostgreSQL 13 for RHEL / Rocky $releasever - $basearch - Source
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/13/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg13-source-updates-testing]
name=PostgreSQL 13 for RHEL / Rocky $releasever - $basearch - Source updates testing
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/testing/13/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg12-source]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch - Source
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/12/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg12-source-updates-testing]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch - Source update testing
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/testing/12/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg11-source]
name=PostgreSQL 11 for RHEL / Rocky $releasever - $basearch - Source
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/11/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg11-source-updates-testing]
name=PostgreSQL 11 for RHEL / Rocky $releasever - $basearch - Source update testing
baseurl=https://download.postgresql.org/pub/repos/yum/srpms/testing/11/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# Debuginfo/debugsource packages for stable repos

[pgdg15-debuginfo]
name=PostgreSQL 15 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/debug/15/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg14-debuginfo]
name=PostgreSQL 14 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/debug/14/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg13-debuginfo]
name=PostgreSQL 13 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/debug/13/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg12-debuginfo]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/debug/12/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg11-debuginfo]
name=PostgreSQL 11 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/debug/11/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

# Debuginfo/debugsource packages for testing repos
# Available for 11 and above.

[pgdg15-updates-testing-debuginfo]
name=PostgreSQL 15 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/testing/debug/15/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg14-updates-testing-debuginfo]
name=PostgreSQL 14 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/testing/debug/14/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg13-updates-testing-debuginfo]
name=PostgreSQL 13 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/testing/debug/13/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg12-updates-testing-debuginfo]
name=PostgreSQL 12 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/testing/debug/12/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}

[pgdg11-updates-testing-debuginfo]
name=PostgreSQL 11 for RHEL / Rocky $releasever - $basearch - Debuginfo
baseurl=https://download.postgresql.org/pub/repos/yum/testing/debug/11/redhat/rhel-$releasever-$basearch
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
repo_gpgcheck = 1
{% if repo_postgresql__basic_auth_login is defined and repo_postgresql__basic_auth_login | length %}
username={{ repo_postgresql__basic_auth_login["username"] }}
password={{ repo_postgresql__basic_auth_login["password"] }}
{% endif %}
