# {{ ansible_managed }}
# 2025100101

[Unit]
Description=Keycloak Service
After=network.target

[Service]
User=keycloak
Group=keycloak
EnvironmentFile=/etc/sysconfig/keycloak
{% if keycloak__mode == 'production' %}
ExecStart=/opt/keycloak/bin/kc.sh start
{% else %}
ExecStart=/opt/keycloak/bin/kc.sh start-dev
{% endif %}
LimitNOFILE=131072
WorkingDirectory=/opt/keycloak

[Install]
WantedBy=multi-user.target
