# {{ ansible_managed }}
# 2026040801

[Unit]
Description=Keycloak Service
After=network.target

[Service]
User=keycloak
Group=keycloak
EnvironmentFile=/etc/sysconfig/keycloak
{% if keycloak__mode == 'production' %}
{% if keycloak__version is version('26.6.0', '<') %}
ExecStart=/opt/keycloak/bin/kc.sh start -Dquarkus.transaction-manager.default-transaction-timeout=3600
{% else %}
ExecStart=/opt/keycloak/bin/kc.sh start
{% endif %}
{% else %}
{% if keycloak__version is version('26.6.0', '<') %}
ExecStart=/opt/keycloak/bin/kc.sh start-dev -Dquarkus.transaction-manager.default-transaction-timeout=3600
{% else %}
ExecStart=/opt/keycloak/bin/kc.sh start-dev
{% endif %}
{% endif %}
LimitNOFILE=131072
WorkingDirectory=/opt/keycloak

[Install]
WantedBy=multi-user.target
