postfix__inet_protocols: 'all'
postfix__relayhost_password: ''
postfix__service_enabled: True
postfix__service_state: 'started'
postfix__smtp_sasl_auth_enable: True

postfix__debconf_selections:
  - name: 'postfix'
    question: 'postfix/main_mailer_type'
    value: 'No configuration'
    vtype: 'select'
