# {{ ansible_managed }}
# 2026050501

{% if repo_influxdb__mirror_url is defined and repo_influxdb__mirror_url | length %}
deb [signed-by=/etc/apt/keyrings/influxdata-archive.asc] {{ repo_influxdb__mirror_url }}/influxdb stable main
{% else %}
deb [signed-by=/etc/apt/keyrings/influxdata-archive.asc] https://repos.influxdata.com/debian stable main
{% endif %}
