# {{ ansible_managed }}
# 2024062701

{% if repo_influxdb__mirror_url is defined and repo_influxdb__mirror_url | length %}
deb [signed-by=/etc/apt/keyrings/influxdata-archive_compat.asc] {{ repo_influxdb__mirror_url }}/influxdb stable main
{% else %}
deb [signed-by=/etc/apt/keyrings/influxdata-archive_compat.asc] https://repos.influxdata.com/debian stable main
{% endif %}
