# {{ ansible_managed }}
# 2023090101

[rpmfusion-nonfree-updates]
name=RPM Fusion for EL 8 - Nonfree - Updates
{% if repo_rpmfusion__mirror_url is defined and repo_rpmfusion__mirror_url | length %}
baseurl={{ repo_rpmfusion__mirror_url }}/rpmfusion/nonfree-el-updates-released-8/x86_64
{% else %}
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-el-updates-released-8&arch=$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-nonfree-el-8
{% if repo_rpmfusion__basic_auth_login is defined and repo_rpmfusion__basic_auth_login | length %}
username={{ repo_rpmfusion__basic_auth_login["username"] }}
password={{ repo_rpmfusion__basic_auth_login["password"] }}
{% endif %}

[rpmfusion-nonfree-updates-debuginfo]
name=RPM Fusion for EL 8 - Nonfree - Updates Debug
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-el-updates-released-debug-8&arch=$basearch
enabled=0
type=rpm-md
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-nonfree-el-8
{% if repo_rpmfusion__basic_auth_login is defined and repo_rpmfusion__basic_auth_login | length %}
username={{ repo_rpmfusion__basic_auth_login["username"] }}
password={{ repo_rpmfusion__basic_auth_login["password"] }}
{% endif %}

[rpmfusion-nonfree-updates-source]
name=RPM Fusion for EL 8 - Nonfree - Updates Source
mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=nonfree-el-updates-released-source-8&arch=$basearch
enabled=0
type=rpm-md
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-nonfree-el-8
{% if repo_rpmfusion__basic_auth_login is defined and repo_rpmfusion__basic_auth_login | length %}
username={{ repo_rpmfusion__basic_auth_login["username"] }}
password={{ repo_rpmfusion__basic_auth_login["password"] }}
{% endif %}
