# {{ ansible_managed }}
# 2022092801

{% if repo_icinga__mirror_url is defined and repo_icinga__mirror_url | length %}
  {% set repo_icinga__baseurl = repo_icinga__mirror_url ~ '/icinga' %}
{% else %}
  {% set repo_icinga__baseurl = 'https://packages.icinga.com' %}
{% endif %}

{% if repo_icinga__subscription_login is defined and repo_icinga__subscription_login | length %}
  {% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/subscription/sles' %}
{% else %}
  {% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/openSUSE' %}
{% endif %}

{% set repo_icinga__baseurl = repo_icinga__baseurl ~ '/$releasever/snapshot/' %}

[icinga-snapshot-builds]
name=ICINGA (snapshot builds)
{% if repo_icinga__subscription_login is defined and repo_icinga__subscription_login | length %}
baseurl={{ repo_icinga__baseurl.split('://')[0] }}://{{ repo_icinga__subscription_login['username'] }}:{{ repo_icinga__subscription_login['password'] }}@{{ repo_icinga__baseurl.split('://')[1] }}
{% else %}
baseurl={{ repo_icinga__baseurl }}
{% endif %}
enabled=0
gpgcheck=1
gpgkey=https://packages.icinga.com/icinga.key
metadata_expire=1d
