; {{ ansible_managed }}
; 2023121301

[global]
show_stacktraces = "1"
show_application_state_messages = "1"
config_backend = "db"
config_resource = "{{ icingaweb2__database_name }}"
module_path = "/usr/share/icingaweb2/modules"

[logging]
log = "syslog"
level = "ERROR"
application = "icingaweb2"
facility = "user"

[themes]
default = "{{ icingaweb2__default_theme }}"
