{% for item in icingaweb2__groups__combined_var if item['state'] | d('present') != 'absent' %}
[{{ item['name'] }}]
{% for key, value in item.items() if not key == 'name' %}
{{ key }} = "{{ value }}"
{% endfor %}

{% endfor %}
