# {{ ansible_managed }}
# 2025011601

{% if repo_proxysql__mirror_url is defined and repo_proxysql__mirror_url | length %}
deb [signed-by=/etc/apt/keyrings/proxysql.pgp] {{ repo_proxysql__mirror_url }}/proxysql/{{ repo_proxysql__version__combined_var }}.x/{{ ansible_facts["distribution_release"] }}/ ./
{% else %}
deb [signed-by=/etc/apt/keyrings/proxysql.pgp] https://repo.proxysql.com/ProxySQL/proxysql-{{ repo_proxysql__version__combined_var }}.x/{{ ansible_facts["distribution_release"] }}/ ./
{% endif %}
