# {{ ansible_managed }}
# 2024091102
# https://bind9.readthedocs.io/en/latest/reference.html

acl "trusted" {
    localhost;
    localnets;
    {% for item in bind__trusted_networks %}
    {{ item }};
    {% endfor %}
};

options {
    allow-new-zones {{ bind__allow_new_zones | ternary('yes', 'no') }};
    allow-query-cache { trusted; };
    allow-recursion { trusted; };
    allow-transfer {
        {% for item in bind__allow_transfer %}
        {{ item }};
        {% endfor %}
    };
    directory "/var/named";
    disable-empty-zone yes;
    dnssec-enable no;
    dnssec-validation no;
    dump-file "/var/named/data/cache_dump.db";
    filter-aaaa-on-v4 yes;
    forward only;
    forwarders {
        {% for item in bind__forwarders %}
        {{ item }};
        {% endfor %}
    };
    listen-on port 53 {
        {% for item in bind__listen_on_addresses %}
        {{ item }};
        {% endfor %}
    };
    listen-on-v6 { {{ bind__listen_ipv6 | ternary('any', 'none') }}; };
    managed-keys-directory "/var/named/dynamic";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    pid-file "/run/named/named.pid";
    recursion {{ bind__recursion | ternary('yes', 'no') }};
    {% if bind__rpz_zone is defined and bind__rpz_zone | length %}
    response-policy { zone "{{ bind__rpz_zone }}"; };
    {% endif %}
    session-keyfile "/run/named/session.key";
    statistics-file "/var/named/data/named_stats.txt";
    version "Linuxfabrik";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "." IN {
    type hint;
    file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

{% for item in bind__zones %}
zone "{{ item['name'] }}" IN {
    type {{ item['type'] | d('master') }};
    file "{{ item['file'] | d(item['name'] ~ '.zone') }}";
    forwarders {
        # default: do normal iterative resolution (do not forward)
        {% for item in item['forwarders'] | d([]) %}
        {{ item }};
        {% endfor %}
    };
    allow-query { trusted; };
    {% if item['allow_transfer'] | d([]) | length %}
    allow-transfer {
        {% for item in item['allow_transfer'] | d(['none']) %}
        {{ item }};
        {% endfor %}
    };
    {% endif %}
    {% if item['type'] | d('master') in ['mirror', 'redirect', 'secondary', 'slave', 'stub'] %}
    masters {
        {% for item in item['masters'] | d([]) %}
        {{ item }};
        {% endfor %}
    };
    {% endif %}
};

{% endfor %}

{% for item in bind__keys %}
key "{{ item ['name'] }}" {
  algorithm {{ item['algorithm'] }};
  secret "{{ item['secret'] | ansible.builtin.b64encode }}";
};
{% endfor %}

{% if bind__named_conf_raw is defined and bind__named_conf_raw | length %}
# raw
{{ bind__named_conf_raw }}
{% endif %}
