# Author:  Linuxfabrik GmbH, Zurich, Switzerland
# Contact: info (at) linuxfabrik (dot) ch
#          https://www.linuxfabrik.ch/
# License: The Unlicense, see LICENSE file.

# {{ ansible_managed }}
# 2022101301

HOST='localhost'
USERNAME='{{ mariadb_server__dump_user["username"] }}'
PASSWORD='{{ mariadb_server__dump_user["password"] }}'
BACKUP_DIR='{{ mariadb_server__dump_directory }}'
THREADS='{{ mariadb_server__dump_threads }}'
