# Author:  Linuxfabrik GmbH, Zurich, Switzerland
# Contact: info (at) linuxfabrik (dot) ch
#          https://www.linuxfabrik.ch/
# License: The Unlicense, see LICENSE file.

# {{ ansible_managed }}
# 2025051201

BACKUP_DIR={{ mariadb_server__dump_directory | quote }}
THREADS={{ mariadb_server__dump_threads | quote }}
COMPRESS={{ mariadb_server__dump_compress | quote }}
LONG_QUERY_GUARD={{ mariadb_server__dump_long_query_guard | quote }}
RAW={{ mariadb_server__dump_raw | quote }}
SOCKET={{ mariadb_server__cnf_socket__combined_var | quote }}