- block:

  - name: 'Install tomcat-admin-webapps'
    ansible.builtin.package:
      name: 'tomcat-admin-webapps'  # installs java and tomcat, too
      state: 'present'
    when:
      - 'not apache_tomcat__skip_manager | d(false)'

  - name: 'Install tomcat'
    ansible.builtin.package:
      name: 'tomcat'  # installs java, too
      state: 'present'
    when:
      - 'apache_tomcat__skip_manager | d(false)'

  - name: 'Copy tomcat logrotate template to /etc/logrotate.d'
    ansible.builtin.template:
      src: 'etc/logrotate.d/tomcat.j2'
      dest: '/etc/logrotate.d/tomcat'
      owner: 'root'
      group: 'root'
      mode: 0o644

  tags:
    - 'apache_tomcat'


- block:

  - name: 'Deploy /etc/tomcat/context.xml'
    ansible.builtin.template:
      src: 'etc/tomcat/context.xml.j2'
      dest: '/etc/tomcat/context.xml'
      owner: 'root'
      group: 'tomcat'
      mode: 0o644
    notify: 'apache_tomcat: restart tomcat.service'

  - name: 'Deploy /etc/tomcat/logging.properties'
    ansible.builtin.template:
      src: 'etc/tomcat/logging.properties.j2'
      dest: '/etc/tomcat/logging.properties'
      owner: 'root'
      group: 'tomcat'
      mode: 0o644
    notify: 'apache_tomcat: restart tomcat.service'

  - name: 'Deploy /etc/tomcat/server.xml'
    ansible.builtin.template:
      src: 'etc/tomcat/server.xml.j2'
      dest: '/etc/tomcat/server.xml'
      owner: 'root'
      group: 'tomcat'
      mode: 0o644
    notify: 'apache_tomcat: restart tomcat.service'

  - name: 'Deploy /var/lib/tomcat/webapps/manager/META-INF/context.xml'
    ansible.builtin.template:
      src: 'var/lib/tomcat/webapps/manager/META-INF/context.xml.j2'
      dest: '/var/lib/tomcat/webapps/manager/META-INF/context.xml'
      owner: 'root'
      group: 'tomcat'
      mode: 0o664
    notify: 'apache_tomcat: restart tomcat.service'
    when:
      - 'not apache_tomcat__skip_manager | d(false)'

  tags:
    - 'apache_tomcat'
    - 'apache_tomcat:configure'


- block:

  - name: 'Combined Users:'
    ansible.builtin.debug:
      var: 'apache_tomcat__users__combined_var'

  - name: 'Deploy /etc/tomcat/tomcat-users.xml'
    ansible.builtin.template:
      src: 'etc/tomcat/tomcat-users.xml.j2'
      dest: '/etc/tomcat/tomcat-users.xml'
      owner: 'root'
      group: 'tomcat'
      mode: 0o640
    notify: 'apache_tomcat: restart tomcat.service'

  tags:
    - 'apache_tomcat'
    - 'apache_tomcat:configure'
    - 'apache_tomcat:users'


- block:

  - name: 'systemctl {{ apache_tomcat__service_enabled | bool | ternary("enable", "disable") }} --now tomcat.service'
    ansible.builtin.systemd:
      name: 'tomcat.service'
      enabled: '{{ apache_tomcat__service_enabled }}'
      state: '{{ apache_tomcat__service_enabled | bool | ternary("started", "stopped") }}'

  tags:
    - 'apache_tomcat'
    - 'apache_tomcat:state'
