# {{ ansible_managed }}
# 2024073001

{% if repo_icinga__mirror_url is defined and repo_icinga__mirror_url | length %}
  {% set repo_icinga__baseurl = repo_icinga__mirror_url ~ '/icinga' %}
{% else %}
  {% set repo_icinga__baseurl = 'http://packages.icinga.com/' ~ ansible_facts["distribution"] | lower %}
{% endif %}

deb [signed-by=/etc/apt/keyrings/icinga.asc] {{ repo_icinga__baseurl }} icinga-{{ ansible_facts["distribution_release"] }} main
deb-src [signed-by=/etc/apt/keyrings/icinga.asc] {{ repo_icinga__baseurl }} icinga-{{ ansible_facts["distribution_release"] }} main
