- name: 'Install and configure acme.sh'
  hosts:
    - 'lfops_acme_sh'

  roles:

    - role: 'linuxfabrik.lfops.openssl'

    - role: 'linuxfabrik.lfops.tar'

    - role: 'linuxfabrik.lfops.acme_sh'
