- name: 'Manage and configure duplicity'
  collections: ['linuxfabrik.lfops']
  hosts:
    - 'lfops_duplicity'

  roles:

    - role: 'repo_epel'
      when:
        - (ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] in ['7', '8'])

    - role: 'python_venv'
      python_venv__dependent_venvs:
        - '{{ duplicity__python_venv__dependent_venvs|d({}) }}'
      when:
        - not duplicity__skip_python_venv|d(False)

    - role: 'duplicity'
