- name: 'Playbook linuxfabrik.lfops.elastic_agent'
  hosts:
    - 'lfops_elastic_agent'

  pre_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-start.yml'
      tags:
        - 'always'


  roles:

    - role: 'linuxfabrik.lfops.repo_elasticsearch'
      when:
        - 'not elastic_agent__skip_repo_elasticsearch | d(false)'

    - role: 'linuxfabrik.lfops.elastic_agent'


  post_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-end.yml'
      tags:
        - 'always'
