- name: 'Installs and configures fail2ban'
  hosts:
    - 'lfops_fail2ban'

  roles:

    - role: 'linuxfabrik.lfops.policycoreutils'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not fail2ban__skip_selinux | default(false)'

    - role: 'linuxfabrik.lfops.selinux'
      selinux__booleans__dependent_var:
        - '{{ fail2ban__selinux__booleans__dependent_var }}'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not fail2ban__skip_selinux | default(false)'

    - role: 'linuxfabrik.lfops.sshd'
      sshd__log_level__dependent_var: 'VERBOSE'
      when:
        - 'not fail2ban__skip_sshd | d(false)'

    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'ansible_facts["distribution_major_version"] in ["7", "8"]'
        - 'not fail2ban__skip_repo_epel | d(false)'

    - role: 'linuxfabrik.lfops.fail2ban'
