- name: 'Install ffpmeg'
  hosts:
    - 'lfops_ffmpeg'

  roles:

    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'not ffmpeg__skip_repo_epel | d(false)'

    - role: 'linuxfabrik.lfops.repo_rpmfusion'
      when:
        - 'not ffmpeg__skip_repo_rpmfusion | d(false)'

    - role: 'linuxfabrik.lfops.apps'
      apps__apps__dependent_var:
        - name: 'ffmpeg'
          state: 'present'
