- name: 'Playbook linuxfabrik.lfops.icinga2_agent'
  hosts:
    - 'lfops_icinga2_agent'

  pre_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-start.yml'
      tags:
        - 'always'


  roles:

    - role: 'linuxfabrik.lfops.repo_icinga'
      when:
        - 'ansible_facts["os_family"] != "Windows"'
        - 'not icinga2_agent__skip_repo_icinga | d(false)'

    - role: 'linuxfabrik.lfops.icinga2_agent'

    # install the plugins after the agent, else the installation of the agent fails on Windows
    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8", "9"]'
        - 'not icinga2_agent__skip_repo_epel | d(true)'

    - role: 'linuxfabrik.lfops.python'
      python__modules__dependent_var: '{{
          monitoring_plugins__python__modules__dependent_var
        }}'
      when:
        - 'not icinga2_agent__skip_python | d(true)'

    - role: 'linuxfabrik.lfops.repo_monitoring_plugins'
      when:
        - 'ansible_facts["os_family"] != "Windows"'
        - 'not icinga2_agent__skip_repo_monitoring_plugins | d(false)'

    - role: 'linuxfabrik.lfops.monitoring_plugins'
      when:
        - 'not icinga2_agent__skip_monitoring_plugins | d(false)'


  post_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-end.yml'
      tags:
        - 'always'
