- name: 'Playbook linuxfabrik.lfops.kibana'
  hosts:
    - 'lfops_kibana'

  pre_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-start.yml'
      tags:
        - 'always'


  roles:

    - role: 'linuxfabrik.lfops.repo_elasticsearch'
      when:
        - 'not kibana__skip_repo_elasticsearch | default(false)'

    - role: 'linuxfabrik.lfops.kibana'


  post_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-end.yml'
      tags:
        - 'always'
