- name: 'Install and configure a server-based/headless LibreOffice'
  hosts:
    - 'lfops_libreoffice'

  roles:

    - role: 'linuxfabrik.lfops.selinux'
      selinux__booleans__dependent_var:
        - '{{ libreoffice__selinux__booleans__dependent_var }}'
      selinux__fcontexts__dependent_var:
        - '{{ libreoffice__selinux__fcontexts__dependent_var }}'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'libreoffice__client_apache is defined'
        - 'libreoffice__client_apache'

    - role: 'linuxfabrik.lfops.libreoffice'
