- name: 'Playbook linuxfabrik.lfops.logstash'
  hosts:
    - 'lfops_logstash'

  pre_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-start.yml'
      tags:
        - 'always'


  roles:

    - role: 'linuxfabrik.lfops.repo_elasticsearch'
      when:
        - 'not logstash__skip_repo_elasticsearch | default(false)'

    - role: 'linuxfabrik.lfops.logstash'


  post_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-end.yml'
      tags:
        - 'always'
