- name: 'Install and configure MariaDB server'
  hosts:
    - 'lfops_mariadb_server'

  roles:

    - role: 'linuxfabrik.lfops.kernel_settings'
      kernel_settings__sysctl__dependent_var: '{{ mariadb_server__kernel_settings__sysctl__dependent_var | d([]) }}'
      when:
        - 'not mariadb_server__skip_kernel_settings | d(false)'

    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]'

    - role: 'linuxfabrik.lfops.repo_mydumper'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]' # currently doesn't work for fedora
        - 'not mariadb_server__skip_repo_mydumper | d(false)'

    - role: 'linuxfabrik.lfops.repo_mariadb'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]'
        - 'not mariadb_server__skip_repo_mariadb | d(false)'

    - role: 'linuxfabrik.lfops.python'
      python__modules__dependent_var: '{{ mariadb_server__python__modules__dependent_var | d([]) }}'
      when:
        - 'not mariadb_server__skip_python | d(false)'

    - role: 'linuxfabrik.lfops.mariadb_server'
