- name: 'Playbook linuxfabrik.lfops.mongodb'
  hosts:
    - 'lfops_mongodb'

  pre_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-start.yml'
      tags:
        - 'always'


  roles:

    - role: 'linuxfabrik.lfops.kernel_settings'
      kernel_settings__sysctl__dependent_var: '{{ mongodb__kernel_settings__sysctl__dependent_var | d([]) }}'
      kernel_settings__transparent_hugepages__dependent_var: "{{ mongodb__kernel_settings__transparent_hugepages__dependent_var | d('') }}"
      when:
        - 'not mongodb__skip_kernel_settings | d(false)'

    - role: 'linuxfabrik.lfops.python_venv'
      python_venv__venvs__dependent_var: '{{
          mongodb__python_venv__venvs__dependent_var
        }}'
      when:
        - 'not mongodb__skip_python_venv | d(false)'

    - role: 'linuxfabrik.lfops.repo_mongodb'
      when:
        - 'not mongodb__skip_repo_mongodb | default(false)'

    - role: 'linuxfabrik.lfops.mongodb'


  post_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-end.yml'
      tags:
        - 'always'
