- name: 'Manage and configure the Linuxfabrik monitoring-plugins'
  collections: ['linuxfabrik.lfops']
  become: true
  hosts:
    - 'lfops_monitoring_plugins'

  roles:

    - role: 'repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]'

    - role: 'python'
      python__dependent_modules: '{{ monitoring_plugins__python__dependent_modules | d([]) }}'
      when:
        - 'not monitoring_plugins__skip_python | d(false)'

    - role: 'monitoring_plugins'
