- name: 'Objectstore backup service and timer'
  hosts:
    - 'lfops_objectstore_backup'

  roles:

    - role: 'linuxfabrik.lfops.minio_client'
      minio_client__aliases__dependent_var:
        - '{{ objectstore_backup__minio_client__aliases__dependent_var }}'
      when:
        - 'not objectstore_backup__skip_minio_client | d(false)'

    - role: 'linuxfabrik.lfops.objectstore_backup'
