- name: 'Playbook linuxfabrik.lfops.opensearch'
  hosts:
    - 'lfops_opensearch'
  serial: 1 # required for the handlers to work correctly when managing a galera cluster

  pre_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-start.yml'
      tags:
        - 'always'


  roles:

    - role: 'linuxfabrik.lfops.repo_opensearch'
      when:
        - 'not opensearch__skip_repo_opensearch | default(false)'

    - role: 'linuxfabrik.lfops.opensearch'


  post_tasks:
    - ansible.builtin.import_role:
        name: 'shared'
        tasks_from: 'log-end.yml'
      tags:
        - 'always'
