- name: 'Install PHP on the system, optionally with additional modules'
  hosts:
    - 'lfops_php'

  roles:

    - role: 'linuxfabrik.lfops.yum_utils'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not php__skip_yum_utils | default(false)'

    - role: 'linuxfabrik.lfops.repo_remi'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not php__skip_repo_remi | default(false)'

    - role: 'linuxfabrik.lfops.php'
