- name: 'Creates and manages python venvs'
  hosts:
    - 'lfops_python_venv'

  roles:

    - role: 'linuxfabrik.lfops.python'
      when:
        - 'not python_venv__skip_python | d(false)'

    - role: 'linuxfabrik.lfops.python_venv'
