- name: 'Manage and configure the EPEL Repository'
  hosts:
    - 'lfops_repo_epel'

  roles:

    - role: 'linuxfabrik.lfops.yum_utils'
      when:
        - 'not repo_epel__skip_yum_utils | d(false)'

    - role: 'linuxfabrik.lfops.repo_epel'
