- name: 'Install and configure Rocket.Chat'
  hosts:
    - 'lfops_setup_rocketchat'

  roles:

    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8", "9"]'
        - 'not setup_rocketchat__skip_repo_epel | default(false)'

    - role: 'linuxfabrik.lfops.apps'
      apps__apps__dependent_var: '{{
          rocketchat__apps__apps__dependent_var
        }}'
      when:
        - 'not rocketchat__skip_apps | default(false)'

    - role: 'linuxfabrik.lfops.nodejs'
      when:
        - 'not setup_rocketchat__skip_nodejs | default(false)'

    - role: 'linuxfabrik.lfops.kernel_settings'
      kernel_settings__transparent_hugepages__dependent_var: "{{ mongodb__kernel_settings__transparent_hugepages__dependent_var | d('') }}"
      when:
        - 'not setup_rocketchat__skip_kernel_settings | d(false)'

    - role: 'linuxfabrik.lfops.python_venv'
      python_venv__venvs__dependent_var: '{{
          mongodb__python_venv__venvs__dependent_var
        }}'
      when:
        - 'not setup_rocketchat__skip_python_venv | d(false)'

    - role: 'linuxfabrik.lfops.repo_mongodb'
      when:
        - 'not setup_rocketchat__skip_repo_mongodb | default(false)'

    - role: 'linuxfabrik.lfops.mongodb'
      mongodb__conf_replication_repl_set_name__dependent_var: '{{ rocketchat__mongodb__conf_replication_repl_set_name__dependent_var }}'
      mongodb__users__dependent_var: '{{
          rocketchat__mongodb__users__dependent_var
        }}'
      when:
        - 'not setup_rocketchat__skip_mongodb | default(false)'

    - role: 'linuxfabrik.lfops.rocketchat'
