- name: 'Install and configure LibreNMS'
  hosts:
    - 'lfops_setup_librenms'

  roles:

    - role: 'linuxfabrik.lfops.yum_utils'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not librenms__skip_yum_utils | default(false)'

    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]'
        - 'not librenms__skip_repo_epel | default(false)'

    - role: 'linuxfabrik.lfops.repo_mydumper'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]' # currently doesn't work for fedora
        - 'not librenms__skip_repo_mydumper | default(false)'

    - role: 'linuxfabrik.lfops.repo_mariadb'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]'
        - 'not librenms__skip_repo_mariadb | default(false)'

    - role: 'linuxfabrik.lfops.policycoreutils'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not setup_librenms__skip_policycoreutils | default(false)'

    - role: 'linuxfabrik.lfops.selinux'
      selinux__booleans__dependent_var:
        - '{{ librenms__selinux__booleans__dependent_var }}'
      selinux__fcontexcts__dependent_var:
        - '{{ librenms__selinux__fcontexcts__dependent_var }}'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'not setup_librenms__skip_selinux | default(false)'

    - role: 'linuxfabrik.lfops.python'
      python__modules__dependent_var:
        - '{{ mariadb_server__python__modules__dependent_var | default([]) }}'
      when:
        - 'not librenms__skip_python | default(false)'

    - role: 'linuxfabrik.lfops.kernel_settings'
      kernel_settings__sysctl__dependent_var: '{{ mariadb_server__kernel_settings__sysctl__dependent_var | d([]) }}'
      when:
        - 'not librenms__skip_kernel_settings | d(false)'

    - role: 'linuxfabrik.lfops.mariadb_server'
      mariadb_server__databases__dependent_var:
        - '{{ librenms__mariadb_server__databases__dependent_var | default({}) }}'
      mariadb_server__users__dependent_var:
        - '{{ librenms__mariadb_server__users__dependent_var | default({}) }}'
      when:
        - 'not librenms__skip_mariadb_server | default(false)'

    - role: 'linuxfabrik.lfops.repo_remi'
      when:
        - 'ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] in ["7", "8"]'
        - 'not librenms__skip_repo_remi | default(false)'

    - role: 'linuxfabrik.lfops.php'
      php__modules__dependent_var:
        - '{{ librenms__php__modules__dependent_var | default([]) }}'
      php__fpm_pools__dependent_var:
        - '{{ librenms__php__fpm_pools__dependent_var | default([]) }}'
      when:
        - 'not librenms__skip_php | default(false)'

    - role: 'linuxfabrik.lfops.apps'
      apps__apps__dependent_var:
        - '{{ librenms__apps__apps__dependent_var }}'
      when:
        - 'not librenms__skip_apps | default(false)'

    - role: 'linuxfabrik.lfops.librenms'

    - role: 'linuxfabrik.lfops.apache_httpd'
      apache_httpd__vhosts__dependent_var: '{{ librenms__apache_httpd__vhosts__dependent_var | d([]) }}'
      when:
        - 'not librenms__skip_apache_httpd | default(false)'
