- name: 'Ensures that some tools are installed'
  hosts:
    - 'lfops_tools'

  roles:

    - role: 'linuxfabrik.lfops.repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'ansible_facts["distribution_major_version"] in ["7", "8", "9"]'

    - role: 'linuxfabrik.lfops.tools'
