- name: 'Ensures that some tools are installed'
  collections: ['linuxfabrik.lfops']
  become: true
  hosts:
    - 'lfops_tools'

  roles:

    - role: 'repo_epel'
      when:
        - 'ansible_facts["os_family"] == "RedHat"'
        - 'ansible_facts["distribution_major_version"] in ["7", "8"]'

    - role: 'tools'
