apache_httpd__skip_document_root_chown: false
apache_httpd__skip_mod_security_coreruleset: true
apache_httpd__skip_php_fpm: false
apache_httpd__systemd_enabled: true
apache_httpd__systemd_state: 'started'


# Apache Module Installation
# --------------------------

# apache_httpd__packages__role_var: # see vars/
apache_httpd__packages__dependent_var: []
apache_httpd__packages__group_var: []
apache_httpd__packages__host_var: []
apache_httpd__packages__combined_var: '{{ (
      apache_httpd__packages__role_var +
      apache_httpd__packages__dependent_var +
      apache_httpd__packages__group_var +
      apache_httpd__packages__host_var
    ) | linuxfabrik.lfops.combine_lod
  }}'


# Apache Module Configuration
# ---------------------------

# Apache mods managed by this Ansible role.
# apache_httpd__mods__role_var: # see vars/
apache_httpd__mods__dependent_var: []
apache_httpd__mods__group_var: []
apache_httpd__mods__host_var: []
apache_httpd__mods__combined_var: '{{ (
      apache_httpd__mods__role_var +
      apache_httpd__mods__dependent_var +
      apache_httpd__mods__group_var +
      apache_httpd__mods__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="filename")
  }}'


# Apache "conf-available"
# -----------------------

# Apache conf used internally by this role.
apache_httpd__conf__role_var:
  - filename: 'deflate'
    enabled: true
    state: 'present'
    template: 'deflate'

  - filename: 'dir'
    enabled: true
    state: 'present'
    template: 'dir'

  - filename: 'expires'
    enabled: true
    state: 'present'
    template: 'expires'

  - filename: 'headers'
    enabled: true
    state: 'present'
    template: 'headers'

  - filename: 'http2'
    enabled: true
    state: 'present'
    template: 'http2'

  - filename: 'letsencrypt-webroot'
    enabled: true
    state: 'present'
    template: 'raw'
    raw: !unsafe |-
      Alias /.well-known/acme-challenge/ /var/www/html/letsencrypt/.well-known/acme-challenge/
      <Directory "/var/www/html/letsencrypt/">
          AllowOverride None
          Options None
          Require method GET POST OPTIONS
      </Directory>

  - filename: 'log_config'
    enabled: true
    state: 'present'
    template: 'log_config'

  - filename: 'logio'
    enabled: true
    state: 'present'
    template: 'logio'

  - filename: 'mime'
    enabled: true
    state: 'present'
    template: 'mime'

  - filename: 'mime_magic'
    enabled: true
    state: 'present'
    template: 'mime_magic'

  - filename: 'mod_security'
    enabled: true
    state: 'present'
    template: 'mod_security'

  - filename: 'mpm_event'
    enabled: true
    state: 'present'
    template: 'mpm_event'

  - filename: 'mpm_prefork'
    enabled: false
    state: 'present'
    template: 'mpm_prefork'

  - filename: 'mpm_worker'
    enabled: false
    state: 'present'
    template: 'mpm_worker'

  - filename: 'php'
    enabled: false
    state: 'present'
    template: 'php'

  - filename: 'python'
    enabled: false
    state: 'present'
    template: 'python'

  - filename: 'ssl'
    enabled: true
    state: 'present'
    template: 'ssl'

  - filename: 'status'
    enabled: false
    state: 'present'
    template: 'status'

  - filename: 'unixd'
    enabled: true
    state: 'present'
    template: 'unixd'

apache_httpd__conf__dependent_var: []
apache_httpd__conf__group_var: []
apache_httpd__conf__host_var: []
apache_httpd__conf__combined_var: '{{ (
      apache_httpd__conf__role_var +
      apache_httpd__conf__dependent_var +
      apache_httpd__conf__group_var +
      apache_httpd__conf__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="filename")
  }}'

# Apache "htpasswd"
# -----------------

# apache_httpd__htpasswd__combined_var
apache_httpd__htpasswd__dependent_var: []
apache_httpd__htpasswd__group_var: []
apache_httpd__htpasswd__host_var: []
apache_httpd__htpasswd__role_var: []
apache_httpd__htpasswd__combined_var: '{{ (
      apache_httpd__htpasswd__role_var +
      apache_httpd__htpasswd__dependent_var +
      apache_httpd__htpasswd__group_var +
      apache_httpd__htpasswd__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key="username")
  }}'


# Apache Module Config
# --------------------

# core
apache_httpd__conf_add_default_charset: 'UTF-8'
apache_httpd__conf_document_root: '/var/www/html'
apache_httpd__conf_enable_send_file: 'On'
apache_httpd__conf_error_log: 'syslog:local1'
apache_httpd__conf_hostname_lookups: 'Off'
apache_httpd__conf_keep_alive: 'On'
apache_httpd__conf_keep_alive_timeout: 5
apache_httpd__conf_limit_request_body: 102400
apache_httpd__conf_limit_request_field_size: 8190 # deviating from CIS value (1024), as this is a problem with any modern application which sets cookies in its Header
apache_httpd__conf_limit_request_fields: 100
apache_httpd__conf_limit_request_line: 8190 # deviating from CIS value (512)
apache_httpd__conf_log_level: 'warn'
apache_httpd__conf_max_keep_alive_requests: 500
apache_httpd__conf_server_name: 'localhost'
apache_httpd__conf_timeout: 10
apache_httpd__conf_trace_enable: 'Off'

# mod_dir
apache_httpd__mod_dir_directory_index: 'index.html index.htm index.txt'

# mod_common_listen
apache_httpd__mpm_common_listen:
  - 80

# mod_mpm_event
apache_httpd__mpm_event_max_connections_per_child: 0
apache_httpd__mpm_event_max_request_workers: 400
apache_httpd__mpm_event_max_spare_threads: 250
apache_httpd__mpm_event_min_spare_threads: 75
apache_httpd__mpm_event_start_servers: 3
apache_httpd__mpm_event_thread_limit: 64
apache_httpd__mpm_event_threads_per_child: 25

# mod_mpm_prefork
apache_httpd__mpm_prefork_max_connections_per_child: 0
apache_httpd__mpm_prefork_max_request_workers: 256
apache_httpd__mpm_prefork_max_spare_servers: 10
apache_httpd__mpm_prefork_min_spare_servers: 5
apache_httpd__mpm_prefork_start_servers: 5

# mod_mpm_worker
apache_httpd__mpm_worker_max_connections_per_child: 0
apache_httpd__mpm_worker_max_request_workers: 400
apache_httpd__mpm_worker_max_spare_threads: 250
apache_httpd__mpm_worker_min_spare_threads: 75
apache_httpd__mpm_worker_start_servers: 3
apache_httpd__mpm_worker_thread_limit: 64
apache_httpd__mpm_worker_threads_per_child: 25

# mod_security
# normally nothing that you have to change
# get details from https://coreruleset.org/installation/
# origin: https://github.com/coreruleset/coreruleset/releases
apache_httpd__mod_security_coreruleset_url: 'https://github.com/coreruleset/coreruleset/archive'
apache_httpd__mod_security_coreruleset_version: '4.14.0'

# mod_ssl
apache_httpd__mod_ssl_ssl_use_stapling: 'on'


# Apache Virtual Host Configuration
# ---------------------------------

# Used internally by this role. Order is important.
apache_httpd__vhosts__role_var:

  - comment: |-
      Host for internal things like monitoring, just accessible from localhost.
    enabled: true
    filename: '000-localhost.80'
    state: 'present'
    template: 'localhost'
    virtualhost_ip: '*'
    virtualhost_port: 80

    allowed_file_extensions:
      - 'html?'
      - 'php'
    allowed_http_methods:
      - 'GET'
      - 'OPTIONS'

    conf_custom_log: 'logs/localhost-access.log combined'
    conf_error_log: 'syslog:local1'
    conf_keep_alive_timeout: 5
    conf_log_level: 'notice core:info'
    conf_request_read_timeout: 'header=20-40,MinRate=500 body=20,MinRate=500'
    conf_server_name: 'localhost'

    raw: |-
      # headers_module
      Header set Content-Security-Policy: "\
          default-src 'none'; \
          base-uri 'none'; \
          block-all-mixed-content; \
          child-src 'none'; \
          connect-src 'none'; \
          font-src 'none'; \
          form-action 'none'; \
          frame-ancestors 'none'; \
          frame-src 'none'; \
          img-src 'none'; \
          manifest-src 'none'; \
          media-src 'none'; \
          object-src 'none'; \
          prefetch-src 'none'; \
          require-trusted-types-for 'script'; \
          sandbox; \
          script-src 'none'; \
          style-src 'none'; \
          worker-src 'none'; \
          "
      Header set Permissions-Policy: "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
      Header set Referrer-Policy: "strict-origin-when-cross-origin"
      Header set X-Content-Type-Options: "nosniff"
      Header set X-XSS-Protection: "1; mode=block"

apache_httpd__vhosts__dependent_var: []
apache_httpd__vhosts__group_var: []
apache_httpd__vhosts__host_var: []
apache_httpd__vhosts__combined_var: '{{ (
      apache_httpd__vhosts__role_var +
      apache_httpd__vhosts__dependent_var +
      apache_httpd__vhosts__group_var +
      apache_httpd__vhosts__host_var
    ) | linuxfabrik.lfops.combine_lod(unique_key=["conf_server_name", "virtualhost_port"])
  }}'


apache_httpd__python__modules__dependent_var:
  - name: 'python3-passlib'

apache_httpd__selinux__booleans__dependent_var:
  - key: 'httpd_can_network_connect'
    value: 'on'
