# {{ ansible_managed }}
# 2025012201

[DEFAULT]
# Other sections inherit values from DEFAULT and may also overwrite values.
db_url = sqlite:////var/lib/fangfrisch/db.sqlite
local_directory = /var/lib/clamav
log_level = info
on_update_exec = clamdscan --reload
on_update_timeout = 42

[sanesecurity]
enabled = true

[urlhaus]
enabled = true

{% if fangfrisch__securiteinfo_customer_id is defined and fangfrisch__securiteinfo_customer_id | length %}
[securiteinfo]
enabled = true
customer_id = {{ fangfrisch__securiteinfo_customer_id }}
{% endif %}
