# {{ ansible_managed }}
# 2025012301
#
# Postfix master process configuration file.  For details on the format
# of the file, see the master(5) manual page (command: "man 5 master" or
# on-line: http://www.postfix.org/master.5.html).
#
# Do not forget to execute "postfix reload" after editing this file.
#
# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (no)    (never) (100)
# ==========================================================================
{% if postfix__mastercf_entries__combined_var is defined and postfix__mastercf_entries__combined_var | length > 0 %}
{% for item in postfix__mastercf_entries__combined_var %}
{{ item.service }}      {{ item.type}}   {{ item.private}}       {{ item.unpriv}}       {{ item.chroot }}      {{ item.wakeup }}      {{ item.maxproc }}      {{ item.command }}
{% for argument in item.arguments %}
  {{ argument }}
{% endfor %}
{% endfor %}
{% endif %}
