# {{ ansible_managed }}
# 2022121203

[Unit]
Description={% if item['description'] is defined and item['description'] %}{{ item['description'] }}{% else %}{{ item['name'] }} Timer{% endif %}
{% if 'raw_unit' in item %}
# raw
{{ item['raw_unit'] }}
{% endif %}


[Timer]
{% if 'raw_timer' in item %}
# raw
{{ item['raw_timer'] }}
{% endif %}

[Install]
WantedBy={{ item['wanted_by'] | d('timers.target') }}
{% if 'raw_install' in item %}
# raw
{{ item['raw_install'] }}
{% endif %}
