- block:

  - name: 'Set platform/version specific variables'
    ansible.builtin.import_role:
      name: 'shared'
      tasks_from: 'platform-variables.yml'

  - name: 'Deploy /etc/ssh/sshd_config'
    ansible.builtin.template:
      src: '{{ lookup("ansible.builtin.first_found", __task_file) }}'
      dest: '/etc/ssh/sshd_config'
      owner: 'root'
      group: 'root'
      mode: 0o600 # covers sshd_config_permissions STIG
    vars:
      __task_file:
        files:
          - 'etc/ssh/{{ ansible_facts["distribution"] }}{{ ansible_facts["distribution_major_version"] }}-sshd_config.j2'
          - 'etc/ssh/{{ ansible_facts["os_family"] }}{{ ansible_facts["distribution_major_version"] }}-sshd_config.j2'
        paths:
          - '{{ role_path }}/templates'
    notify: 'sshd: reload sshd'

  - name: 'Find all .conf files in /etc/ssh/sshd_config.d'
    ansible.builtin.find:
      paths: '/etc/ssh/sshd_config.d'
      patterns: '*.conf'
    register: '__sshd_config_d_conf_files'

  # covers sshd_config_permissions STIG
  - name: 'Ensure correct permissions on /etc/ssh/sshd_config.d/*.conf files'
    ansible.builtin.file:
      path: '{{ item["path"] }}'
      owner: 'root'
      group: 'root'
      mode: 0o0600
    loop: '{{ __sshd_config_d_conf_files["files"] }}'
    loop_control:
      label: '{{ item["path"] }}'

  # covers sshd_private_host_key_permissions STIG
  - name: 'Ensure correct permissions on SSH private host key files'
    ansible.builtin.include_tasks: 'private-host-key-permissions.yml'

  # covers sshd_public_host_key_permissions STIG
  - name: 'Ensure correct permissions on SSH public host key files'
    ansible.builtin.include_tasks: 'public-host-key-permissions.yml'

  - name: 'Remove rpmnew / rpmsave (and Debian equivalents)'
    ansible.builtin.include_role:
      name: 'shared'
      tasks_from: 'remove-rpmnew-rpmsave.yml'
    vars:
      shared__remove_rpmnew_rpmsave_config_file: '/etc/ssh/sshd_config'

  - name: 'semanage port --add --type ssh_port_t --proto tcp {{ sshd__port }}'
    community.general.seport:
      ports: '{{ sshd__port }}'
      proto: 'tcp'
      setype: 'ssh_port_t'
    when:
      - 'ansible_facts["selinux"]["status"] != "disabled"'

  tags:
    - 'sshd'


- block:

  - name: 'systemctl: sshd enabled = {{ sshd__service_enabled }}'
    ansible.builtin.systemd:
      name: 'sshd.service'
      enabled: '{{ sshd__service_enabled }}'

  - name: 'systemctl: sshd state = {{ sshd__service_state }}'
    ansible.builtin.systemd:
      name: 'sshd.service'
      state: '{{ sshd__service_state }}'

  tags:
    - 'sshd'
    - 'sshd:state'
