- name: 'define network'
  community.libvirt.virt_net:
    command: 'define'
    autostart: true
    name: '{{ network.name }}'
    xml: '{{ lookup("template", "virt-net.j2") }}'

- name: 'activate network'
  community.libvirt.virt_net:
    state: 'active'
    name: '{{ network.name }}'

- name: 'autostart network'
  community.libvirt.virt_net:
    name: '{{ network.name }}'
    autostart: true
