- block:

  - name: 'mkdir -p /etc/icingaweb2/modules/x509'
    ansible.builtin.file:
      path: '/etc/icingaweb2/modules/x509'
      state: 'directory'
      owner: 'apache'
      group: 'icingaweb2'
      mode: 0o2770

  - name: 'mkdir -p /usr/share/icingaweb2/modules/x509'
    ansible.builtin.file:
      path: '/usr/share/icingaweb2/modules/x509'
      state: 'directory'
      owner: 'apache'
      group: 'icingaweb2'
      mode: 0o755

  - name: 'curl https://github.com/Icinga/icingaweb2-module-x509/archive/{{ icingaweb2_module_x509__version }}.tar.gz --output /tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
    ansible.builtin.get_url:
      url: 'https://github.com/Icinga/icingaweb2-module-x509/archive/{{ icingaweb2_module_x509__version }}.tar.gz'
      dest: '/tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
    delegate_to: 'localhost'
    run_once: true
    check_mode: false # run task even if `--check` is specified

  - name: 'copy /tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz to /tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
    ansible.builtin.copy:
      src: '/tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
      dest: '/tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'

  - name: 'tar xfz --strip-components 1 -C /usr/share/icingaweb2/modules/x509 /tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
    ansible.builtin.unarchive:
      src: '/tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
      dest: '/usr/share/icingaweb2/modules/x509'
      remote_src: false
      extra_opts:
        - '--strip-components=1'

  - name: 'rm -f /tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
    ansible.builtin.file:
      path: '/tmp/ansible.icingaweb2-module-x509-{{ icingaweb2_module_x509__version }}.tar.gz'
      state: 'absent'

  - name: 'icingacli module enable x509'
    ansible.builtin.command: 'icingacli module enable x509'
    args:
      creates: '/etc/icingaweb2/enabledModules/x509'

  - name: 'Deploy /etc/icingaweb2/modules/x509/config.ini'
    ansible.builtin.template:
      src: 'etc/icingaweb2/modules/x509/config.ini.j2'
      dest: '/etc/icingaweb2/modules/x509/config.ini'
      owner: 'apache'
      group: 'icingaweb2'
      mode: 0o664

  - name: 'Check if the x509 tables exist'
    community.mysql.mysql_query:
      login_user: '{{ icingaweb2_module_x509__database_login["username"] }}'
      login_password: '{{ icingaweb2_module_x509__database_login["password"] }}'
      login_host: '{{ icingaweb2_module_x509__database_host }}'
      login_unix_socket: '{{ (icingaweb2_module_x509__database_host == "localhost") | ternary("/var/lib/mysql/mysql.sock", omit) }}' # https://github.com/PyMySQL/PyMySQL/issues/509#issuecomment-244072354
      login_db: '{{ icingaweb2_module_x509__database_name }}'
      query: 'SHOW TABLES LIKE "x509_certificate";'
    register: 'icingaweb2_module_x509__table_exists_result'
    check_mode: false # run task even if `--check` is specified

  - name: 'import schema for x509 database'
    community.mysql.mysql_db:
      login_user: '{{ icingaweb2_module_x509__database_login["username"] }}'
      login_password: '{{ icingaweb2_module_x509__database_login["password"] }}'
      login_host: '{{ icingaweb2_module_x509__database_host }}'
      login_unix_socket: '{{ (icingaweb2_module_x509__database_host == "localhost") | ternary("/var/lib/mysql/mysql.sock", omit) }}' # https://github.com/PyMySQL/PyMySQL/issues/509#issuecomment-244072354
      name: '{{ icingaweb2_module_x509__database_name }}'
      state: 'import'
      target: '/usr/share/icingaweb2/modules/x509/schema/mysql.schema.sql'
    when:
      # this module is not idempotent when state is import, and will import the dump file each time if run more than once. therefore, we check the existence manually before
      - 'icingaweb2_module_x509__table_exists_result["rowcount"][0] == 0'

  tags:
    - 'icingaweb2_module_x509'
